In [1]:
import re
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', None)

# Const

In [2]:
dir_item = '/home/jake/Documents/News_Item/'
dir_proj = dir_item + 'Rare_Earth/'
dir_tableau = dir_proj + 'tableau_data/'

rares = {}

years = range(2002, 2017)
files = [f'rareemyb{str(y)[-2:]}.xlsm' if y < 2006 else f'myb1-{y}-raree.xlsm' if y < 2016 else f'myb1-{y}-raree-adv.xlsm' for y in years]
paths = dict(zip(years, [dir_proj + f for f in files]))
paths

{2002: '/home/jake/Documents/News_Item/Rare_Earth/rareemyb02.xlsm',
 2003: '/home/jake/Documents/News_Item/Rare_Earth/rareemyb03.xlsm',
 2004: '/home/jake/Documents/News_Item/Rare_Earth/rareemyb04.xlsm',
 2005: '/home/jake/Documents/News_Item/Rare_Earth/rareemyb05.xlsm',
 2006: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2006-raree.xlsm',
 2007: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2007-raree.xlsm',
 2008: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2008-raree.xlsm',
 2009: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2009-raree.xlsm',
 2010: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2010-raree.xlsm',
 2011: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2011-raree.xlsm',
 2012: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2012-raree.xlsm',
 2013: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2013-raree.xlsm',
 2014: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2014-raree.xlsm',
 2015: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2015-raree.xlsm',
 2016: '/home/jake/Documents/News_Item/Rare_Earth/myb1-2016-raree-adv.xlsm'}

# Load

In [3]:
def load_and_prepare_import(path, sheet_name=5, header=5):
    if ('myb03' in path) or ('myb02' in path):
        sheet_name = 4
    tmp = pd.read_excel(path, sheet_name, header)
    #     tmp = tmp.iloc[::, :10]
    tmp['does_number_exist'] = tmp.iloc[::, 2:].any(axis=1)
    tmp['does_indent_exist'] = ~tmp.iloc[::, 1].isna()
    tmp['is_country'] = tmp['does_number_exist'] & tmp['does_indent_exist']
    tmp['is_category'] = ~tmp['does_number_exist'] & tmp['does_indent_exist']
    tmp['is_note'] = ~tmp['does_number_exist'] & ~tmp['does_indent_exist']
    return tmp
    
# tmp = load_and_prepare_import(path_2016)
# tmp.head()

# Notes

In [4]:
# notes = tmp.loc[tmp['is_note'], tmp.columns[0]]; notes

# get_rare

In [5]:
def get_rare(tmp, recorded_year, max_indent=7):
    collection = []
    current_year = recorded_year
    previous_year = recorded_year - 1
    current_category = [''] * max_indent
    
    for idx, row in tmp.iterrows():
        if row['is_note']:
            continue
        indent = int(row[1])
        if row['is_category']:
            current_category[indent] = row[0]
        elif row['is_country']:
            if 'Total' in row[0]:
                start = indent - 1
            else:
                start = indent
            for c in reversed(current_category[:start]):
                obj = re.search(r'\(([\d\.,\s\*]+)\)', c)
                if obj:
                    code = obj.group(1)
                    break
                else:
                    code = ''
            previous_year_data = [code, previous_year, recorded_year, row[0]]  + row[2:6].to_list()
            current_year_data = [code, current_year, recorded_year, row[0]] + row[6:10].to_list()
            collection.append(previous_year_data)
            collection.append(current_year_data)
                                
    rare = pd.DataFrame(columns=['hts_code', 'year', 'recorded_year', 'country', 'weight(kilogram)', 'weight_revised', 'value(US dollar)', 'value_revised'], data=collection)
    return rare
                        
                        
# rare_2016 = get_rare(tmp)\n# rare_2016

# get_rare_or_tmp

In [6]:
def get_rare_or_tmp(year, debug=False):
    tmp = load_and_prepare_import(paths[year])
    if debug:
        return tmp
    
    return get_rare(tmp, year)

In [7]:
year = 2016
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0010,2015,2016,China,402000,NaN,1770000,NaN
1,2846.10.0010,2016,2016,China,801000,NaN,1770000,NaN
2,2846.10.0010,2015,2016,Japan,292000,NaN,13500000,NaN
3,2846.10.0010,2016,2016,Japan,332000,NaN,13100000,NaN
4,2846.10.0010,2015,2016,Other,35000,NaN,656000,NaN
5,2846.10.0010,2016,2016,Other,18700,NaN,723000,NaN
6,2846.10.0010,2015,2016,Total,730000,NaN,15900000,NaN
7,2846.10.0010,2016,2016,Total,1150000,NaN,15600000,NaN
8,2846.10.0010,2015,2016,Total estimated rare-earth-oxide (REO) equivalent,730000,NaN,XX,NaN
9,2846.10.0010,2016,2016,Total estimated rare-earth-oxide (REO) equivalent,1150000,NaN,XX,NaN
10,2846.10.0050,2015,2016,China,302000,NaN,1490000,NaN
11,2846.10.0050,2016,2016,China,424000,NaN,3600000,NaN
12,2846.10.0050,2015,2016,Estonia,658000,NaN,2080000,NaN
13,2846.10.0050,2016,2016,Estonia,525000,NaN,888000,NaN
14,2846.10.0050,2015,2016,Other,105000,r,4850000,r
15,2846.10.0050,2016,2016,Other,68800,NaN,1540000,NaN
16,2846.10.0050,2015,2016,Total,1060000,r,8420000,r
17,2846.10.0050,2016,2016,Total,1020000,NaN,6030000,NaN
18,2846.10.0050,2015,2016,Total estimated REO equivalent,712000,r,XX,NaN
19,2846.10.0050,2016,2016,Total estimated REO equivalent,681000,NaN,XX,NaN
20,2846.90.8070,2015,2016,China,755000,NaN,2220000,NaN
21,2846.90.8070,2016,2016,China,2330000,NaN,4290000,NaN
22,2846.90.8070,2015,2016,Other,212,r,26700,r
23,2846.90.8070,2016,2016,Other,14,NaN,38000,NaN
24,2846.90.8070,2015,2016,Total,755000,r,2250000,r
25,2846.90.8070,2016,2016,Total,2330000,NaN,4330000,NaN
26,2846.90.8070,2015,2016,Total estimated REO equivalent,517000,r,XX,NaN
27,2846.90.8070,2016,2016,Total estimated REO equivalent,1600000,NaN,XX,NaN
28,2846.90.8075,2015,2016,China,2400,NaN,127000,NaN
29,2846.90.8075,2016,2016,China,3450,NaN,172000,NaN
30,2846.90.8075,2015,2016,Estonia,38000,NaN,123000,NaN
31,2846.90.8075,2016,2016,Estonia,--,NaN,--,NaN
32,2846.90.8075,2015,2016,Other,165,r,40800,r
33,2846.90.8075,2016,2016,Other,4,NaN,21400,NaN
34,2846.90.8075,2015,2016,Total,40600,NaN,290000,NaN
35,2846.90.8075,2016,2016,Total,3450,NaN,193000,NaN
36,2846.90.8075,2015,2016,Total estimated REO equivalent,22300,NaN,XX,NaN
37,2846.90.8075,2016,2016,Total estimated REO equivalent,1900,NaN,XX,NaN
38,2846.90.2082,2015,2016,"Korea, Republic of",37,NaN,9100,NaN
39,2846.90.2082,2016,2016,"Korea, Republic of",109,NaN,26000,NaN
40,2846.90.2082,2015,2016,Other,15,r,13300,r
41,2846.90.2082,2016,2016,Other,1,NaN,5260,NaN
42,2846.90.2082,2015,2016,Total,52,NaN,22400,NaN
43,2846.90.2082,2016,2016,Total,110,NaN,31300,NaN
44,2846.90.2082,2015,2016,Total estimated REO equivalent,19.24,NaN,XX,NaN
45,2846.90.2082,2016,2016,Total estimated REO equivalent,40.7,NaN,XX,NaN
46,2846.90.2084,2015,2016,China,222000,NaN,1130000,NaN
47,2846.90.2084,2016,2016,China,345000,NaN,946000,NaN
48,2846.90.2084,2015,2016,Estonia,20000,NaN,947000,NaN
49,2846.90.2084,2016,2016,Estonia,80000,NaN,140000,NaN
50,2846.90.2084,2015,2016,France,37400,NaN,1320000,NaN
51,2846.90.2084,2016,2016,France,37100,NaN,1170000,NaN
52,2846.90.2084,2015,2016,Other,40900,r,136000,r
53,2846.90.2084,2016,2016,Other,4220,NaN,192000,NaN
54,2846.90.2084,2015,2016,Total,320000,NaN,3530000,NaN
55,2846.90.2084,2016,2016,Total,466000,NaN,2450000,NaN
56,2846.90.2084,2015,2016,Total estimated REO equivalent,176000,NaN,XX,NaN
57,2846.90.2084,2016,2016,Total estimated REO equivalent,256000,NaN,XX,NaN
58,2846.90.2005,2015,2016,China,2960000,r,10700000,r
59,2846.90.2005,2016,2016,China,3320000,NaN,7370000,NaN
60,2846.90.2005,2015,2016,Other,36600,r,723000,r
61,2846.90.2005,2016,2016,Other,11300,NaN,56200,NaN
62,2846.90.2005,2015,2016,Total,3000000,r,11400000,r
63,2846.90.2005,2016,2016,Total,3330000,NaN,7430000,NaN
64,2846.90.2005,2015,2016,Total estimated REO equivalent,3000000,NaN,XX,NaN
65,2846.90.2005,2016,2016,Total estimated REO equivalent,3330000,NaN,XX,NaN
66,2846.90.2015,2015,2016,China,5560,NaN,102000,NaN
67,2846.90.2015,2016,2016,China,4000,NaN,221000,NaN
68,2846.90.2015,2015,2016,Estonia,20000,NaN,109000,NaN
69,2846.90.2015,2016,2016,Estonia,--,NaN,--,NaN
70,2846.90.2015,2015,2016,France,4880,NaN,512000,NaN
71,2846.90.2015,2016,2016,France,--,NaN,--,NaN
72,2846.90.2015,2015,2016,"Korea, Republic of",731,NaN,190000,NaN
73,2846.90.2015,2016,2016,"Korea, Republic of",3660,NaN,333000,NaN
74,2846.90.2015,2015,2016,Other,130,r,24400,r
75,2846.90.2015,2016,2016,Other,1690,NaN,105000,NaN
76,2846.90.2015,2015,2016,Total,31300,NaN,937000,NaN
77,2846.90.2015,2016,2016,Total,9340,NaN,659000,NaN
78,2846.90.2015,2015,2016,Total estimated REO equivalent,31300,NaN,XX,NaN
79,2846.90.2015,2016,2016,Total estimated REO equivalent,9340,NaN,XX,NaN
80,2846.90.2040,2015,2016,China,66900,NaN,3020000,NaN
81,2846.90.2040,2016,2016,China,70700,NaN,2860000,NaN
82,2846.90.2040,2015,2016,Germany,16800,NaN,2990000,NaN
83,2846.90.2040,2016,2016,Germany,2200,NaN,270000,NaN
84,2846.90.2040,2015,2016,Japan,4970,NaN,342000,NaN
85,2846.90.2040,2016,2016,Japan,282,NaN,66600,NaN
86,2846.90.2040,2015,2016,Other,6680,r,287000,r
87,2846.90.2040,2016,2016,Other,6510,NaN,228000,NaN
88,2846.90.2040,2015,2016,Total,95400,NaN,6650000,NaN
89,2846.90.2040,2016,2016,Total,79700,NaN,3420000,NaN
90,2846.90.2040,2015,2016,Total estimated REO equivalent,95400,NaN,XX,NaN
91,2846.90.2040,2016,2016,Total estimated REO equivalent,79700,NaN,XX,NaN
92,2846.90.8090,2015,2016,China,4670000,NaN,54800000,r
93,2846.90.8090,2016,2016,China,6010000,NaN,31800000,NaN
94,2846.90.8090,2015,2016,Estonia,297000,r,1870000,r
95,2846.90.8090,2016,2016,Estonia,341000,NaN,717000,NaN
96,2846.90.8090,2015,2016,France,381000,NaN,7730000,NaN
97,2846.90.8090,2016,2016,France,644000,NaN,14500000,NaN
98,2846.90.8090,2015,2016,Malaysia,800000,NaN,2740000,NaN
99,2846.90.8090,2016,2016,Malaysia,440000,NaN,820000,NaN
100,2846.90.8090,2015,2016,Other,823000,r,25200000,r
101,2846.90.8090,2016,2016,Other,401000,NaN,17100000,NaN
102,2846.90.8090,2015,2016,Total,6970000,NaN,92300000,r
103,2846.90.8090,2016,2016,Total,7830000,NaN,64900000,NaN
104,2846.90.8090,2015,2016,Total estimated REO equivalent,3830000,NaN,XX,NaN
105,2846.90.8090,2016,2016,Total estimated REO equivalent,4310000,NaN,XX,NaN
106,2846.90.4000,2015,2016,China,75600,NaN,6160000,NaN
107,2846.90.4000,2016,2016,China,114000,NaN,2900000,NaN
108,2846.90.4000,2015,2016,Other,8420,r,5260000,r
109,2846.90.4000,2016,2016,Other,4140,NaN,1720000,NaN
110,2846.90.4000,2015,2016,Total,84000,NaN,11400000,NaN
111,2846.90.4000,2016,2016,Total,118000,NaN,4620000,NaN
112,2846.90.4000,2015,2016,Total estimated REO equivalent,50400,NaN,XX,NaN
113,2846.90.4000,2016,2016,Total estimated REO equivalent,71000,NaN,XX,NaN
114,3606.90.3000,2015,2016,Austria,39100,NaN,444000,r
115,3606.90.3000,2016,2016,Austria,51800,NaN,525000,NaN
116,3606.90.3000,2015,2016,China,206000,NaN,2560000,NaN
117,3606.90.3000,2016,2016,China,145000,NaN,1900000,NaN
118,3606.90.3000,2015,2016,France,139000,NaN,3080000,NaN
119,3606.90.3000,2016,2016,France,27900,NaN,609000,NaN
120,3606.90.3000,2015,2016,Spain,6730,NaN,139000,NaN
121,3606.90.3000,2016,2016,Spain,55300,NaN,1170000,NaN
122,3606.90.3000,2015,2016,Other,9790,r,87000,r
123,3606.90.3000,2016,2016,Other,21400,NaN,163000,NaN
124,3606.90.3000,2015,2016,Total,401000,NaN,6310000,NaN
125,3606.90.3000,2016,2016,Total,302000,NaN,4360000,NaN
126,3606.90.3000,2015,2016,Total estimated REO equivalent,356000,NaN,XX,NaN
127,3606.90.3000,2016,2016,Total estimated REO equivalent,268000,NaN,XX,NaN
128,2805.30.0010,2015,2016,China,97300,NaN,841000,NaN
129,2805.30.0010,2016,2016,China,64700,NaN,370000,NaN
130,2805.30.0010,2015,2016,Hong Kong,18500,NaN,129000,NaN
131,2805.30.0010,2016,2016,Hong Kong,20000,NaN,78600,NaN
132,2805.30.0010,2015,2016,Other,1180,NaN,73500,NaN
133,2805.30.0010,2016,2016,Other,301,NaN,17800,NaN
134,2805.30.0010,2015,2016,Total,117000,NaN,1040000,NaN
135,2805.30.0010,2016,2016,Total,85000,NaN,467000,NaN
136,2805.30.0010,2015,2016,Total estimated REO equivalent,144000,r,XX,NaN
137,2805.30.0010,2016,2016,Total estimated REO equivalent,104000,NaN,XX,NaN
138,2805.30.0005,2015,2016,China,61900,NaN,464000,NaN
139,2805.30.0005,2016,2016,China,43100,NaN,361000,NaN
140,2805.30.0005,2015,2016,Other,--,NaN,--,NaN
141,2805.30.0005,2016,2016,Other,352,NaN,35000,NaN
142,2805.30.0005,2015,2016,Total,61900,NaN,464000,NaN
143,2805.30.0005,2016,2016,Total,43400,NaN,396000,NaN
144,2805.30.0005,2015,2016,Total estimated REO equivalent,72600,NaN,XX,NaN
145,2805.30.0005,2016,2016,Total estimated REO equivalent,50900,NaN,XX,NaN
146,2805.30.0020,2015,2016,China,1940,NaN,223000,NaN
147,2805.30.0020,2016,2016,China,4060,NaN,147000,NaN
148,2805.30.0020,2015,2016,Japan,417,NaN,12400,NaN
149,2805.30.0020,2016,2016,Japan,601,NaN,97400,NaN
150,2805.30.0020,2015,2016,Thailand,1500,NaN,69000,NaN
151,2805.30.0020,2016,2016,Thailand,--,NaN,--,NaN
152,2805.30.0020,2015,2016,United Kingdom,680,NaN,105000,NaN
153,2805.30.0020,2016,2016,United Kingdom,2000,NaN,60800,NaN
154,2805.30.0020,2015,2016,Other,200,r,8000,r
155,2805.30.0020,2016,2016,Other,500,NaN,21000,NaN
156,2805.30.0020,2015,2016,Total,4730,NaN,417000,NaN
157,2805.30.0020,2016,2016,Total,7170,NaN,327000,NaN
158,2805.30.0020,2015,2016,Total estimated REO equivalent,5520,r,XX,NaN
159,2805.30.0020,2016,2016,Total estimated REO equivalent,8360,NaN,XX,NaN
160,2805.30.0050,2015,2016,China,59200,NaN,857000,NaN
161,2805.30.0050,2016,2016,China,37500,NaN,865000,NaN
162,2805.30.0050,2015,2016,Other,2250,NaN,192000,NaN
163,2805.30.0050,2016,2016,Other,5950,NaN,490000,NaN
164,2805.30.0050,2015,2016,Total,61400,NaN,1050000,NaN
165,2805.30.0050,2016,2016,Total,43400,NaN,1360000,NaN
166,2805.30.0050,2015,2016,Total estimated REO equivalent,73700,NaN,XX,NaN
167,2805.30.0050,2016,2016,Total estimated REO equivalent,52100,NaN,XX,NaN
168,2805.30.0090,2015,2016,China,46200,NaN,378000,NaN
169,2805.30.0090,2016,2016,China,139000,NaN,673000,NaN
170,2805.30.0090,2015,2016,Japan,18800,NaN,519000,NaN
171,2805.30.0090,2016,2016,Japan,14100,NaN,327000,NaN
172,2805.30.0090,2015,2016,Other,9250,r,479000,r
173,2805.30.0090,2016,2016,Other,3560,NaN,313000,NaN
174,2805.30.0090,2015,2016,Total,74300,NaN,1380000,NaN
175,2805.30.0090,2016,2016,Total,157000,NaN,1310000,NaN
176,2805.30.0090,2015,2016,Total estimated REO equivalent,89100,NaN,XX,NaN
177,2805.30.0090,2016,2016,Total estimated REO equivalent,188000,NaN,XX,NaN

In [8]:
year = 2015
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0010,2014,2015,China,307000,NaN,1680000,NaN
1,2846.10.0010,2015,2015,China,402000,NaN,1770000,True
2,2846.10.0010,2014,2015,Japan,309000,NaN,12300000,NaN
3,2846.10.0010,2015,2015,Japan,292000,NaN,13500000,True
4,2846.10.0010,2014,2015,Other,73600,r,897000,r
5,2846.10.0010,2015,2015,Other,35000,NaN,656000,True
6,2846.10.0010,2014,2015,Total,690000,NaN,14900000,NaN
7,2846.10.0010,2015,2015,Total,730000,NaN,15900000,True
8,2846.10.0010,2014,2015,Total estimated equivalent rare-earth oxide (REO) content,690000,NaN,XX,NaN
9,2846.10.0010,2015,2015,Total estimated equivalent rare-earth oxide (REO) content,730000,NaN,XX,True
10,2846.10.0050,2014,2015,Austria,101000,NaN,1500000,NaN
11,2846.10.0050,2015,2015,Austria,46900,NaN,1040000,True
12,2846.10.0050,2014,2015,China,576000,NaN,2870000,NaN
13,2846.10.0050,2015,2015,China,302000,NaN,1490000,True
14,2846.10.0050,2014,2015,Estonia,385000,NaN,1860000,NaN
15,2846.10.0050,2015,2015,Estonia,658000,NaN,2080000,True
16,2846.10.0050,2014,2015,Other,57000,NaN,3440000,r
17,2846.10.0050,2015,2015,Other,58700,NaN,3840000,True
18,2846.10.0050,2014,2015,Total,1120000,NaN,9670000,r
19,2846.10.0050,2015,2015,Total,1070000,NaN,8450000,True
20,2846.10.0050,2014,2015,Total estimated equivalent REO content,749000,NaN,XX,NaN
21,2846.10.0050,2015,2015,Total estimated equivalent REO content,713000,NaN,XX,True
22,2846.90.8070,2014,2015,China,694000,NaN,4050000,NaN
23,2846.90.8070,2015,2015,China,755000,NaN,2220000,True
24,2846.90.8070,2014,2015,Other,143000,r,760000,r
25,2846.90.8070,2015,2015,Other,212,NaN,26700,True
26,2846.90.8070,2014,2015,Total,837000,NaN,4810000,NaN
27,2846.90.8070,2015,2015,Total,755000,NaN,2250000,True
28,2846.90.8070,2014,2015,Total estimated equivalent REO content,573000,NaN,XX,NaN
29,2846.90.8070,2015,2015,Total estimated equivalent REO content,517000,NaN,XX,True
30,2846.90.8075,2014,2015,Estonia,38000,NaN,150000,NaN
31,2846.90.8075,2015,2015,Estonia,38000,NaN,123000,True
32,2846.90.8075,2014,2015,Other,4930,r,491000,r
33,2846.90.8075,2015,2015,Other,2570,NaN,167000,True
34,2846.90.8075,2014,2015,Total,42900,NaN,642000,NaN
35,2846.90.8075,2015,2015,Total,40600,NaN,290000,True
36,2846.90.8075,2014,2015,Total estimated equivalent REO content,23600,NaN,XX,NaN
37,2846.90.8075,2015,2015,Total estimated equivalent REO content,22300,NaN,XX,True
38,2846.90.2082,2014,2015,China,5000,NaN,118000,NaN
39,2846.90.2082,2015,2015,China,7,NaN,5030,True
40,2846.90.2082,2014,2015,Other,15,NaN,13500,NaN
41,2846.90.2082,2015,2015,Other,45,NaN,17400,True
42,2846.90.2082,2014,2015,Total,5020,NaN,131000,NaN
43,2846.90.2082,2015,2015,Total,52,NaN,22400,True
44,2846.90.2082,2014,2015,Total estimated equivalent REO content,1860,NaN,XX,NaN
45,2846.90.2082,2015,2015,Total estimated equivalent REO content,19.24,NaN,XX,True
46,"2846.90.2080, 2846.90.2090, *3",2014,2015,China,131000,NaN,1220000,NaN
47,"2846.90.2080, 2846.90.2090, *3",2015,2015,China,XX,NaN,XX,True
48,"2846.90.2080, 2846.90.2090, *3",2014,2015,France,22100,NaN,1010000,NaN
49,"2846.90.2080, 2846.90.2090, *3",2015,2015,France,XX,NaN,XX,True
50,"2846.90.2080, 2846.90.2090, *3",2014,2015,Other,12600,NaN,1900000,NaN
51,"2846.90.2080, 2846.90.2090, *3",2015,2015,Other,XX,NaN,XX,True
52,"2846.90.2080, 2846.90.2090, *3",2014,2015,Total,165000,NaN,4130000,NaN
53,"2846.90.2080, 2846.90.2090, *3",2015,2015,Total,XX,NaN,XX,True
54,"2846.90.2080, 2846.90.2090, *3",2014,2015,Total estimated equivalent REO content,76100,NaN,XX,NaN
55,"2846.90.2080, 2846.90.2090, *3",2015,2015,Total estimated equivalent REO content,XX,NaN,XX,True
56,2846.90.2084,2014,2015,China,46400,NaN,433000,NaN
57,2846.90.2084,2015,2015,China,222000,NaN,1130000,True
58,2846.90.2084,2014,2015,France,14100,NaN,517000,NaN
59,2846.90.2084,2015,2015,France,37400,NaN,1320000,True
60,2846.90.2084,2014,2015,Malaysia,--,NaN,--,NaN
61,2846.90.2084,2015,2015,Malaysia,40000,NaN,103000,True
62,2846.90.2084,2014,2015,Other,12700,r,804000,r
63,2846.90.2084,2015,2015,Other,20900,NaN,980000,True
64,2846.90.2084,2014,2015,Total,73200,r,1750000,NaN
65,2846.90.2084,2015,2015,Total,320000,NaN,3530000,True
66,2846.90.2084,2014,2015,Total estimated equivalent REO content,40300,r,XX,NaN
67,2846.90.2084,2015,2015,Total estimated equivalent REO content,176000,NaN,XX,True
68,2846.90.2005,2014,2015,China,4280000,r,24000000,r
69,2846.90.2005,2015,2015,China,2960000,NaN,10700000,True
70,2846.90.2005,2014,2015,Other,311000,NaN,5250000,NaN
71,2846.90.2005,2015,2015,Other,36600,NaN,723000,True
72,2846.90.2005,2014,2015,Total,4600000,NaN,29200000,r
73,2846.90.2005,2015,2015,Total,3000000,NaN,11400000,True
74,2846.90.2005,2014,2015,Total estimated equivalent REO content,4600000,NaN,XX,NaN
75,2846.90.2005,2015,2015,Total estimated equivalent REO content,3000000,NaN,XX,True
76,2846.90.2015,2014,2015,China,79,NaN,13000,NaN
77,2846.90.2015,2015,2015,China,5560,NaN,102000,True
78,2846.90.2015,2014,2015,Estonia,58100,NaN,401000,NaN
79,2846.90.2015,2015,2015,Estonia,20000,NaN,109000,True
80,2846.90.2015,2014,2015,France,5860,NaN,662000,NaN
81,2846.90.2015,2015,2015,France,4880,NaN,512000,True
82,2846.90.2015,2014,2015,Other,4380,r,147000,NaN
83,2846.90.2015,2015,2015,Other,861,NaN,214000,True
84,2846.90.2015,2014,2015,Total,68500,NaN,1220000,NaN
85,2846.90.2015,2015,2015,Total,31300,NaN,937000,True
86,2846.90.2015,2014,2015,Total estimated equivalent REO content,68500,NaN,XX,NaN
87,2846.90.2015,2015,2015,Total estimated equivalent REO content,31300,NaN,XX,True
88,"2846.90.8050, *3",2014,2015,China,162000,NaN,2150000,NaN
89,"2846.90.8050, *3",2015,2015,China,XX,NaN,XX,True
90,"2846.90.8050, *3",2014,2015,Other,16500,r,1230000,r
91,"2846.90.8050, *3",2015,2015,Other,XX,NaN,XX,True
92,"2846.90.8050, *3",2014,2015,Total,178000,r,3380000,NaN
93,"2846.90.8050, *3",2015,2015,Total,XX,NaN,XX,True
94,"2846.90.8050, *3",2014,2015,Total estimated equivalent REO content,178000,r,XX,NaN
95,"2846.90.8050, *3",2015,2015,Total estimated equivalent REO content,XX,NaN,XX,True
96,2846.90.2040,2014,2015,China,40500,NaN,1820000,NaN
97,2846.90.2040,2015,2015,China,66900,NaN,3020000,True
98,2846.90.2040,2014,2015,Estonia,9970,NaN,904000,NaN
99,2846.90.2040,2015,2015,Estonia,--,NaN,--,True
100,2846.90.2040,2014,2015,Germany,15300,NaN,2620000,NaN
101,2846.90.2040,2015,2015,Germany,16800,NaN,2990000,True
102,2846.90.2040,2014,2015,Other,1010,NaN,304000,NaN
103,2846.90.2040,2015,2015,Other,11700,NaN,630000,True
104,2846.90.2040,2014,2015,Total,66700,NaN,5650000,NaN
105,2846.90.2040,2015,2015,Total,95400,NaN,6650000,True
106,2846.90.2040,2014,2015,Total estimated equivalent REO content,66700,NaN,XX,NaN
107,2846.90.2040,2015,2015,Total estimated equivalent REO content,95400,NaN,XX,True
108,"2846.90.2045, *3",2014,2015,China,40800,NaN,1360000,NaN
109,"2846.90.2045, *3",2015,2015,China,XX,NaN,XX,True
110,"2846.90.2045, *3",2014,2015,Estonia,191000,NaN,1620000,NaN
111,"2846.90.2045, *3",2015,2015,Estonia,XX,NaN,XX,True
112,"2846.90.2045, *3",2014,2015,Other,17700,NaN,2300000,NaN
113,"2846.90.2045, *3",2015,2015,Other,XX,NaN,XX,True
114,"2846.90.2045, *3",2014,2015,Total,249000,NaN,5280000,NaN
115,"2846.90.2045, *3",2015,2015,Total,XX,NaN,XX,True
116,"2846.90.2045, *3",2014,2015,Total estimated equivalent REO content,249000,NaN,XX,NaN
117,"2846.90.2045, *3",2015,2015,Total estimated equivalent REO content,XX,NaN,XX,True
118,2846.90.8090,2014,2015,China,4350000,NaN,40000000,NaN
119,2846.90.8090,2015,2015,China,4670000,NaN,54700000,True
120,2846.90.8090,2014,2015,Estonia,351000,NaN,140000,NaN
121,2846.90.8090,2015,2015,Estonia,154000,NaN,87200,True
122,2846.90.8090,2014,2015,France,259000,NaN,4890000,NaN
123,2846.90.8090,2015,2015,France,381000,NaN,7730000,True
124,2846.90.8090,2014,2015,Germany,191000,NaN,4410000,NaN
125,2846.90.8090,2015,2015,Germany,170000,NaN,3140000,True
126,2846.90.8090,2014,2015,Malaysia,497000,NaN,2780000,NaN
127,2846.90.8090,2015,2015,Malaysia,800000,NaN,2740000,True
128,2846.90.8090,2014,2015,Other,313000,r,17700000,r
129,2846.90.8090,2015,2015,Other,796000,NaN,23800000,True
130,2846.90.8090,2014,2015,Total,5960000,NaN,69900000,r
131,2846.90.8090,2015,2015,Total,6970000,NaN,92200000,True
132,2846.90.8090,2014,2015,Total estimated equivalent REO content,3280000,NaN,XX,NaN
133,2846.90.8090,2015,2015,Total estimated equivalent REO content,3830000,NaN,XX,True
134,2846.90.4000,2014,2015,China,152000,NaN,12400000,NaN
135,2846.90.4000,2015,2015,China,75600,NaN,6160000,True
136,2846.90.4000,2014,2015,Japan,25400,NaN,11800000,NaN
137,2846.90.4000,2015,2015,Japan,7770,NaN,4410000,True
138,2846.90.4000,2014,2015,Other,2700,r,897000,r
139,2846.90.4000,2015,2015,Other,649,NaN,857000,True
140,2846.90.4000,2014,2015,Total,180000,NaN,25100000,NaN
141,2846.90.4000,2015,2015,Total,84000,NaN,11400000,True
142,2846.90.4000,2014,2015,Total estimated equivalent REO content,108000,NaN,XX,NaN
143,2846.90.4000,2015,2015,Total estimated equivalent REO content,50400,NaN,XX,True
144,3606.90.3000,2014,2015,Austria,90900,NaN,974000,NaN
145,3606.90.3000,2015,2015,Austria,39100,NaN,442000,True
146,3606.90.3000,2014,2015,China,144000,NaN,2210000,NaN
147,3606.90.3000,2015,2015,China,206000,NaN,2560000,True
148,3606.90.3000,2014,2015,France,174000,NaN,5100000,NaN
149,3606.90.3000,2015,2015,France,139000,NaN,3080000,True
150,3606.90.3000,2014,2015,Other,9120,NaN,69400,
151,3606.90.3000,2015,2015,Other,16500,NaN,226000,True
152,3606.90.3000,2014,2015,Total,418000,NaN,8350000,NaN
153,3606.90.3000,2015,2015,Total,401000,NaN,6310000,True
154,3606.90.3000,2014,2015,Total estimated equivalent REO content,371000,NaN,XX,NaN
155,3606.90.3000,2015,2015,Total estimated equivalent REO content,356000,NaN,XX,True
156,2805.30.0010,2014,2015,China,48500,NaN,407000,NaN
157,2805.30.0010,2015,2015,China,97300,NaN,841000,True
158,2805.30.0010,2014,2015,Hong Kong,53100,NaN,431000,NaN
159,2805.30.0010,2015,2015,Hong Kong,18500,NaN,129000,True
160,2805.30.0010,2014,2015,Other,10300,NaN,109000,NaN
161,2805.30.0010,2015,2015,Other,1180,NaN,73500,True
162,2805.30.0010,2014,2015,Total,112000,NaN,947000,NaN
163,2805.30.0010,2015,2015,Total,117000,NaN,1040000,True
164,2805.30.0010,2014,2015,Total estimated equivalent REO content,134000,NaN,XX,NaN
165,2805.30.0010,2015,2015,Total estimated equivalent REO content,140000,NaN,XX,True
166,2805.30.0005,2014,2015,China,48400,NaN,626000,NaN
167,2805.30.0005,2015,2015,China,61900,NaN,464000,True
168,2805.30.0005,2014,2015,Other,2280,NaN,42000,r
169,2805.30.0005,2015,2015,Other,--,NaN,--,True
170,2805.30.0005,2014,2015,Total,50700,NaN,668000,r
171,2805.30.0005,2015,2015,Total,61900,NaN,464000,True
172,2805.30.0005,2014,2015,Total estimated equivalent REO content,60800,NaN,XX,NaN
173,2805.30.0005,2015,2015,Total estimated equivalent REO content,74200,NaN,XX,True
174,2805.30.0020,2014,2015,China,802,NaN,149000,NaN
175,2805.30.0020,2015,2015,China,1940,NaN,223000,True
176,2805.30.0020,2014,2015,Thailand,1500,NaN,720000,NaN
177,2805.30.0020,2015,2015,Thailand,1500,NaN,69000,True
178,2805.30.0020,2014,2015,United Kingdom,--,NaN,--,NaN
179,2805.30.0020,2015,2015,United Kingdom,680,NaN,105000,True
180,2805.30.0020,2014,2015,Other,--,NaN,--,NaN
181,2805.30.0020,2015,2015,Other,617,NaN,20400,True
182,2805.30.0020,2014,2015,Total,2300,NaN,869000,NaN
183,2805.30.0020,2015,2015,Total,4730,NaN,417000,True
184,2805.30.0020,2014,2015,Total estimated equivalent REO content,2760,NaN,XX,NaN
185,2805.30.0020,2015,2015,Total estimated equivalent REO content,5680,NaN,XX,True
186,2805.30.0050,2014,2015,China,24200,NaN,616000,NaN
187,2805.30.0050,2015,2015,China,59200,NaN,857000,True
188,2805.30.0050,2014,2015,Other,940,NaN,157000,NaN
189,2805.30.0050,2015,2015,Other,2250,NaN,192000,True
190,2805.30.0050,2014,2015,Total,25100,NaN,772000,NaN
191,2805.30.0050,2015,2015,Total,61400,NaN,1050000,True
192,2805.30.0050,2014,2015,Total estimated equivalent REO content,30100,NaN,XX,NaN
193,2805.30.0050,2015,2015,Total estimated equivalent REO content,73700,NaN,XX,True
194,2805.30.0090,2014,2015,Austria,11200,NaN,163000,NaN
195,2805.30.0090,2015,2015,Austria,5100,NaN,36700,True
196,2805.30.0090,2014,2015,China,79400,NaN,1490000,NaN
197,2805.30.0090,2015,2015,China,46200,NaN,378000,True
198,2805.30.0090,2014,2015,Japan,6380,NaN,170000,NaN
199,2805.30.0090,2015,2015,Japan,18800,NaN,519000,True
200,2805.30.0090,2014,2015,Other,3140,r,523000,r
201,2805.30.0090,2015,2015,Other,4150,NaN,443000,True
202,2805.30.0090,2014,2015,Total,100000,NaN,2350000,NaN
203,2805.30.0090,2015,2015,Total,74300,NaN,1380000,True
204,2805.30.0090,2014,2015,Total estimated equivalent REO content,120000,NaN,XX,NaN
205,2805.30.0090,2015,2015,Total estimated equivalent REO content,89100,NaN,XX,True

In [9]:
year = 2014
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2013,2014,Austria,73400,NaN,1780000,NaN
1,2846.10.0000,2014,2014,Austria,XX,NaN,XX,True
2,2846.10.0000,2013,2014,China,360000,NaN,2890000,NaN
3,2846.10.0000,2014,2014,China,XX,NaN,XX,True
4,2846.10.0000,2013,2014,Estonia,30200,NaN,416000,
5,2846.10.0000,2014,2014,Estonia,XX,NaN,XX,True
6,2846.10.0000,2013,2014,Japan,77200,NaN,3580000,NaN
7,2846.10.0000,2014,2014,Japan,XX,NaN,XX,True
8,2846.10.0000,2013,2014,Other,57700,NaN,812000,NaN
9,2846.10.0000,2014,2014,Other,XX,NaN,XX,True
10,2846.10.0000,2013,2014,Total,598000,NaN,9480000,NaN
11,2846.10.0000,2014,2014,Total,XX,NaN,XX,True
12,2846.10.0000,2013,2014,Total estimated equivalent rare-earth oxide (REO) content,400000,NaN,XX,NaN
13,2846.10.0000,2014,2014,Total estimated equivalent rare-earth oxide (REO) content,XX,NaN,XX,True
14,2846.10.0010,2013,2014,Austria,105000,NaN,1360000,NaN
15,2846.10.0010,2014,2014,Austria,5550,NaN,151000,True
16,2846.10.0010,2013,2014,China,195000,NaN,1120000,NaN
17,2846.10.0010,2014,2014,China,307000,NaN,1680000,True
18,2846.10.0010,2013,2014,Japan,88600,NaN,3600000,NaN
19,2846.10.0010,2014,2014,Japan,309000,NaN,12300000,True
20,2846.10.0010,2013,2014,Other,28700,NaN,1340000,NaN
21,2846.10.0010,2014,2014,Other,68000,NaN,747000,True
22,2846.10.0010,2013,2014,Total,417000,NaN,7410000,NaN
23,2846.10.0010,2014,2014,Total,690000,NaN,14900000,True
24,2846.10.0010,2013,2014,Total estimated equivalent (REO) content,417000,NaN,XX,NaN
25,2846.10.0010,2014,2014,Total estimated equivalent (REO) content,690000,NaN,XX,True
26,2846.10.0050,2013,2014,Austria,23200,NaN,428000,NaN
27,2846.10.0050,2014,2014,Austria,101000,NaN,1500000,True
28,2846.10.0050,2013,2014,China,187000,NaN,1060000,NaN
29,2846.10.0050,2014,2014,China,576000,NaN,2870000,True
30,2846.10.0050,2013,2014,Estonia,196000,NaN,900000,NaN
31,2846.10.0050,2014,2014,Estonia,385000,NaN,1860000,True
32,2846.10.0050,2013,2014,Other,25900,r,57000,r
33,2846.10.0050,2014,2014,Other,57000,NaN,3440000,True
34,2846.10.0050,2013,2014,Total,432000,NaN,2440000,r
35,2846.10.0050,2014,2014,Total,1120000,NaN,9670000,True
36,2846.10.0050,2013,2014,Total estimated equivalent (REO) content,289000,NaN,XX,NaN
37,2846.10.0050,2014,2014,Total estimated equivalent (REO) content,749000,NaN,XX,True
38,2846.90.2015,2013,2014,Estonia,XX,NaN,XX,NaN
39,2846.90.2015,2014,2014,Estonia,58100,NaN,401000,True
40,2846.90.2015,2013,2014,France,XX,NaN,XX,NaN
41,2846.90.2015,2014,2014,France,5860,NaN,662000,True
42,2846.90.2015,2013,2014,Other,XX,NaN,XX,NaN
43,2846.90.2015,2014,2014,Other,4460,NaN,160000,True
44,2846.90.2015,2013,2014,Total,XX,NaN,XX,NaN
45,2846.90.2015,2014,2014,Total,68500,NaN,1220000,True
46,2846.90.2015,2013,2014,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
47,2846.90.2015,2014,2014,Total estimated equivalent (REO) content,68500,NaN,XX,True
48,2846.90.8050,2013,2014,China,46300,NaN,994000,NaN
49,2846.90.8050,2014,2014,China,162000,NaN,2150000,True
50,2846.90.8050,2013,2014,Korea,9400,r,262000,r
51,2846.90.8050,2014,2014,Korea,9910,NaN,194000,True
52,2846.90.8050,2013,2014,Other,8300,r,733000,r
53,2846.90.8050,2014,2014,Other,14900,NaN,1040000,True
54,2846.90.8050,2013,2014,Total,63900,r,1990000,r
55,2846.90.8050,2014,2014,Total,186000,NaN,3380000,True
56,2846.90.8050,2013,2014,Total estimated equivalent (REO) content,63900,r,XX,NaN
57,2846.90.8050,2014,2014,Total estimated equivalent (REO) content,186000,NaN,XX,True
58,"2846.90.8060, 2846.90.2082",2013,2014,China,12000,NaN,264000,NaN
59,"2846.90.8060, 2846.90.2082",2014,2014,China,5000,NaN,118000,True
60,"2846.90.8060, 2846.90.2082",2013,2014,Other,608,NaN,87400,NaN
61,"2846.90.8060, 2846.90.2082",2014,2014,Other,15,NaN,13500,True
62,"2846.90.8060, 2846.90.2082",2013,2014,Total,12600,NaN,351000,NaN
63,"2846.90.8060, 2846.90.2082",2014,2014,Total,5020,NaN,131000,True
64,"2846.90.8060, 2846.90.2082",2013,2014,Total estimated equivalent (REO) content,4670,r,XX,NaN
65,"2846.90.8060, 2846.90.2082",2014,2014,Total estimated equivalent (REO) content,1860,NaN,XX,True
66,2846.90.4000,2013,2014,China,37200,NaN,6960000,NaN
67,2846.90.4000,2014,2014,China,152000,NaN,12400000,True
68,2846.90.4000,2013,2014,Germany,28000,NaN,4500000,NaN
69,2846.90.4000,2014,2014,Germany,38,NaN,490000,True
70,2846.90.4000,2013,2014,Japan,10500,NaN,4780000,NaN
71,2846.90.4000,2014,2014,Japan,25400,NaN,11800000,True
72,2846.90.4000,2013,2014,Other,727,r,487000,r
73,2846.90.4000,2014,2014,Other,2660,NaN,407000,True
74,2846.90.4000,2013,2014,Total,76500,r,16700000,r
75,2846.90.4000,2014,2014,Total,180000,NaN,25100000,True
76,2846.90.4000,2013,2014,Total estimated equivalent (REO) content,45900,r,XX,NaN
77,2846.90.4000,2014,2014,Total estimated equivalent (REO) content,108000,NaN,XX,True
78,2846.90.8070,2013,2014,China,830000,NaN,5610000,NaN
79,2846.90.8070,2014,2014,China,694000,NaN,4050000,True
80,2846.90.8070,2013,2014,Estonia,58100,NaN,394000,NaN
81,2846.90.8070,2014,2014,Estonia,42100,NaN,515000,True
82,2846.90.8070,2013,2014,Malaysia,--,NaN,--,NaN
83,2846.90.8070,2014,2014,Malaysia,83200,NaN,77200,True
84,2846.90.8070,2013,2014,Other,17,r,144000,r
85,2846.90.8070,2014,2014,Other,17800,NaN,167000,True
86,2846.90.8070,2013,2014,Total,888000,NaN,6140000,NaN
87,2846.90.8070,2014,2014,Total,837000,NaN,4810000,True
88,2846.90.8070,2013,2014,Total estimated equivalent (REO) content,608000,NaN,XX,NaN
89,2846.90.8070,2014,2014,Total estimated equivalent (REO) content,573000,NaN,XX,True
90,2846.90.8075,2013,2014,China,302,NaN,8890,NaN
91,2846.90.8075,2014,2014,China,4810,NaN,459000,True
92,2846.90.8075,2013,2014,Estonia,58800,NaN,428000,NaN
93,2846.90.8075,2014,2014,Estonia,38000,NaN,150000,True
94,2846.90.8075,2013,2014,Other,1020,r,64800,r
95,2846.90.8075,2014,2014,Other,114,NaN,32000,True
96,2846.90.8075,2013,2014,Total,60100,NaN,501000,NaN
97,2846.90.8075,2014,2014,Total,42900,NaN,642000,True
98,2846.90.8075,2013,2014,Total estimated equivalent (REO) content,33000,NaN,XX,NaN
99,2846.90.8075,2014,2014,Total estimated equivalent (REO) content,23600,NaN,XX,True
100,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2014,China,559000,NaN,5520000,NaN
101,"2846.90.2050, 2846.90.2080, 2846.90.2090",2014,2014,China,131000,NaN,1220000,True
102,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2014,France,36700,NaN,1430000,NaN
103,"2846.90.2050, 2846.90.2080, 2846.90.2090",2014,2014,France,22100,NaN,1010000,True
104,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2014,Hong Kong,135000,NaN,867000,NaN
105,"2846.90.2050, 2846.90.2080, 2846.90.2090",2014,2014,Hong Kong,--,NaN,--,True
106,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2014,Other,44700,NaN,6240000,NaN
107,"2846.90.2050, 2846.90.2080, 2846.90.2090",2014,2014,Other,12600,NaN,1900000,True
108,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2014,Total,776000,NaN,14100000,NaN
109,"2846.90.2050, 2846.90.2080, 2846.90.2090",2014,2014,Total,165000,NaN,4130000,True
110,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2014,Total estimated equivalent (REO) content,357000,NaN,XX,NaN
111,"2846.90.2050, 2846.90.2080, 2846.90.2090",2014,2014,Total estimated equivalent (REO) content,76100,NaN,XX,True
112,2846.90.2005,2013,2014,China,1520000,NaN,10000000,NaN
113,2846.90.2005,2014,2014,China,4290000,NaN,24100000,True
114,2846.90.2005,2013,2014,Other,98900,NaN,4200000,NaN
115,2846.90.2005,2014,2014,Other,311000,NaN,5250000,True
116,2846.90.2005,2013,2014,Total,1620000,NaN,14200000,NaN
117,2846.90.2005,2014,2014,Total,4600000,NaN,29300000,True
118,2846.90.2005,2013,2014,Total estimated equivalent (REO) content,1620000,NaN,XX,NaN
119,2846.90.2005,2014,2014,Total estimated equivalent (REO) content,4600000,NaN,XX,True
120,"2846.90.2010, 2846.90.2040",2013,2014,China,352000,NaN,3950000,NaN
121,"2846.90.2010, 2846.90.2040",2014,2014,China,40500,NaN,1820000,True
122,"2846.90.2010, 2846.90.2040",2013,2014,Estonia,200000,NaN,2160000,NaN
123,"2846.90.2010, 2846.90.2040",2014,2014,Estonia,9970,NaN,904000,True
124,"2846.90.2010, 2846.90.2040",2013,2014,Other,46300,r,4010000,r
125,"2846.90.2010, 2846.90.2040",2014,2014,Other,16300,NaN,2930000,True
126,"2846.90.2010, 2846.90.2040",2013,2014,Total,598000,NaN,10100000,NaN
127,"2846.90.2010, 2846.90.2040",2014,2014,Total,66700,NaN,5650000,True
128,"2846.90.2010, 2846.90.2040",2013,2014,Total estimated equivalent REO content,598000,NaN,XX,NaN
129,"2846.90.2010, 2846.90.2040",2014,2014,Total estimated equivalent REO content,66700,NaN,XX,True
130,2846.90.2045,2013,2014,China,6730,NaN,4460000,NaN
131,2846.90.2045,2014,2014,China,40800,NaN,1360000,True
132,2846.90.2045,2013,2014,Estonia,156000,NaN,1500000,NaN
133,2846.90.2045,2014,2014,Estonia,191000,NaN,1620000,True
134,2846.90.2045,2013,2014,Other,5800,r,713000,r
135,2846.90.2045,2014,2014,Other,17700,NaN,2300000,True
136,2846.90.2045,2013,2014,Total,169000,NaN,6670000,NaN
137,2846.90.2045,2014,2014,Total,249000,NaN,5280000,True
138,2846.90.2045,2013,2014,Total estimated equivalent REO content,169000,NaN,XX,NaN
139,2846.90.2045,2014,2014,Total estimated equivalent REO content,249000,NaN,XX,True
140,"2846.90.8000, 2846.90.8090",2013,2014,China,5960000,r,85700000,r
141,"2846.90.8000, 2846.90.8090",2014,2014,China,4350000,NaN,40000000,True
142,"2846.90.8000, 2846.90.8090",2013,2014,France,347000,NaN,28500000,NaN
143,"2846.90.8000, 2846.90.8090",2014,2014,France,259000,NaN,4890000,True
144,"2846.90.8000, 2846.90.8090",2013,2014,Malaysia,20000,NaN,126000,NaN
145,"2846.90.8000, 2846.90.8090",2014,2014,Malaysia,497000,NaN,2780000,True
146,"2846.90.8000, 2846.90.8090",2013,2014,Japan,368000,NaN,9130000,NaN
147,"2846.90.8000, 2846.90.8090",2014,2014,Japan,24500,NaN,3980000,True
148,"2846.90.8000, 2846.90.8090",2013,2014,Other,276000,r,24400000,r
149,"2846.90.8000, 2846.90.8090",2014,2014,Other,831000,NaN,18200000,True
150,"2846.90.8000, 2846.90.8090",2013,2014,Total,6970000,r,148000000,r
151,"2846.90.8000, 2846.90.8090",2014,2014,Total,5960000,NaN,69900000,True
152,"2846.90.8000, 2846.90.8090",2013,2014,Total estimated equivalent REO content,3830000,r,XX,NaN
153,"2846.90.8000, 2846.90.8090",2014,2014,Total estimated equivalent REO content,3280000,NaN,XX,True
154,2846.90.2084,2013,2014,China,XX,NaN,XX,NaN
155,2846.90.2084,2014,2014,China,46400,NaN,433000,True
156,2846.90.2084,2013,2014,Estonia,XX,NaN,XX,NaN
157,2846.90.2084,2014,2014,Estonia,11400,NaN,720000,True
158,2846.90.2084,2013,2014,France,XX,NaN,XX,NaN
159,2846.90.2084,2014,2014,France,14100,NaN,517000,True
160,2846.90.2084,2013,2014,Other,XX,,XX,NaN
161,2846.90.2084,2014,2014,Other,1060,NaN,83700,True
162,2846.90.2084,2013,2014,Total,XX,NaN,XX,NaN
163,2846.90.2084,2014,2014,Total,73000,NaN,1750000,True
164,2846.90.2084,2013,2014,Total estimated equivalent REO content,XX,NaN,XX,NaN
165,2846.90.2084,2014,2014,Total estimated equivalent REO content,40200,NaN,XX,True
166,3606.90.3000,2013,2014,Austria,88200,NaN,1010000,NaN
167,3606.90.3000,2014,2014,Austria,90900,NaN,974000,True
168,3606.90.3000,2013,2014,China,113000,NaN,1870000,NaN
169,3606.90.3000,2014,2014,China,144000,NaN,2210000,True
170,3606.90.3000,2013,2014,France,140000,NaN,4930000,NaN
171,3606.90.3000,2014,2014,France,174000,NaN,5100000,True
172,3606.90.3000,2013,2014,Other,11100,NaN,132000,
173,3606.90.3000,2014,2014,Other,9120,NaN,69400,True
174,3606.90.3000,2013,2014,Total,353000,NaN,7940000,NaN
175,3606.90.3000,2014,2014,Total,418000,NaN,8350000,True
176,3606.90.3000,2013,2014,Total estimated equivalent REO content,313000,NaN,XX,NaN
177,3606.90.3000,2014,2014,Total estimated equivalent REO content,371000,NaN,XX,True
178,2805.30.0010,2013,2014,China,75900,NaN,990000,NaN
179,2805.30.0010,2014,2014,China,48500,NaN,407000,True
180,2805.30.0010,2013,2014,Hong Kong,--,NaN,--,NaN
181,2805.30.0010,2014,2014,Hong Kong,53100,NaN,431000,True
182,2805.30.0010,2013,2014,Other,--,NaN,--,NaN
183,2805.30.0010,2014,2014,Other,10300,NaN,109000,True
184,2805.30.0010,2013,2014,Total,75900,NaN,990000,NaN
185,2805.30.0010,2014,2014,Total,112000,NaN,947000,True
186,2805.30.0010,2013,2014,Total estimated equivalent REO content,91100,NaN,XX,NaN
187,2805.30.0010,2014,2014,Total estimated equivalent REO content,134000,NaN,XX,True
188,2805.30.0005,2013,2014,China,7500,NaN,113000,NaN
189,2805.30.0005,2014,2014,China,48400,NaN,626000,True
190,2805.30.0005,2013,2014,Hong Kong,16700,NaN,158000,NaN
191,2805.30.0005,2014,2014,Hong Kong,--,NaN,--,True
192,2805.30.0005,2013,2014,Other,250,NaN,3750,NaN
193,2805.30.0005,2014,2014,Other,2280,NaN,--,True
194,2805.30.0005,2013,2014,Total,24400,NaN,275000,NaN
195,2805.30.0005,2014,2014,Total,50700,NaN,626000,True
196,2805.30.0005,2013,2014,Total estimated equivalent REO content,29300,NaN,XX,NaN
197,2805.30.0005,2014,2014,Total estimated equivalent REO content,60800,NaN,XX,True
198,2805.30.0020,2013,2014,China,202,NaN,41100,NaN
199,2805.30.0020,2014,2014,China,802,NaN,149000,True
200,2805.30.0020,2013,2014,Japan,11600,NaN,744000,NaN
201,2805.30.0020,2014,2014,Japan,--,NaN,--,True
202,2805.30.0020,2013,2014,Thailand,--,NaN,--,NaN
203,2805.30.0020,2014,2014,Thailand,1500,NaN,720000,True
204,2805.30.0020,2013,2014,Total,11800,NaN,785000,NaN
205,2805.30.0020,2014,2014,Total,2300,NaN,869000,True
206,2805.30.0020,2013,2014,Total estimated equivalent REO content,14100,NaN,XX,NaN
207,2805.30.0020,2014,2014,Total estimated equivalent REO content,2760,NaN,XX,True
208,2805.30.0050,2013,2014,China,14000,NaN,486000,NaN
209,2805.30.0050,2014,2014,China,24200,NaN,616000,True
210,2805.30.0050,2013,2014,Other,415,NaN,95800,NaN
211,2805.30.0050,2014,2014,Other,940,NaN,157000,True
212,2805.30.0050,2013,2014,Total,14400,NaN,582000,NaN
213,2805.30.0050,2014,2014,Total,25100,NaN,772000,True
214,2805.30.0050,2013,2014,Total estimated equivalent REO content,17300,NaN,XX,NaN
215,2805.30.0050,2014,2014,Total estimated equivalent REO content,30100,NaN,XX,True
216,2805.30.0090,2013,2014,Austria,544,NaN,34100,NaN
217,2805.30.0090,2014,2014,Austria,11200,NaN,163000,True
218,2805.30.0090,2013,2014,China,31700,NaN,1250000,NaN
219,2805.30.0090,2014,2014,China,79400,NaN,1490000,True
220,2805.30.0090,2013,2014,Other,3500,r,247000,r
221,2805.30.0090,2014,2014,Other,9530,NaN,693000,True
222,2805.30.0090,2013,2014,Total,35800,NaN,1530000,NaN
223,2805.30.0090,2014,2014,Total,100000,NaN,2350000,True
224,2805.30.0090,2013,2014,Total estimated equivalent REO content,42900,NaN,XX,NaN
225,2805.30.0090,2014,2014,Total estimated equivalent REO content,120000,NaN,XX,True
226,2805.30.0000,2013,2014,China,105000,NaN,2360000,NaN
227,2805.30.0000,2014,2014,China,XX,NaN,XX,True
228,2805.30.0000,2013,2014,Japan,26800,NaN,1710000,NaN
229,2805.30.0000,2014,2014,Japan,XX,NaN,XX,True
230,2805.30.0000,2013,2014,South Africa,10500,NaN,225000,NaN
231,2805.30.0000,2014,2014,South Africa,XX,NaN,XX,True
232,2805.30.0000,2013,2014,Vietnam,16000,NaN,618000,NaN
233,2805.30.0000,2014,2014,Vietnam,XX,NaN,XX,True
234,2805.30.0000,2013,2014,Other,7630,r,548000,r
235,2805.30.0000,2014,2014,Other,XX,NaN,XX,True
236,2805.30.0000,2013,2014,Total,166000,NaN,5460000,NaN
237,2805.30.0000,2014,2014,Total,XX,NaN,XX,True
238,2805.30.0000,2013,2014,Total estimated equivalent REO content,199000,NaN,XX,NaN
239,2805.30.0000,2014,2014,Total estimated equivalent REO content,XX,NaN,XX,True

In [10]:
year = 2013
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2012,2013,Austria,187000,NaN,8030000,NaN
1,2846.10.0000,2013,2013,Austria,73400,NaN,1780000,True
2,2846.10.0000,2012,2013,China,1040000,NaN,24200000,NaN
3,2846.10.0000,2013,2013,China,360000,NaN,2890000,True
4,2846.10.0000,2012,2013,Estonia,428000,NaN,6020000,
5,2846.10.0000,2013,2013,Estonia,30200,NaN,416000,True
6,2846.10.0000,2012,2013,Japan,189000,NaN,10300000,NaN
7,2846.10.0000,2013,2013,Japan,77200,NaN,3580000,True
8,2846.10.0000,2012,2013,Spain,80300,NaN,816000,
9,2846.10.0000,2013,2013,Spain,--,NaN,--,True
10,2846.10.0000,2012,2013,Other,153000,r,2550000,r
11,2846.10.0000,2013,2013,Other,57700,,812000,True
12,2846.10.0000,2012,2013,Total,2080000,NaN,52000000,NaN
13,2846.10.0000,2013,2013,Total,598000,NaN,9480000,True
14,2846.10.0000,2012,2013,Total estimated equivalent rare-earth oxide (REO) content,1390000,NaN,XX,NaN
15,2846.10.0000,2013,2013,Total estimated equivalent rare-earth oxide (REO) content,400000,NaN,XX,True
16,2846.10.0010,2012,2013,Austria,XX,NaN,XX,NaN
17,2846.10.0010,2013,2013,Austria,105000,NaN,1360000,True
18,2846.10.0010,2012,2013,China,XX,NaN,XX,NaN
19,2846.10.0010,2013,2013,China,195000,NaN,1120000,True
20,2846.10.0010,2012,2013,Japan,XX,NaN,XX,NaN
21,2846.10.0010,2013,2013,Japan,88600,NaN,3600000,True
22,2846.10.0010,2012,2013,Other,XX,NaN,XX,NaN
23,2846.10.0010,2013,2013,Other,28700,NaN,1340000,True
24,2846.10.0010,2012,2013,Total,XX,NaN,XX,NaN
25,2846.10.0010,2013,2013,Total,417000,NaN,7410000,True
26,2846.10.0010,2012,2013,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
27,2846.10.0010,2013,2013,Total estimated equivalent (REO) content,417000,NaN,XX,True
28,2846.10.0050,2012,2013,Austria,XX,NaN,XX,NaN
29,2846.10.0050,2013,2013,Austria,23200,NaN,428000,True
30,2846.10.0050,2012,2013,China,XX,NaN,XX,NaN
31,2846.10.0050,2013,2013,China,187000,NaN,1060000,True
32,2846.10.0050,2012,2013,Estonia,XX,NaN,XX,NaN
33,2846.10.0050,2013,2013,Estonia,196000,NaN,900000,True
34,2846.10.0050,2012,2013,Germany,XX,NaN,XX,NaN
35,2846.10.0050,2013,2013,Germany,11200,NaN,2240000,True
36,2846.10.0050,2012,2013,Other,XX,NaN,XX,NaN
37,2846.10.0050,2013,2013,Other,14700,NaN,431000,True
38,2846.10.0050,2012,2013,Total,XX,NaN,XX,NaN
39,2846.10.0050,2013,2013,Total,432000,NaN,5050000,True
40,2846.10.0050,2012,2013,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
41,2846.10.0050,2013,2013,Total estimated equivalent (REO) content,289000,NaN,XX,True
42,2846.90.8050,2012,2013,China,XX,NaN,XX,NaN
43,2846.90.8050,2013,2013,China,46300,NaN,994000,True
44,2846.90.8050,2012,2013,Japan,XX,NaN,XX,NaN
45,2846.90.8050,2013,2013,Japan,4870,NaN,588000,True
46,2846.90.8050,2012,2013,Korea,XX,NaN,XX,NaN
47,2846.90.8050,2013,2013,Korea,9240,NaN,213000,True
48,2846.90.8050,2012,2013,Other,XX,NaN,XX,NaN
49,2846.90.8050,2013,2013,Other,3430,NaN,144000,True
50,2846.90.8050,2012,2013,Total,XX,NaN,XX,NaN
51,2846.90.8050,2013,2013,Total,63800,NaN,1940000,True
52,2846.90.8050,2012,2013,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
53,2846.90.8050,2013,2013,Total estimated equivalent (REO) content,63800,NaN,XX,True
54,2846.90.8060,2012,2013,China,XX,NaN,XX,NaN
55,2846.90.8060,2013,2013,China,12000,NaN,264000,True
56,2846.90.8060,2012,2013,Other,XX,NaN,XX,NaN
57,2846.90.8060,2013,2013,Other,608,NaN,87400,True
58,2846.90.8060,2012,2013,Total,XX,NaN,XX,NaN
59,2846.90.8060,2013,2013,Total,12600,NaN,351000,True
60,2846.90.8060,2012,2013,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
61,2846.90.8060,2013,2013,Total estimated equivalent (REO) content,4410,NaN,XX,True
62,2846.90.4000,2012,2013,China,15800,NaN,3600000,NaN
63,2846.90.4000,2013,2013,China,37200,NaN,6960000,True
64,2846.90.4000,2012,2013,Germany,3160,NaN,986000,NaN
65,2846.90.4000,2013,2013,Germany,28000,NaN,4500000,True
66,2846.90.4000,2012,2013,Japan,25200,NaN,513000,NaN
67,2846.90.4000,2013,2013,Japan,10500,NaN,4780000,True
68,2846.90.4000,2012,2013,Other,1130,r,770000,r
69,2846.90.4000,2013,2013,Other,889,NaN,535000,True
70,2846.90.4000,2012,2013,Total,45400,NaN,5870000,NaN
71,2846.90.4000,2013,2013,Total,76600,NaN,16800000,True
72,2846.90.4000,2012,2013,Total estimated equivalent (REO) content,27200,NaN,XX,NaN
73,2846.90.4000,2013,2013,Total estimated equivalent (REO) content,46000,NaN,XX,True
74,2846.90.8070,2012,2013,China,XX,NaN,XX,NaN
75,2846.90.8070,2013,2013,China,830000,NaN,5610000,True
76,2846.90.8070,2012,2013,Other,XX,NaN,XX,NaN
77,2846.90.8070,2013,2013,Other,58200,NaN,538000,True
78,2846.90.8070,2012,2013,Total,XX,NaN,XX,NaN
79,2846.90.8070,2013,2013,Total,888000,NaN,6140000,True
80,2846.90.8070,2012,2013,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
81,2846.90.8070,2013,2013,Total estimated equivalent (REO) content,608000,NaN,XX,True
82,2846.90.8075,2012,2013,Estonia,XX,NaN,XX,NaN
83,2846.90.8075,2013,2013,Estonia,58800,NaN,428000,True
84,2846.90.8075,2012,2013,Other,XX,NaN,XX,NaN
85,2846.90.8075,2013,2013,Other,1320,NaN,73600,True
86,2846.90.8075,2012,2013,Total,XX,NaN,XX,NaN
87,2846.90.8075,2013,2013,Total,60100,NaN,501000,True
88,2846.90.8075,2012,2013,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
89,2846.90.8075,2013,2013,Total estimated equivalent (REO) content,33000,NaN,XX,True
90,"2846.90.2050, 2846.90.2080, 2846.90.2090",2012,2013,China,717000,NaN,9030000,NaN
91,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2013,China,559000,NaN,5520000,True
92,"2846.90.2050, 2846.90.2080, 2846.90.2090",2012,2013,France,236000,NaN,1790000,NaN
93,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2013,France,36700,NaN,1430000,True
94,"2846.90.2050, 2846.90.2080, 2846.90.2090",2012,2013,Hong Kong,--,NaN,--,NaN
95,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2013,Hong Kong,135000,NaN,867000,True
96,"2846.90.2050, 2846.90.2080, 2846.90.2090",2012,2013,Other,123000,r,16900000,r
97,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2013,Other,44700,NaN,6240000,True
98,"2846.90.2050, 2846.90.2080, 2846.90.2090",2012,2013,Total,1080000,NaN,27700000,NaN
99,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2013,Total,776000,NaN,14100000,True
100,"2846.90.2050, 2846.90.2080, 2846.90.2090",2012,2013,Total estimated equivalent (REO) content,XX,r,XX,NaN
101,"2846.90.2050, 2846.90.2080, 2846.90.2090",2013,2013,Total estimated equivalent (REO) content,357000,NaN,XX,True
102,2846.90.2005,2012,2013,China,XX,NaN,XX,NaN
103,2846.90.2005,2013,2013,China,1520000,NaN,10000000,True
104,2846.90.2005,2012,2013,Other,XX,NaN,XX,NaN
105,2846.90.2005,2013,2013,Other,98900,NaN,4200000,True
106,2846.90.2005,2012,2013,Total,XX,NaN,XX,NaN
107,2846.90.2005,2013,2013,Total,1620000,NaN,14200000,True
108,2846.90.2005,2012,2013,Total estimated equivalent (REO) content,XX,NaN,XX,NaN
109,2846.90.2005,2013,2013,Total estimated equivalent (REO) content,1620000,NaN,XX,True
110,2846.90.2010,2012,2013,China,331000,r,9700000,NaN
111,2846.90.2010,2013,2013,China,352000,NaN,3950000,True
112,2846.90.2010,2012,2013,Estonia,103000,NaN,2190000,NaN
113,2846.90.2010,2013,2013,Estonia,200000,NaN,2160000,True
114,2846.90.2010,2012,2013,Italy,37500,,5480000,
115,2846.90.2010,2013,2013,Italy,25100,NaN,3690000,True
116,2846.90.2010,2012,2013,Other,62100,r,8310000,r
117,2846.90.2010,2013,2013,Other,21300,NaN,319000,True
118,2846.90.2010,2012,2013,Total,534000,r,25700000,NaN
119,2846.90.2010,2013,2013,Total,598000,NaN,10100000,True
120,2846.90.2010,2012,2013,Total estimated equivalent REO content,534000,r,XX,NaN
121,2846.90.2010,2013,2013,Total estimated equivalent REO content,598000,NaN,XX,True
122,2846.90.2045,2012,2013,China,XX,,XX,NaN
123,2846.90.2045,2013,2013,China,6730,NaN,4460000,True
124,2846.90.2045,2012,2013,Estonia,XX,NaN,XX,NaN
125,2846.90.2045,2013,2013,Estonia,156000,NaN,1500000,True
126,2846.90.2045,2012,2013,United Kingdom,XX,,XX,
127,2846.90.2045,2013,2013,United Kingdom,2000,NaN,145000,True
128,2846.90.2045,2012,2013,Other,XX,,XX,
129,2846.90.2045,2013,2013,Other,3800,NaN,568000,True
130,2846.90.2045,2012,2013,Total,XX,NaN,XX,NaN
131,2846.90.2045,2013,2013,Total,169000,NaN,6670000,True
132,2846.90.2045,2012,2013,Total estimated equivalent REO content,XX,NaN,XX,NaN
133,2846.90.2045,2013,2013,Total estimated equivalent REO content,169000,NaN,XX,True
134,2846.90.8000,2012,2013,China,1950000,NaN,127000000,NaN
135,2846.90.8000,2013,2013,China,4200000,NaN,51400000,True
136,2846.90.8000,2012,2013,France,787000,NaN,101000000,NaN
137,2846.90.8000,2013,2013,France,244000,NaN,23000000,True
138,2846.90.8000,2012,2013,Japan,566000,NaN,79300000,NaN
139,2846.90.8000,2013,2013,Japan,241000,NaN,5160000,True
140,2846.90.8000,2012,2013,Other,480000,r,71300000,r
141,2846.90.8000,2013,2013,Other,158000,NaN,17500000,True
142,2846.90.8000,2012,2013,Total,3790000,NaN,378000000,NaN
143,2846.90.8000,2013,2013,Total,4850000,NaN,97200000,True
144,2846.90.8000,2012,2013,Total estimated equivalent REO content,2840000,NaN,XX,NaN
145,2846.90.8000,2013,2013,Total estimated equivalent REO content,3630000,NaN,XX,True
146,2846.90.8090,2012,2013,China,XX,,XX,NaN
147,2846.90.8090,2013,2013,China,1660000,NaN,33600000,True
148,2846.90.8090,2012,2013,France,XX,NaN,XX,NaN
149,2846.90.8090,2013,2013,France,104000,NaN,5450000,True
150,2846.90.8090,2012,2013,Japan,XX,,XX,NaN
151,2846.90.8090,2013,2013,Japan,127000,NaN,3970000,True
152,2846.90.8090,2012,2013,Other,XX,,XX,
153,2846.90.8090,2013,2013,Other,139000,NaN,6990000,True
154,2846.90.8090,2012,2013,Total,XX,NaN,XX,NaN
155,2846.90.8090,2013,2013,Total,2030000,NaN,50000000,True
156,2846.90.8090,2012,2013,Total estimated equivalent REO content,XX,NaN,XX,NaN
157,2846.90.8090,2013,2013,Total estimated equivalent REO content,1110000,NaN,XX,True
158,3606.90.3000,2012,2013,Austria,69700,NaN,936000,NaN
159,3606.90.3000,2013,2013,Austria,88200,NaN,1010000,True
160,3606.90.3000,2012,2013,China,85900,NaN,1270000,NaN
161,3606.90.3000,2013,2013,China,113000,NaN,1870000,True
162,3606.90.3000,2012,2013,France,155000,NaN,6390000,NaN
163,3606.90.3000,2013,2013,France,140000,NaN,4930000,True
164,3606.90.3000,2012,2013,Other,493,NaN,12700,
165,3606.90.3000,2013,2013,Other,11100,NaN,132000,True
166,3606.90.3000,2012,2013,Total,311000,NaN,8610000,NaN
167,3606.90.3000,2013,2013,Total,353000,NaN,7940000,True
168,3606.90.3000,2012,2013,Total estimated equivalent REO content,276000,NaN,XX,NaN
169,3606.90.3000,2013,2013,Total estimated equivalent REO content,313000,NaN,XX,True
170,2805.30.0010,2012,2013,China,XX,NaN,XX,NaN
171,2805.30.0010,2013,2013,China,75900,NaN,990000,True
172,2805.30.0010,2012,2013,Total estimated equivalent REO content,XX,NaN,XX,NaN
173,2805.30.0010,2013,2013,Total estimated equivalent REO content,91100,NaN,XX,True
174,2805.30.0005,2012,2013,China,XX,NaN,XX,NaN
175,2805.30.0005,2013,2013,China,7500,NaN,113000,True
176,2805.30.0005,2012,2013,Estonia,XX,NaN,XX,NaN
177,2805.30.0005,2013,2013,Estonia,250,NaN,3750,True
178,2805.30.0005,2012,2013,Hong Kong,XX,NaN,XX,NaN
179,2805.30.0005,2013,2013,Hong Kong,16700,NaN,158000,True
180,2805.30.0005,2012,2013,Total,XX,NaN,XX,NaN
181,2805.30.0005,2013,2013,Total,24400,NaN,275000,True
182,2805.30.0005,2012,2013,Total estimated equivalent REO content,XX,NaN,XX,NaN
183,2805.30.0005,2013,2013,Total estimated equivalent REO content,29300,NaN,XX,True
184,2805.30.0020,2012,2013,China,XX,NaN,XX,NaN
185,2805.30.0020,2013,2013,China,202,NaN,41100,True
186,2805.30.0020,2012,2013,Japan,XX,NaN,XX,NaN
187,2805.30.0020,2013,2013,Japan,11600,NaN,744000,True
188,2805.30.0020,2012,2013,Total,XX,NaN,XX,NaN
189,2805.30.0020,2013,2013,Total,11800,NaN,785000,True
190,2805.30.0020,2012,2013,Total estimated equivalent REO content,XX,NaN,XX,NaN
191,2805.30.0020,2013,2013,Total estimated equivalent REO content,14100,NaN,XX,True
192,2805.30.0050,2012,2013,China,XX,NaN,XX,NaN
193,2805.30.0050,2013,2013,China,14000,NaN,486000,True
194,2805.30.0050,2012,2013,Other,XX,NaN,XX,NaN
195,2805.30.0050,2013,2013,Other,415,NaN,95800,True
196,2805.30.0050,2012,2013,Total,XX,NaN,XX,NaN
197,2805.30.0050,2013,2013,Total,14400,NaN,582000,True
198,2805.30.0050,2012,2013,Total estimated equivalent REO content,XX,NaN,XX,NaN
199,2805.30.0050,2013,2013,Total estimated equivalent REO content,17300,NaN,XX,True
200,2805.30.0090,2012,2013,China,XX,NaN,XX,NaN
201,2805.30.0090,2013,2013,China,31700,NaN,1250000,True
202,2805.30.0090,2012,2013,Japan,XX,NaN,XX,NaN
203,2805.30.0090,2013,2013,Japan,1960,NaN,58000,True
204,2805.30.0090,2012,2013,Other,XX,NaN,XX,NaN
205,2805.30.0090,2013,2013,Other,2080,NaN,223000,True
206,2805.30.0090,2012,2013,Total,XX,NaN,XX,NaN
207,2805.30.0090,2013,2013,Total,35800,NaN,1530000,True
208,2805.30.0090,2012,2013,Total estimated equivalent REO content,XX,NaN,XX,NaN
209,2805.30.0090,2013,2013,Total estimated equivalent REO content,42900,NaN,XX,True
210,2805.30.0000,2012,2013,China,153000,NaN,19500000,NaN
211,2805.30.0000,2013,2013,China,105000,NaN,2360000,True
212,2805.30.0000,2012,2013,Japan,5770,NaN,237000,NaN
213,2805.30.0000,2013,2013,Japan,26800,NaN,1710000,True
214,2805.30.0000,2012,2013,United Kingdom,17800,NaN,231000,NaN
215,2805.30.0000,2013,2013,United Kingdom,1560,NaN,289000,True
216,2805.30.0000,2012,2013,Vietnam,5000,NaN,87300,NaN
217,2805.30.0000,2013,2013,Vietnam,16000,NaN,618000,True
218,2805.30.0000,2012,2013,Other,19100,r,1740000,r
219,2805.30.0000,2013,2013,Other,16600,NaN,484000,True
220,2805.30.0000,2012,2013,Total,200000,NaN,21800000,NaN
221,2805.30.0000,2013,2013,Total,166000,NaN,5460000,True
222,2805.30.0000,2012,2013,Total estimated equivalent REO content,240000,NaN,XX,NaN
223,2805.30.0000,2013,2013,Total estimated equivalent REO content,199000,NaN,XX,True

In [11]:
year = 2012
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2011,2012,Austria,302000,NaN,10400000,NaN
1,2846.10.0000,2012,2012,Austria,187000,NaN,8030000,True
2,2846.10.0000,2011,2012,China,640000,NaN,38500000,NaN
3,2846.10.0000,2012,2012,China,1040000,NaN,24200000,True
4,2846.10.0000,2011,2012,Estonia,182000,NaN,10600000,
5,2846.10.0000,2012,2012,Estonia,428000,NaN,6020000,True
6,2846.10.0000,2011,2012,India,192000,,7370000,
7,2846.10.0000,2012,2012,India,150,NaN,17200,True
8,2846.10.0000,2011,2012,Japan,168000,NaN,8710000,NaN
9,2846.10.0000,2012,2012,Japan,189000,NaN,10300000,True
10,2846.10.0000,2011,2012,Spain,923,,20300,
11,2846.10.0000,2012,2012,Spain,80300,NaN,816000,True
12,2846.10.0000,2011,2012,Other,190000,r,11500000,r
13,2846.10.0000,2012,2012,Other,152000,NaN,2530000,True
14,2846.10.0000,2011,2012,Total,1.67e+06,NaN,87100000,NaN
15,2846.10.0000,2012,2012,Total,2080000,NaN,52000000,True
16,2846.10.0000,2011,2012,Total estimated equivalent rare-earth oxide (REO) content,1.12e+06,NaN,XX,NaN
17,2846.10.0000,2012,2012,Total estimated equivalent rare-earth oxide (REO) content,1390000,NaN,XX,True
18,3606.90.3000,2011,2012,Austria,28200,NaN,646000,NaN
19,3606.90.3000,2012,2012,Austria,69700,NaN,936000,True
20,3606.90.3000,2011,2012,China,44100,NaN,801000,NaN
21,3606.90.3000,2012,2012,China,85900,NaN,1270000,True
22,3606.90.3000,2011,2012,France,133000,NaN,2440000,NaN
23,3606.90.3000,2012,2012,France,155000,NaN,6390000,True
24,3606.90.3000,2011,2012,Other,3330,,46500,
25,3606.90.3000,2012,2012,Other,493,NaN,12700,True
26,3606.90.3000,2011,2012,Total,209000,NaN,3930000,NaN
27,3606.90.3000,2012,2012,Total,311000,NaN,8610000,True
28,3606.90.3000,2011,2012,Total estimated equivalent REO content,186000,NaN,XX,NaN
29,3606.90.3000,2012,2012,Total estimated equivalent REO content,276000,NaN,XX,True
30,2846.90.2050,2011,2012,China,636000,NaN,40600000,NaN
31,2846.90.2050,2012,2012,China,717000,NaN,9030000,True
32,2846.90.2050,2011,2012,France,120000,NaN,2010000,NaN
33,2846.90.2050,2012,2012,France,236000,NaN,1790000,True
34,2846.90.2050,2011,2012,"Korea, Republic of",29300,NaN,1820000,NaN
35,2846.90.2050,2012,2012,"Korea, Republic of",38600,NaN,1560000,True
36,2846.90.2050,2011,2012,Other,46000,r,7280000,r
37,2846.90.2050,2012,2012,Other,84100,NaN,15300000,True
38,2846.90.2050,2011,2012,Total,831000,NaN,51700000,NaN
39,2846.90.2050,2012,2012,Total,1080000,NaN,27700000,True
40,2846.90.2050,2011,2012,Total estimated equivalent REO content,382000,NaN,XX,NaN
41,2846.90.2050,2012,2012,Total estimated equivalent REO content,495000,NaN,XX,True
42,2846.90.2010,2011,2012,China,1.74e+06,NaN,92600000,NaN
43,2846.90.2010,2012,2012,China,334000,NaN,9700000,True
44,2846.90.2010,2011,2012,Estonia,17000,NaN,2370000,NaN
45,2846.90.2010,2012,2012,Estonia,103000,NaN,2190000,True
46,2846.90.2010,2011,2012,Other,78100,r,7240000,r
47,2846.90.2010,2012,2012,Other,99600,NaN,13800000,True
48,2846.90.2010,2011,2012,Total,1.83e+06,NaN,102000000,NaN
49,2846.90.2010,2012,2012,Total,537000,NaN,25700000,True
50,2846.90.2010,2011,2012,Total estimated equivalent REO content,1.83e+06,NaN,XX,NaN
51,2846.90.2010,2012,2012,Total estimated equivalent REO content,537000,NaN,XX,True
52,2846.90.8000,2011,2012,Austria,171000,NaN,15900000,NaN
53,2846.90.8000,2012,2012,Austria,194000,NaN,19900000,True
54,2846.90.8000,2011,2012,China,3.34e+06,NaN,279000000,NaN
55,2846.90.8000,2012,2012,China,1950000,NaN,127000000,True
56,2846.90.8000,2011,2012,France,425000,NaN,52500000,NaN
57,2846.90.8000,2012,2012,France,787000,NaN,101000000,True
58,2846.90.8000,2011,2012,Japan,701000,NaN,74200000,NaN
59,2846.90.8000,2012,2012,Japan,566000,NaN,79300000,True
60,2846.90.8000,2011,2012,Other,393000,r,53100000,r
61,2846.90.8000,2012,2012,Other,286000,NaN,51400000,True
62,2846.90.8000,2011,2012,Total,5.03e+06,NaN,475000000,NaN
63,2846.90.8000,2012,2012,Total,3790000,NaN,378000000,True
64,2846.90.8000,2011,2012,Total estimated equivalent REO content,3.77e+06,NaN,XX,NaN
65,2846.90.8000,2012,2012,Total estimated equivalent REO content,2840000,NaN,XX,True
66,2805.30.0000,2011,2012,Austria,13400,NaN,870000,NaN
67,2805.30.0000,2012,2012,Austria,11600,NaN,924000,True
68,2805.30.0000,2011,2012,China,282000,NaN,54600000,NaN
69,2805.30.0000,2012,2012,China,153000,NaN,19500000,True
70,2805.30.0000,2011,2012,Hong Kong,17200,NaN,1220000,NaN
71,2805.30.0000,2012,2012,Hong Kong,--,NaN,--,True
72,2805.30.0000,2011,2012,Japan,31400,NaN,6060000,NaN
73,2805.30.0000,2012,2012,Japan,5770,NaN,237000,True
74,2805.30.0000,2011,2012,United Kingdom,3070,NaN,510000,NaN
75,2805.30.0000,2012,2012,United Kingdom,17800,NaN,231000,True
76,2805.30.0000,2011,2012,Other,43300,r,7630000,r
77,2805.30.0000,2012,2012,Other,12500,NaN,908000,True
78,2805.30.0000,2011,2012,Total,390000,NaN,70800000,NaN
79,2805.30.0000,2012,2012,Total,200000,NaN,21800000,True
80,2805.30.0000,2011,2012,Total estimated equivalent REO content,468000,NaN,XX,NaN
81,2805.30.0000,2012,2012,Total estimated equivalent REO content,240000,NaN,XX,True
82,2846.90.4000,2011,2012,Austria,12100,NaN,169000,NaN
83,2846.90.4000,2012,2012,Austria,258,NaN,196000,True
84,2846.90.4000,2011,2012,China,37000,NaN,9140000,NaN
85,2846.90.4000,2012,2012,China,15800,NaN,3600000,True
86,2846.90.4000,2011,2012,Japan,3060,NaN,739000,NaN
87,2846.90.4000,2012,2012,Japan,25200,NaN,513000,True
88,2846.90.4000,2011,2012,Other,5730,r,1730000,r
89,2846.90.4000,2012,2012,Other,4030,NaN,1560000,True
90,2846.90.4000,2011,2012,Total,57900,NaN,11800000,NaN
91,2846.90.4000,2012,2012,Total,45400,NaN,5870000,True
92,2846.90.4000,2011,2012,Total estimated equivalent REO content,34700,NaN,XX,NaN
93,2846.90.4000,2012,2012,Total estimated equivalent REO content,27200,NaN,XX,True

In [12]:
year = 2011
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2010,2011,Austria,131000,NaN,1400000,NaN
1,2846.10.0000,2011,2011,Austria,302000,NaN,10400000,NaN
2,2846.10.0000,2010,2011,China,2010000,NaN,13500000,NaN
3,2846.10.0000,2011,2011,China,640000,NaN,38500000,NaN
4,2846.10.0000,2010,2011,Estonia,200000,,1040000,
5,2846.10.0000,2011,2011,Estonia,182000,NaN,10600000,NaN
6,2846.10.0000,2010,2011,France,11800,NaN,685000,NaN
7,2846.10.0000,2011,2011,France,48000,NaN,2370000,NaN
8,2846.10.0000,2010,2011,Japan,139000,NaN,4700000,NaN
9,2846.10.0000,2011,2011,Japan,168000,NaN,8710000,NaN
10,2846.10.0000,2010,2011,"Korea, Republic of",32400,NaN,275000,NaN
11,2846.10.0000,2011,2011,"Korea, Republic of",7360,NaN,298000,NaN
12,2846.10.0000,2010,2011,United Kingdom,60100,NaN,155000,NaN
13,2846.10.0000,2011,2011,United Kingdom,203,NaN,19400,NaN
14,2846.10.0000,2010,2011,Other,61500,r,939000,r
15,2846.10.0000,2011,2011,Other,327000,NaN,16200000,NaN
16,2846.10.0000,2010,2011,Total,2640000,NaN,22600000,NaN
17,2846.10.0000,2011,2011,Total,1670000,NaN,87100000,NaN
18,2846.10.0000,2010,2011,Total estimated equivalent rare-earth oxide (REO) content,1770000,NaN,XX,NaN
19,2846.10.0000,2011,2011,Total estimated equivalent rare-earth oxide (REO) content,1120000,NaN,XX,NaN
20,3606.90.3000,2010,2011,Austria,25400,NaN,626000,NaN
21,3606.90.3000,2011,2011,Austria,28200,NaN,646000,NaN
22,3606.90.3000,2010,2011,China,11900,NaN,184000,NaN
23,3606.90.3000,2011,2011,China,44100,NaN,801000,NaN
24,3606.90.3000,2010,2011,France,110000,NaN,2290000,NaN
25,3606.90.3000,2011,2011,France,133000,NaN,2440000,NaN
26,3606.90.3000,2010,2011,Germany,--,NaN,--,NaN
27,3606.90.3000,2011,2011,Germany,706,NaN,29500,NaN
28,3606.90.3000,2010,2011,Netherlands,--,NaN,--,NaN
29,3606.90.3000,2011,2011,Netherlands,2070,NaN,8500,NaN
30,3606.90.3000,2010,2011,Taiwan,700,,9530,
31,3606.90.3000,2011,2011,Taiwan,550,NaN,8500,NaN
32,3606.90.3000,2010,2011,Total,148000,NaN,3110000,NaN
33,3606.90.3000,2011,2011,Total,209000,NaN,3930000,NaN
34,3606.90.3000,2010,2011,Total estimated equivalent REO content,131000,NaN,XX,NaN
35,3606.90.3000,2011,2011,Total estimated equivalent REO content,186000,NaN,XX,NaN
36,2846.90.2050,2010,2011,Australia,1930,NaN,3190,NaN
37,2846.90.2050,2011,2011,Australia,--,NaN,--,NaN
38,2846.90.2050,2010,2011,China,2030000,NaN,11100000,NaN
39,2846.90.2050,2011,2011,China,636000,NaN,40600000,NaN
40,2846.90.2050,2010,2011,Estonia,4000,NaN,126000,NaN
41,2846.90.2050,2011,2011,Estonia,12000,NaN,1610000,NaN
42,2846.90.2050,2010,2011,France,10300,NaN,243000,NaN
43,2846.90.2050,2011,2011,France,120000,NaN,2010000,NaN
44,2846.90.2050,2010,2011,Germany,336,NaN,87000,NaN
45,2846.90.2050,2011,2011,Germany,10400,NaN,2980000,NaN
46,2846.90.2050,2010,2011,Japan,19500,NaN,206000,NaN
47,2846.90.2050,2011,2011,Japan,21200,NaN,2360000,NaN
48,2846.90.2050,2010,2011,"Korea, Republic of",--,NaN,--,NaN
49,2846.90.2050,2011,2011,"Korea, Republic of",29300,NaN,1820000,NaN
50,2846.90.2050,2010,2011,Russia,138,NaN,76400,NaN
51,2846.90.2050,2011,2011,Russia,248,NaN,186000,NaN
52,2846.90.2050,2010,2011,United Kingdom,15000,NaN,121000,NaN
53,2846.90.2050,2011,2011,United Kingdom,--,NaN,--,NaN
54,2846.90.2050,2010,2011,Other,--,NaN,--,NaN
55,2846.90.2050,2011,2011,Other,2120,NaN,141000,NaN
56,2846.90.2050,2010,2011,Total,2080000,NaN,12000000,NaN
57,2846.90.2050,2011,2011,Total,831000,NaN,51700000,NaN
58,2846.90.2050,2010,2011,Total estimated equivalent REO content,956000,NaN,XX,NaN
59,2846.90.2050,2011,2011,Total estimated equivalent REO content,382000,NaN,XX,NaN
60,2846.90.2010,2010,2011,Canada,--,NaN,--,NaN
61,2846.90.2010,2011,2011,Canada,11000,NaN,1080000,NaN
62,2846.90.2010,2010,2011,China,5410000,NaN,33400000,NaN
63,2846.90.2010,2011,2011,China,1740000,NaN,92600000,NaN
64,2846.90.2010,2010,2011,Estonia,--,NaN,--,NaN
65,2846.90.2010,2011,2011,Estonia,17000,NaN,2370000,NaN
66,2846.90.2010,2010,2011,Germany,1270,NaN,65400,NaN
67,2846.90.2010,2011,2011,Germany,615,NaN,39200,NaN
68,2846.90.2010,2010,2011,Ireland,34600,NaN,2830000,NaN
69,2846.90.2010,2011,2011,Ireland,43600,NaN,4240000,NaN
70,2846.90.2010,2010,2011,Italy,18400,NaN,1790000,NaN
71,2846.90.2010,2011,2011,Italy,6760,NaN,656000,NaN
72,2846.90.2010,2010,2011,Japan,9310,NaN,148000,NaN
73,2846.90.2010,2011,2011,Japan,12200,NaN,797000,NaN
74,2846.90.2010,2010,2011,Russia,63,NaN,35100,NaN
75,2846.90.2010,2011,2011,Russia,1870,NaN,230000,NaN
76,2846.90.2010,2010,2011,Other,56,r,22900,r
77,2846.90.2010,2011,2011,Other,2020,NaN,200000,NaN
78,2846.90.2010,2010,2011,Total,5480000,NaN,38300000,NaN
79,2846.90.2010,2011,2011,Total,1830000,NaN,102000000,NaN
80,2846.90.2010,2010,2011,Total estimated equivalent REO content,5480000,NaN,XX,NaN
81,2846.90.2010,2011,2011,Total estimated equivalent REO content,1830000,NaN,XX,NaN
82,2846.90.8000,2010,2011,Austria,108000,NaN,4390000,NaN
83,2846.90.8000,2011,2011,Austria,171000,NaN,15900000,NaN
84,2846.90.8000,2010,2011,Canada,--,NaN,--,NaN
85,2846.90.8000,2011,2011,Canada,6090,NaN,26800000,NaN
86,2846.90.8000,2010,2011,China,4080000,NaN,55400000,NaN
87,2846.90.8000,2011,2011,China,3340000,NaN,279000000,NaN
88,2846.90.8000,2010,2011,France,542000,NaN,16600000,NaN
89,2846.90.8000,2011,2011,France,425000,NaN,52500000,NaN
90,2846.90.8000,2010,2011,Germany,700,NaN,208000,NaN
91,2846.90.8000,2011,2011,Germany,8800,NaN,1500000,NaN
92,2846.90.8000,2010,2011,Hong Kong,100,NaN,6800,NaN
93,2846.90.8000,2011,2011,Hong Kong,1240,NaN,127000,NaN
94,2846.90.8000,2010,2011,Japan,417000,NaN,17300000,NaN
95,2846.90.8000,2011,2011,Japan,701000,NaN,74200000,NaN
96,2846.90.8000,2010,2011,Russia,13200,NaN,339000,NaN
97,2846.90.8000,2011,2011,Russia,360,NaN,208000,NaN
98,2846.90.8000,2010,2011,South Africa,64100,NaN,781000,NaN
99,2846.90.8000,2011,2011,South Africa,159000,NaN,5940000,NaN
100,2846.90.8000,2010,2011,United Kingdom,43800,NaN,211000,NaN
101,2846.90.8000,2011,2011,United Kingdom,27300,NaN,465000,NaN
102,2846.90.8000,2010,2011,Other,45800,NaN,1080000,NaN
103,2846.90.8000,2011,2011,Other,191000,NaN,18000000,NaN
104,2846.90.8000,2010,2011,Total,5310000,NaN,96300000,NaN
105,2846.90.8000,2011,2011,Total,5030000,NaN,475000000,NaN
106,2846.90.8000,2010,2011,Total estimated equivalent REO content,3980000,NaN,XX,NaN
107,2846.90.8000,2011,2011,Total estimated equivalent REO content,3770000,NaN,XX,NaN
108,2805.30.0000,2010,2011,Austria,3610,NaN,223000,NaN
109,2805.30.0000,2011,2011,Austria,13400,NaN,870000,NaN
110,2805.30.0000,2010,2011,Canada,224,NaN,19700,NaN
111,2805.30.0000,2011,2011,Canada,70,NaN,5240,NaN
112,2805.30.0000,2010,2011,China,361000,NaN,12300000,NaN
113,2805.30.0000,2011,2011,China,282000,NaN,54600000,NaN
114,2805.30.0000,2010,2011,Germany,70,NaN,17600,NaN
115,2805.30.0000,2011,2011,Germany,6800,NaN,620000,NaN
116,2805.30.0000,2010,2011,Hong Kong,46400,NaN,409000,NaN
117,2805.30.0000,2011,2011,Hong Kong,17200,NaN,1220000,NaN
118,2805.30.0000,2010,2011,Japan,13600,NaN,954000,NaN
119,2805.30.0000,2011,2011,Japan,31400,NaN,6060000,NaN
120,2805.30.0000,2010,2011,"Korea, Republic of",53,NaN,51600,NaN
121,2805.30.0000,2011,2011,"Korea, Republic of",--,NaN,--,NaN
122,2805.30.0000,2010,2011,Laos,--,NaN,--,NaN
123,2805.30.0000,2011,2011,Laos,16100,NaN,4290000,NaN
124,2805.30.0000,2010,2011,Russia,3620,NaN,328000,NaN
125,2805.30.0000,2011,2011,Russia,5510,NaN,463000,NaN
126,2805.30.0000,2010,2011,Thailand,--,NaN,--,NaN
127,2805.30.0000,2011,2011,Thailand,14900,NaN,2260000,NaN
128,2805.30.0000,2010,2011,United Kingdom,8480,NaN,413000,NaN
129,2805.30.0000,2011,2011,United Kingdom,3070,NaN,510000,NaN
130,2805.30.0000,2010,2011,Vietnam,219,NaN,4150,NaN
131,2805.30.0000,2011,2011,Vietnam,--,NaN,--,NaN
132,2805.30.0000,2010,2011,Total,437000,NaN,14700000,NaN
133,2805.30.0000,2011,2011,Total,390000,NaN,70800000,NaN
134,2805.30.0000,2010,2011,Total estimated equivalent REO content,525000,NaN,XX,NaN
135,2805.30.0000,2011,2011,Total estimated equivalent REO content,468000,NaN,XX,NaN
136,2846.90.4000,2010,2011,Austria,--,NaN,--,NaN
137,2846.90.4000,2011,2011,Austria,12100,NaN,169000,NaN
138,2846.90.4000,2010,2011,China,98000,NaN,586000,NaN
139,2846.90.4000,2011,2011,China,37000,NaN,9140000,NaN
140,2846.90.4000,2010,2011,France,9100,NaN,589000,NaN
141,2846.90.4000,2011,2011,France,828,NaN,14800,NaN
142,2846.90.4000,2010,2011,Germany,17,NaN,9610,NaN
143,2846.90.4000,2011,2011,Germany,4720,NaN,1430000,NaN
144,2846.90.4000,2010,2011,Japan,5100,NaN,641000,NaN
145,2846.90.4000,2011,2011,Japan,3060,NaN,739000,NaN
146,2846.90.4000,2010,2011,Other,10200,r,234000,r
147,2846.90.4000,2011,2011,Other,187,NaN,289000,NaN
148,2846.90.4000,2010,2011,Total,122000,NaN,2060000,NaN
149,2846.90.4000,2011,2011,Total,57900,NaN,11800000,NaN
150,2846.90.4000,2010,2011,Total estimated equivalent REO content,73500,NaN,XX,NaN
151,2846.90.4000,2011,2011,Total estimated equivalent REO content,34700,NaN,XX,NaN

In [13]:
year = 2010
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2009,2010,Austria,386000,NaN,1140000,NaN
1,2846.10.0000,2010,2010,Austria,131000,NaN,1400000,NaN
2,2846.10.0000,2009,2010,China,1720000,NaN,5030000,NaN
3,2846.10.0000,2010,2010,China,2010000,NaN,13500000,NaN
4,2846.10.0000,2009,2010,France,17700,NaN,208000,NaN
5,2846.10.0000,2010,2010,France,11800,NaN,685000,NaN
6,2846.10.0000,2009,2010,Japan,51600,NaN,1800000,NaN
7,2846.10.0000,2010,2010,Japan,139000,NaN,4700000,NaN
8,2846.10.0000,2009,2010,"Korea, Republic of",--,NaN,--,NaN
9,2846.10.0000,2010,2010,"Korea, Republic of",32400,NaN,275000,NaN
10,2846.10.0000,2009,2010,United Kingdom,17300,NaN,68100,NaN
11,2846.10.0000,2010,2010,United Kingdom,60100,NaN,155000,NaN
12,2846.10.0000,2009,2010,Other,49200,NaN,812000,NaN
13,2846.10.0000,2010,2010,Other,262000,NaN,1980000,NaN
14,2846.10.0000,2009,2010,Total,2240000,NaN,9070000,NaN
15,2846.10.0000,2010,2010,Total,2640000,NaN,22600000,NaN
16,2846.10.0000,2009,2010,Total estimated equivalent rare-earth oxide (REO) content,1500000,NaN,XX,NaN
17,2846.10.0000,2010,2010,Total estimated equivalent rare-earth oxide (REO) content,1770000,NaN,XX,NaN
18,3606.90.3000,2009,2010,Austria,21000,NaN,457000,NaN
19,3606.90.3000,2010,2010,Austria,25400,NaN,626000,NaN
20,3606.90.3000,2009,2010,China,4280,NaN,90300,NaN
21,3606.90.3000,2010,2010,China,11900,NaN,184000,NaN
22,3606.90.3000,2009,2010,France,89100,NaN,2080000,NaN
23,3606.90.3000,2010,2010,France,110000,NaN,2290000,NaN
24,3606.90.3000,2009,2010,Taiwan,--,NaN,--,NaN
25,3606.90.3000,2010,2010,Taiwan,700,NaN,9530,NaN
26,3606.90.3000,2009,2010,Total,114000,NaN,2620000,NaN
27,3606.90.3000,2010,2010,Total,148000,NaN,3110000,NaN
28,3606.90.3000,2009,2010,Total estimated equivalent REO content,102000,NaN,XX,NaN
29,3606.90.3000,2010,2010,Total estimated equivalent REO content,131000,NaN,XX,NaN
30,2846.90.2050,2009,2010,Australia,--,NaN,--,NaN
31,2846.90.2050,2010,2010,Australia,1930,NaN,3190,NaN
32,2846.90.2050,2009,2010,Canada,617,NaN,2570,NaN
33,2846.90.2050,2010,2010,Canada,--,NaN,--,NaN
34,2846.90.2050,2009,2010,China,887000,NaN,4560000,NaN
35,2846.90.2050,2010,2010,China,2030000,NaN,11100000,NaN
36,2846.90.2050,2009,2010,Estonia,--,NaN,--,NaN
37,2846.90.2050,2010,2010,Estonia,4000,NaN,126000,NaN
38,2846.90.2050,2009,2010,France,21,NaN,9940,NaN
39,2846.90.2050,2010,2010,France,10300,NaN,243000,NaN
40,2846.90.2050,2009,2010,Germany,129,NaN,112000,NaN
41,2846.90.2050,2010,2010,Germany,336,NaN,87000,NaN
42,2846.90.2050,2009,2010,Japan,5550,NaN,108000,NaN
43,2846.90.2050,2010,2010,Japan,19500,NaN,206000,NaN
44,2846.90.2050,2009,2010,Russia,59,NaN,127000,NaN
45,2846.90.2050,2010,2010,Russia,138,NaN,76400,NaN
46,2846.90.2050,2009,2010,United Kingdom,787,NaN,10700,NaN
47,2846.90.2050,2010,2010,United Kingdom,15000,NaN,121000,NaN
48,2846.90.2050,2009,2010,Total,894000,NaN,4930000,NaN
49,2846.90.2050,2010,2010,Total,2080000,NaN,12000000,NaN
50,2846.90.2050,2009,2010,Total estimated equivalent REO content,411000,NaN,XX,NaN
51,2846.90.2050,2010,2010,Total estimated equivalent REO content,956000,NaN,XX,NaN
52,2846.90.2010,2009,2010,China,4700000,NaN,19100000,NaN
53,2846.90.2010,2010,2010,China,5410000,NaN,33400000,NaN
54,2846.90.2010,2009,2010,France,--,NaN,--,NaN
55,2846.90.2010,2010,2010,France,56,NaN,22900,NaN
56,2846.90.2010,2009,2010,Germany,934,NaN,108000,NaN
57,2846.90.2010,2010,2010,Germany,1270,NaN,65400,NaN
58,2846.90.2010,2009,2010,Ireland,--,NaN,--,NaN
59,2846.90.2010,2010,2010,Ireland,34600,NaN,2830000,NaN
60,2846.90.2010,2009,2010,Italy,42500,NaN,4190000,NaN
61,2846.90.2010,2010,2010,Italy,18400,NaN,1790000,NaN
62,2846.90.2010,2009,2010,Japan,6130,NaN,64900,NaN
63,2846.90.2010,2010,2010,Japan,9310,NaN,148000,NaN
64,2846.90.2010,2009,2010,Russia,111,NaN,66900,NaN
65,2846.90.2010,2010,2010,Russia,63,NaN,35100,NaN
66,2846.90.2010,2009,2010,Total,4750000,NaN,23500000,NaN
67,2846.90.2010,2010,2010,Total,5480000,NaN,38300000,NaN
68,2846.90.2010,2009,2010,Total estimated equivalent REO content,4750000,NaN,XX,NaN
69,2846.90.2010,2010,2010,Total estimated equivalent REO content,5480000,NaN,XX,NaN
70,2846.90.8000,2009,2010,Austria,58200,NaN,2650000,NaN
71,2846.90.8000,2010,2010,Austria,108000,NaN,4390000,NaN
72,2846.90.8000,2009,2010,Canada,3000,NaN,15000,NaN
73,2846.90.8000,2010,2010,Canada,--,NaN,--,NaN
74,2846.90.8000,2009,2010,China,5590000,NaN,38600000,NaN
75,2846.90.8000,2010,2010,China,4080000,NaN,55400000,NaN
76,2846.90.8000,2009,2010,France,331000,NaN,13000000,NaN
77,2846.90.8000,2010,2010,France,542000,NaN,16600000,NaN
78,2846.90.8000,2009,2010,Germany,35300,NaN,304000,NaN
79,2846.90.8000,2010,2010,Germany,700,NaN,208000,NaN
80,2846.90.8000,2009,2010,Hong Kong,600,NaN,5990,NaN
81,2846.90.8000,2010,2010,Hong Kong,100,NaN,6800,NaN
82,2846.90.8000,2009,2010,Japan,143000,NaN,9350000,NaN
83,2846.90.8000,2010,2010,Japan,417000,NaN,17300000,NaN
84,2846.90.8000,2009,2010,Russia,109,NaN,95300,NaN
85,2846.90.8000,2010,2010,Russia,13200,NaN,339000,NaN
86,2846.90.8000,2009,2010,South Africa,39600,NaN,426000,NaN
87,2846.90.8000,2010,2010,South Africa,64100,NaN,781000,NaN
88,2846.90.8000,2009,2010,United Kingdom,157,NaN,49000,NaN
89,2846.90.8000,2010,2010,United Kingdom,43800,NaN,211000,NaN
90,2846.90.8000,2009,2010,Other,565000,NaN,3060000,NaN
91,2846.90.8000,2010,2010,Other,45800,NaN,1080000,NaN
92,2846.90.8000,2009,2010,Total,6770000,NaN,67500000,NaN
93,2846.90.8000,2010,2010,Total,5310000,NaN,96300000,NaN
94,2846.90.8000,2009,2010,Total estimated equivalent REO content,5080000,r,XX,NaN
95,2846.90.8000,2010,2010,Total estimated equivalent REO content,3980000,NaN,XX,NaN
96,2805.30.0000,2009,2010,Austria,227,NaN,36100,NaN
97,2805.30.0000,2010,2010,Austria,3610,NaN,223000,NaN
98,2805.30.0000,2009,2010,Canada,--,NaN,--,NaN
99,2805.30.0000,2010,2010,Canada,224,NaN,19700,NaN
100,2805.30.0000,2009,2010,China,167000,NaN,3790000,NaN
101,2805.30.0000,2010,2010,China,361000,NaN,12300000,NaN
102,2805.30.0000,2009,2010,Germany,--,NaN,--,NaN
103,2805.30.0000,2010,2010,Germany,70,NaN,17600,NaN
104,2805.30.0000,2009,2010,Hong Kong,--,NaN,--,NaN
105,2805.30.0000,2010,2010,Hong Kong,46400,NaN,409000,NaN
106,2805.30.0000,2009,2010,India,50,NaN,4000,NaN
107,2805.30.0000,2010,2010,India,--,NaN,--,NaN
108,2805.30.0000,2009,2010,Japan,10800,NaN,481000,NaN
109,2805.30.0000,2010,2010,Japan,13600,NaN,954000,NaN
110,2805.30.0000,2009,2010,"Korea, Republic of",--,NaN,--,NaN
111,2805.30.0000,2010,2010,"Korea, Republic of",53,NaN,51600,NaN
112,2805.30.0000,2009,2010,Russia,2110,NaN,182000,NaN
113,2805.30.0000,2010,2010,Russia,3620,NaN,328000,NaN
114,2805.30.0000,2009,2010,Spain,31,NaN,2450,NaN
115,2805.30.0000,2010,2010,Spain,--,NaN,--,NaN
116,2805.30.0000,2009,2010,United Kingdom,7870,NaN,368000,NaN
117,2805.30.0000,2010,2010,United Kingdom,8480,NaN,413000,NaN
118,2805.30.0000,2009,2010,Vietnam,--,NaN,--,NaN
119,2805.30.0000,2010,2010,Vietnam,219,NaN,4150,NaN
120,2805.30.0000,2009,2010,Total,188000,NaN,4870000,NaN
121,2805.30.0000,2010,2010,Total,437000,NaN,14700000,NaN
122,2805.30.0000,2009,2010,Total estimated equivalent REO content,226000,NaN,XX,NaN
123,2805.30.0000,2010,2010,Total estimated equivalent REO content,525000,NaN,XX,NaN
124,2846.90.4000,2009,2010,China,8690,NaN,136000,NaN
125,2846.90.4000,2010,2010,China,98000,NaN,586000,NaN
126,2846.90.4000,2009,2010,France,945,NaN,29800,NaN
127,2846.90.4000,2010,2010,France,9100,NaN,589000,NaN
128,2846.90.4000,2009,2010,Japan,1710,NaN,362000,NaN
129,2846.90.4000,2010,2010,Japan,5100,NaN,641000,NaN
130,2846.90.4000,2009,2010,Other,190,NaN,37500,NaN
131,2846.90.4000,2010,2010,Other,10200,NaN,243000,NaN
132,2846.90.4000,2009,2010,Total,11500,NaN,565000,NaN
133,2846.90.4000,2010,2010,Total,122000,NaN,2060000,NaN
134,2846.90.4000,2009,2010,Total estimated equivalent REO content,6920,NaN,XX,NaN
135,2846.90.4000,2010,2010,Total estimated equivalent REO content,73500,NaN,XX,NaN

In [14]:
year = 2009
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2008,2009,Austria,78700,NaN,734000,NaN
1,2846.10.0000,2009,2009,Austria,386000,NaN,1140000,True
2,2846.10.0000,2008,2009,China,2890000,NaN,9980000,NaN
3,2846.10.0000,2009,2009,China,1720000,NaN,5030000,True
4,2846.10.0000,2008,2009,France,36800,NaN,421000,NaN
5,2846.10.0000,2009,2009,France,17700,NaN,208000,True
6,2846.10.0000,2008,2009,Japan,43600,NaN,1440000,NaN
7,2846.10.0000,2009,2009,Japan,51600,NaN,1800000,True
8,2846.10.0000,2008,2009,"Korea, Republic of",34,NaN,21600,NaN
9,2846.10.0000,2009,2009,"Korea, Republic of",--,NaN,--,True
10,2846.10.0000,2008,2009,United Kingdom,40000,NaN,112000,NaN
11,2846.10.0000,2009,2009,United Kingdom,17300,NaN,68100,True
12,2846.10.0000,2008,2009,Other,13200,NaN,113000,NaN
13,2846.10.0000,2009,2009,Other,49200,NaN,812000,True
14,2846.10.0000,2008,2009,Total,3100000,NaN,12800000,NaN
15,2846.10.0000,2009,2009,Total,2240000,NaN,9070000,True
16,2846.10.0000,2008,2009,Total estimated equivalent rare-earth oxide (REO) content,2080000,NaN,12800000,NaN
17,2846.10.0000,2009,2009,Total estimated equivalent rare-earth oxide (REO) content,1500000,NaN,9070000,True
18,2846.90.4000,2008,2009,China,8650,NaN,202000,NaN
19,2846.90.4000,2009,2009,China,8690,NaN,136000,True
20,2846.90.4000,2008,2009,France,916,NaN,61500,NaN
21,2846.90.4000,2009,2009,France,945,NaN,29800,True
22,2846.90.4000,2008,2009,Japan,6860,NaN,6490000,NaN
23,2846.90.4000,2009,2009,Japan,1710,NaN,362000,True
24,2846.90.4000,2008,2009,Other,115,NaN,10500,NaN
25,2846.90.4000,2009,2009,Other,190,NaN,37500,True
26,2846.90.4000,2008,2009,Total,16500,NaN,6770000,NaN
27,2846.90.4000,2009,2009,Total,11500,NaN,565000,True
28,2846.90.4000,2008,2009,Total estimated equivalent REO content,9920,NaN,6770000,NaN
29,2846.90.4000,2009,2009,Total estimated equivalent REO content,6920,NaN,565000,True
30,2846.90.8000,2008,2009,Austria,67600,NaN,2980000,NaN
31,2846.90.8000,2009,2009,Austria,58200,NaN,2650000,True
32,2846.90.8000,2008,2009,Canada,3460,NaN,139000,NaN
33,2846.90.8000,2009,2009,Canada,3000,NaN,15000,True
34,2846.90.8000,2008,2009,China,10500000,NaN,79900000,NaN
35,2846.90.8000,2009,2009,China,5590000,NaN,38600000,True
36,2846.90.8000,2008,2009,France,390000,NaN,19200000,NaN
37,2846.90.8000,2009,2009,France,331000,NaN,13000000,True
38,2846.90.8000,2008,2009,Germany,1750,NaN,845000,NaN
39,2846.90.8000,2009,2009,Germany,35300,NaN,304000,True
40,2846.90.8000,2008,2009,Hong Kong,234000,NaN,2320000,NaN
41,2846.90.8000,2009,2009,Hong Kong,600,NaN,5990,True
42,2846.90.8000,2008,2009,Japan,234000,NaN,10900000,NaN
43,2846.90.8000,2009,2009,Japan,143000,NaN,9350000,True
44,2846.90.8000,2008,2009,Russia,96300,NaN,470000,NaN
45,2846.90.8000,2009,2009,Russia,109,NaN,95300,True
46,2846.90.8000,2008,2009,South Africa,48400,NaN,522000,NaN
47,2846.90.8000,2009,2009,South Africa,39600,NaN,426000,True
48,2846.90.8000,2008,2009,United Kingdom,4030,NaN,118000,NaN
49,2846.90.8000,2009,2009,United Kingdom,157,NaN,49000,True
50,2846.90.8000,2008,2009,Other,94800,NaN,1510000,NaN
51,2846.90.8000,2009,2009,Other,565000,NaN,3060000,True
52,2846.90.8000,2008,2009,Total,11600000,NaN,119000000,NaN
53,2846.90.8000,2009,2009,Total,6770000,NaN,67500000,True
54,2846.90.8000,2008,2009,Total estimated equivalent REO content,8810000,NaN,119000000,NaN
55,2846.90.8000,2009,2009,Total estimated equivalent REO content,5120000,NaN,67500000,True
56,2846.90.2010,2008,2009,China,2300000,NaN,16000000,NaN
57,2846.90.2010,2009,2009,China,4700000,NaN,19100000,True
58,2846.90.2010,2008,2009,Germany,450,NaN,33300,NaN
59,2846.90.2010,2009,2009,Germany,934,NaN,108000,True
60,2846.90.2010,2008,2009,Italy,56200,NaN,6150000,NaN
61,2846.90.2010,2009,2009,Italy,42500,NaN,4190000,True
62,2846.90.2010,2008,2009,Japan,1730,NaN,312000,NaN
63,2846.90.2010,2009,2009,Japan,6130,NaN,64900,True
64,2846.90.2010,2008,2009,Russia,1,NaN,3800,NaN
65,2846.90.2010,2009,2009,Russia,111,NaN,66900,True
66,2846.90.2010,2008,2009,United Kingdom,5,NaN,6530,NaN
67,2846.90.2010,2009,2009,United Kingdom,--,NaN,--,True
68,2846.90.2010,2008,2009,Other,32000,NaN,56900,NaN
69,2846.90.2010,2009,2009,Other,--,NaN,--,True
70,2846.90.2010,2008,2009,Total,2390000,NaN,22600000,NaN
71,2846.90.2010,2009,2009,Total,4750000,NaN,23500000,True
72,2846.90.2010,2008,2009,Total estimated equivalent REO content,2390000,NaN,22600000,NaN
73,2846.90.2010,2009,2009,Total estimated equivalent REO content,4750000,NaN,23500000,True
74,2805.30.0000,2008,2009,Austria,1570,NaN,189000,NaN
75,2805.30.0000,2009,2009,Austria,227,NaN,36100,True
76,2805.30.0000,2008,2009,China,540000,NaN,3740000,NaN
77,2805.30.0000,2009,2009,China,167000,NaN,3790000,True
78,2805.30.0000,2008,2009,Germany,5,NaN,6750,NaN
79,2805.30.0000,2009,2009,Germany,--,NaN,--,True
80,2805.30.0000,2008,2009,Japan,12600,NaN,458000,NaN
81,2805.30.0000,2009,2009,Japan,10800,NaN,481000,True
82,2805.30.0000,2008,2009,Russia,2690,NaN,226000,NaN
83,2805.30.0000,2009,2009,Russia,2110,NaN,182000,True
84,2805.30.0000,2008,2009,United Kingdom,9010,NaN,317000,NaN
85,2805.30.0000,2009,2009,United Kingdom,7870,NaN,368000,True
86,2805.30.0000,2008,2009,Other,--,NaN,--,NaN
87,2805.30.0000,2009,2009,Other,81,NaN,6450,True
88,2805.30.0000,2008,2009,Total,566000,NaN,4940000,NaN
89,2805.30.0000,2009,2009,Total,188000,NaN,4870000,True
90,2805.30.0000,2008,2009,Total estimated equivalent REO content,679000,NaN,4940000,NaN
91,2805.30.0000,2009,2009,Total estimated equivalent REO content,226000,NaN,4870000,True
92,2846.90.2050,2008,2009,China,2580000,NaN,16100000,NaN
93,2846.90.2050,2009,2009,China,887000,NaN,4560000,True
94,2846.90.2050,2008,2009,Germany,5230,NaN,203000,NaN
95,2846.90.2050,2009,2009,Germany,129,NaN,112000,True
96,2846.90.2050,2008,2009,Hong Kong,211000,NaN,618000,NaN
97,2846.90.2050,2009,2009,Hong Kong,--,NaN,--,True
98,2846.90.2050,2008,2009,Japan,3940,NaN,76700,NaN
99,2846.90.2050,2009,2009,Japan,5550,NaN,108000,True
100,2846.90.2050,2008,2009,"Korea, Republic of",114,NaN,10500,NaN
101,2846.90.2050,2009,2009,"Korea, Republic of",--,NaN,--,True
102,2846.90.2050,2008,2009,Russia,38,NaN,97100,NaN
103,2846.90.2050,2009,2009,Russia,59,NaN,127000,True
104,2846.90.2050,2008,2009,Taiwan,18000,NaN,170000,NaN
105,2846.90.2050,2009,2009,Taiwan,--,NaN,--,True
106,2846.90.2050,2008,2009,United Kingdom,3220,NaN,19200,NaN
107,2846.90.2050,2009,2009,United Kingdom,787,NaN,10700,True
108,2846.90.2050,2008,2009,Other,34300,NaN,317000,NaN
109,2846.90.2050,2009,2009,Other,638,NaN,12500,True
110,2846.90.2050,2008,2009,Total,2850000,NaN,17600000,NaN
111,2846.90.2050,2009,2009,Total,894000,NaN,4930000,True
112,2846.90.2050,2008,2009,Total estimated equivalent REO content,1310000,NaN,17600000,NaN
113,2846.90.2050,2009,2009,Total estimated equivalent REO content,411000,NaN,4930000,True
114,3606.90.3000,2008,2009,Austria,18700,NaN,356000,NaN
115,3606.90.3000,2009,2009,Austria,21000,NaN,457000,True
116,3606.90.3000,2008,2009,China,6950,NaN,124000,NaN
117,3606.90.3000,2009,2009,China,4280,NaN,90300,True
118,3606.90.3000,2008,2009,France,116000,NaN,1900000,NaN
119,3606.90.3000,2009,2009,France,89100,NaN,2080000,True
120,3606.90.3000,2008,2009,Total,141000,NaN,2380000,NaN
121,3606.90.3000,2009,2009,Total,114000,NaN,2620000,True
122,3606.90.3000,2008,2009,Total estimated equivalent REO content,125000,NaN,2380000,NaN
123,3606.90.3000,2009,2009,Total estimated equivalent REO content,102000,NaN,2620000,True

In [15]:
year = 2008
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2007,2008,Austria,60600,NaN,356000,NaN
1,2846.10.0000,2008,2008,Austria,78700,NaN,734000,True
2,2846.10.0000,2007,2008,China,3630000,NaN,7770000,NaN
3,2846.10.0000,2008,2008,China,2890000,NaN,9980000,True
4,2846.10.0000,2007,2008,France,121000,NaN,1080000,NaN
5,2846.10.0000,2008,2008,France,36800,NaN,421000,True
6,2846.10.0000,2007,2008,Hong Kong,16500,NaN,20600,NaN
7,2846.10.0000,2008,2008,Hong Kong,--,NaN,--,True
8,2846.10.0000,2007,2008,Japan,88700,NaN,2350000,NaN
9,2846.10.0000,2008,2008,Japan,43600,NaN,1440000,True
10,2846.10.0000,2007,2008,"Korea, Republic of",2520,NaN,24700,NaN
11,2846.10.0000,2008,2008,"Korea, Republic of",34,NaN,21600,True
12,2846.10.0000,2007,2008,United Kingdom,48000,NaN,149000,NaN
13,2846.10.0000,2008,2008,United Kingdom,40000,NaN,112000,True
14,2846.10.0000,2007,2008,Other,45000,NaN,399000,NaN
15,2846.10.0000,2008,2008,Other,13200,NaN,113000,True
16,2846.10.0000,2007,2008,Total,4010000,NaN,12100000,NaN
17,2846.10.0000,2008,2008,Total,3100000,NaN,12800000,True
18,2846.10.0000,2007,2008,Total estimated equivalent rare-earth oxide (REO) content,2680000,NaN,12100000,NaN
19,2846.10.0000,2008,2008,Total estimated equivalent rare-earth oxide (REO) content,2080000,NaN,12800000,True
20,2846.90.4000,2007,2008,China,29800,NaN,310000,NaN
21,2846.90.4000,2008,2008,China,8650,NaN,202000,True
22,2846.90.4000,2007,2008,France,815,NaN,40100,NaN
23,2846.90.4000,2008,2008,France,916,NaN,61500,True
24,2846.90.4000,2007,2008,Japan,5070,NaN,1510000,NaN
25,2846.90.4000,2008,2008,Japan,6860,NaN,6490000,True
26,2846.90.4000,2007,2008,Other,--,NaN,--,NaN
27,2846.90.4000,2008,2008,Other,115,NaN,10500,True
28,2846.90.4000,2007,2008,Total,35700,NaN,1860000,NaN
29,2846.90.4000,2008,2008,Total,16500,NaN,6770000,True
30,2846.90.4000,2007,2008,Total estimated equivalent REO content,21400,NaN,1860000,NaN
31,2846.90.4000,2008,2008,Total estimated equivalent REO content,9920,NaN,6770000,True
32,2846.90.8000,2007,2008,Austria,109000,NaN,4210000,NaN
33,2846.90.8000,2008,2008,Austria,67600,NaN,2980000,True
34,2846.90.8000,2007,2008,Canada,3030,NaN,105000,NaN
35,2846.90.8000,2008,2008,Canada,3460,NaN,139000,True
36,2846.90.8000,2007,2008,China,11700000,NaN,44800000,NaN
37,2846.90.8000,2008,2008,China,10500000,NaN,79900000,True
38,2846.90.8000,2007,2008,France,519000,NaN,15000000,NaN
39,2846.90.8000,2008,2008,France,390000,NaN,19200000,True
40,2846.90.8000,2007,2008,Germany,1550,NaN,359000,NaN
41,2846.90.8000,2008,2008,Germany,1750,NaN,845000,True
42,2846.90.8000,2007,2008,Hong Kong,220,NaN,5040,NaN
43,2846.90.8000,2008,2008,Hong Kong,234000,NaN,2320000,True
44,2846.90.8000,2007,2008,Japan,421000,NaN,10900000,NaN
45,2846.90.8000,2008,2008,Japan,234000,NaN,10900000,True
46,2846.90.8000,2007,2008,Russia,346000,NaN,547000,NaN
47,2846.90.8000,2008,2008,Russia,96300,NaN,470000,True
48,2846.90.8000,2007,2008,South Africa,12700,NaN,120000,NaN
49,2846.90.8000,2008,2008,South Africa,48400,NaN,522000,True
50,2846.90.8000,2007,2008,United Kingdom,68300,NaN,112000,NaN
51,2846.90.8000,2008,2008,United Kingdom,4030,NaN,118000,True
52,2846.90.8000,2007,2008,Other,40400,NaN,1970000,NaN
53,2846.90.8000,2008,2008,Other,94800,NaN,1510000,True
54,2846.90.8000,2007,2008,Total,13200000,NaN,78100000,NaN
55,2846.90.8000,2008,2008,Total,11600000,NaN,119000000,True
56,2846.90.8000,2007,2008,Total estimated equivalent REO content,9990000,NaN,78100000,NaN
57,2846.90.8000,2008,2008,Total estimated equivalent REO content,8810000,NaN,119000000,True
58,2846.90.2010,2007,2008,China,2510000,NaN,9090000,NaN
59,2846.90.2010,2008,2008,China,2300000,NaN,16000000,True
60,2846.90.2010,2007,2008,Germany,822,NaN,43200,NaN
61,2846.90.2010,2008,2008,Germany,450,NaN,33300,True
62,2846.90.2010,2007,2008,Italy,44700,NaN,5420000,NaN
63,2846.90.2010,2008,2008,Italy,56200,NaN,6150000,True
64,2846.90.2010,2007,2008,Japan,7790,NaN,310000,NaN
65,2846.90.2010,2008,2008,Japan,1730,NaN,312000,True
66,2846.90.2010,2007,2008,Russia,11,NaN,14300,NaN
67,2846.90.2010,2008,2008,Russia,1,NaN,3800,True
68,2846.90.2010,2007,2008,United Kingdom,67,NaN,30400,NaN
69,2846.90.2010,2008,2008,United Kingdom,5,NaN,6530,True
70,2846.90.2010,2007,2008,Other,4000,NaN,23000,NaN
71,2846.90.2010,2008,2008,Other,32000,NaN,56900,True
72,2846.90.2010,2007,2008,Total,2570000,NaN,14900000,NaN
73,2846.90.2010,2008,2008,Total,2390000,NaN,22600000,True
74,2846.90.2010,2007,2008,Total estimated equivalent REO content,2570000,NaN,14900000,NaN
75,2846.90.2010,2008,2008,Total estimated equivalent REO content,2390000,NaN,22600000,True
76,2805.30.0000,2007,2008,Austria,616,NaN,138000,NaN
77,2805.30.0000,2008,2008,Austria,1570,NaN,189000,True
78,2805.30.0000,2007,2008,China,636000,NaN,5710000,NaN
79,2805.30.0000,2008,2008,China,540000,NaN,3740000,True
80,2805.30.0000,2007,2008,Germany,2,NaN,2250,NaN
81,2805.30.0000,2008,2008,Germany,5,NaN,6750,True
82,2805.30.0000,2007,2008,Japan,8470,NaN,168000,NaN
83,2805.30.0000,2008,2008,Japan,12600,NaN,458000,True
84,2805.30.0000,2007,2008,Russia,619,NaN,112000,NaN
85,2805.30.0000,2008,2008,Russia,2690,NaN,226000,True
86,2805.30.0000,2007,2008,United Kingdom,8100,NaN,333000,NaN
87,2805.30.0000,2008,2008,United Kingdom,9010,NaN,317000,True
88,2805.30.0000,2007,2008,Total,653000,NaN,6470000,NaN
89,2805.30.0000,2008,2008,Total,566000,NaN,4940000,True
90,2805.30.0000,2007,2008,Total estimated equivalent REO content,784000,NaN,6470000,NaN
91,2805.30.0000,2008,2008,Total estimated equivalent REO content,679000,NaN,4940000,True
92,2846.90.2050,2007,2008,China,3250000,NaN,10000000,NaN
93,2846.90.2050,2008,2008,China,2580000,NaN,16100000,True
94,2846.90.2050,2007,2008,Germany,589,NaN,202000,NaN
95,2846.90.2050,2008,2008,Germany,5230,NaN,203000,True
96,2846.90.2050,2007,2008,Hong Kong,147000,NaN,743000,NaN
97,2846.90.2050,2008,2008,Hong Kong,211000,NaN,618000,True
98,2846.90.2050,2007,2008,Japan,6400,NaN,102000,NaN
99,2846.90.2050,2008,2008,Japan,3940,NaN,76700,True
100,2846.90.2050,2007,2008,"Korea, Republic of",54700,NaN,73800,NaN
101,2846.90.2050,2008,2008,"Korea, Republic of",114,NaN,10500,True
102,2846.90.2050,2007,2008,Russia,101,NaN,241000,NaN
103,2846.90.2050,2008,2008,Russia,38,NaN,97100,True
104,2846.90.2050,2007,2008,Taiwan,40600,NaN,160000,NaN
105,2846.90.2050,2008,2008,Taiwan,18000,NaN,170000,True
106,2846.90.2050,2007,2008,United Kingdom,7420,NaN,98900,NaN
107,2846.90.2050,2008,2008,United Kingdom,3220,NaN,19200,True
108,2846.90.2050,2007,2008,Other,43,NaN,37400,NaN
109,2846.90.2050,2008,2008,Other,34300,NaN,317000,True
110,2846.90.2050,2007,2008,Total,3510000,NaN,11700000,NaN
111,2846.90.2050,2008,2008,Total,2850000,NaN,17600000,True
112,2846.90.2050,2007,2008,Total estimated equivalent REO content,1610000,NaN,11700000,NaN
113,2846.90.2050,2008,2008,Total estimated equivalent REO content,1310000,NaN,17600000,True
114,3606.90.3000,2007,2008,Austria,16200,NaN,550000,NaN
115,3606.90.3000,2008,2008,Austria,18700,NaN,356000,True
116,3606.90.3000,2007,2008,China,4370,NaN,42200,NaN
117,3606.90.3000,2008,2008,China,6950,NaN,124000,True
118,3606.90.3000,2007,2008,France,116000,NaN,1680000,NaN
119,3606.90.3000,2008,2008,France,116000,NaN,1900000,True
120,3606.90.3000,2007,2008,Other,2300,NaN,47800,NaN
121,3606.90.3000,2008,2008,Other,--,NaN,--,True
122,3606.90.3000,2007,2008,Total,139000,NaN,2320000,NaN
123,3606.90.3000,2008,2008,Total,141000,NaN,2380000,True
124,3606.90.3000,2007,2008,Total estimated equivalent REO content,123000,NaN,2320000,NaN
125,3606.90.3000,2008,2008,Total estimated equivalent REO content,125000,NaN,2380000,True

In [16]:
year = 2007
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2006,2007,Austria,36400,NaN,235000,NaN
1,2846.10.0000,2007,2007,Austria,60600,NaN,356000,True
2,2846.10.0000,2006,2007,China,3540000,NaN,6350000,NaN
3,2846.10.0000,2007,2007,China,3630000,NaN,7770000,True
4,2846.10.0000,2006,2007,France,73600,NaN,884000,NaN
5,2846.10.0000,2007,2007,France,121000,NaN,1080000,True
6,2846.10.0000,2006,2007,Hong Kong,64000,NaN,127000,NaN
7,2846.10.0000,2007,2007,Hong Kong,16500,NaN,20600,True
8,2846.10.0000,2006,2007,Japan,135000,NaN,3090000,NaN
9,2846.10.0000,2007,2007,Japan,88700,NaN,2350000,True
10,2846.10.0000,2006,2007,"Korea, Republic of",2760,NaN,26700,NaN
11,2846.10.0000,2007,2007,"Korea, Republic of",2520,NaN,24700,True
12,2846.10.0000,2006,2007,United Kingdom,159,NaN,20700,NaN
13,2846.10.0000,2007,2007,United Kingdom,48000,NaN,149000,True
14,2846.10.0000,2006,2007,Other,10700,NaN,86800,NaN
15,2846.10.0000,2007,2007,Other,45000,NaN,399000,True
16,2846.10.0000,2006,2007,Total,3870000,NaN,10800000,NaN
17,2846.10.0000,2007,2007,Total,4010000,NaN,12100000,True
18,2846.10.0000,2006,2007,Total estimated equivalent rare-earth oxide (REO) content,2590000,NaN,10800000,NaN
19,2846.10.0000,2007,2007,Total estimated equivalent rare-earth oxide (REO) content,2680000,NaN,12100000,True
20,2846.90.4000,2006,2007,China,273000,NaN,1090000,NaN
21,2846.90.4000,2007,2007,China,29800,NaN,310000,True
22,2846.90.4000,2006,2007,France,420,NaN,26000,NaN
23,2846.90.4000,2007,2007,France,815,NaN,40100,True
24,2846.90.4000,2006,2007,Japan,5850,NaN,1180000,NaN
25,2846.90.4000,2007,2007,Japan,5070,NaN,1510000,True
26,2846.90.4000,2006,2007,Other,34,NaN,30000,NaN
27,2846.90.4000,2007,2007,Other,--,NaN,--,True
28,2846.90.4000,2006,2007,Total,279000,NaN,2320000,NaN
29,2846.90.4000,2007,2007,Total,35700,NaN,1860000,True
30,2846.90.4000,2006,2007,Total estimated equivalent REO content,168000,NaN,2320000,NaN
31,2846.90.4000,2007,2007,Total estimated equivalent REO content,21400,NaN,1860000,True
32,2846.90.8000,2006,2007,Austria,85200,NaN,3510000,NaN
33,2846.90.8000,2007,2007,Austria,109000,NaN,4210000,True
34,2846.90.8000,2006,2007,Canada,76,NaN,36800,NaN
35,2846.90.8000,2007,2007,Canada,3030,NaN,105000,True
36,2846.90.8000,2006,2007,China,12500000,NaN,37100000,NaN
37,2846.90.8000,2007,2007,China,11700000,NaN,44800000,True
38,2846.90.8000,2006,2007,France,618000,NaN,11700000,NaN
39,2846.90.8000,2007,2007,France,519000,NaN,15000000,True
40,2846.90.8000,2006,2007,Germany,551,NaN,145000,NaN
41,2846.90.8000,2007,2007,Germany,1550,NaN,359000,True
42,2846.90.8000,2006,2007,Hong Kong,37000,NaN,257000,NaN
43,2846.90.8000,2007,2007,Hong Kong,220,NaN,5040,True
44,2846.90.8000,2006,2007,Japan,685000,NaN,11800000,NaN
45,2846.90.8000,2007,2007,Japan,421000,NaN,10900000,True
46,2846.90.8000,2006,2007,Russia,145000,NaN,721000,NaN
47,2846.90.8000,2007,2007,Russia,346000,NaN,547000,True
48,2846.90.8000,2006,2007,South Africa,--,NaN,--,NaN
49,2846.90.8000,2007,2007,South Africa,12700,NaN,120000,True
50,2846.90.8000,2006,2007,United Kingdom,5780,NaN,749000,NaN
51,2846.90.8000,2007,2007,United Kingdom,68300,NaN,112000,True
52,2846.90.8000,2006,2007,Other,600,NaN,213000,NaN
53,2846.90.8000,2007,2007,Other,40400,NaN,1970000,True
54,2846.90.8000,2006,2007,Total,14100000,NaN,66300000,NaN
55,2846.90.8000,2007,2007,Total,13200000,NaN,78100000,True
56,2846.90.8000,2006,2007,Total estimated equivalent REO content,10600000,NaN,66300000,NaN
57,2846.90.8000,2007,2007,Total estimated equivalent REO content,9900000,NaN,78100000,True
58,2846.90.2010,2006,2007,Austria,9320,NaN,154000,NaN
59,2846.90.2010,2007,2007,Austria,--,NaN,--,True
60,2846.90.2010,2006,2007,China,1520000,NaN,4340000,NaN
61,2846.90.2010,2007,2007,China,2510000,NaN,9090000,True
62,2846.90.2010,2006,2007,Germany,407,NaN,14900,NaN
63,2846.90.2010,2007,2007,Germany,822,NaN,43200,True
64,2846.90.2010,2006,2007,Ireland,--,NaN,--,NaN
65,2846.90.2010,2007,2007,Ireland,--,NaN,--,True
66,2846.90.2010,2006,2007,Italy,30800,NaN,4110000,NaN
67,2846.90.2010,2007,2007,Italy,44700,NaN,5420000,True
68,2846.90.2010,2006,2007,Japan,6480,NaN,60700,NaN
69,2846.90.2010,2007,2007,Japan,7790,NaN,310000,True
70,2846.90.2010,2006,2007,Russia,46,NaN,17000,NaN
71,2846.90.2010,2007,2007,Russia,11,NaN,14300,True
72,2846.90.2010,2006,2007,United Kingdom,10300,NaN,47400,NaN
73,2846.90.2010,2007,2007,United Kingdom,67,NaN,30400,True
74,2846.90.2010,2006,2007,Other,--,NaN,--,NaN
75,2846.90.2010,2007,2007,Other,4000,NaN,23000,True
76,2846.90.2010,2006,2007,Total,1570000,NaN,8740000,NaN
77,2846.90.2010,2007,2007,Total,2570000,NaN,14900000,True
78,2846.90.2010,2006,2007,Total estimated equivalent REO content,1570000,NaN,8740000,NaN
79,2846.90.2010,2007,2007,Total estimated equivalent REO content,2570000,NaN,14900000,True
80,2805.30.0000,2006,2007,Austria,159,NaN,29800,NaN
81,2805.30.0000,2007,2007,Austria,616,NaN,138000,True
82,2805.30.0000,2006,2007,China,672000,NaN,4700000,NaN
83,2805.30.0000,2007,2007,China,636000,NaN,5710000,True
84,2805.30.0000,2006,2007,Germany,3,NaN,6610,NaN
85,2805.30.0000,2007,2007,Germany,2,NaN,2250,True
86,2805.30.0000,2006,2007,Japan,30900,NaN,701000,NaN
87,2805.30.0000,2007,2007,Japan,8470,NaN,168000,True
88,2805.30.0000,2006,2007,Russia,402,NaN,56900,NaN
89,2805.30.0000,2007,2007,Russia,619,NaN,112000,True
90,2805.30.0000,2006,2007,United Kingdom,19100,NaN,434000,NaN
91,2805.30.0000,2007,2007,United Kingdom,8100,NaN,333000,True
92,2805.30.0000,2006,2007,Other,221,NaN,51700,NaN
93,2805.30.0000,2007,2007,Other,--,NaN,--,True
94,2805.30.0000,2006,2007,Total,723000,NaN,5980000,NaN
95,2805.30.0000,2007,2007,Total,653000,NaN,6470000,True
96,2805.30.0000,2006,2007,Total estimated equivalent REO content,867000,NaN,5980000,NaN
97,2805.30.0000,2007,2007,Total estimated equivalent REO content,784000,NaN,6470000,True
98,2846.90.2050,2006,2007,Belgium,10000,NaN,26200,NaN
99,2846.90.2050,2007,2007,Belgium,--,NaN,--,True
100,2846.90.2050,2006,2007,China,5950000,NaN,7030000,NaN
101,2846.90.2050,2007,2007,China,3250000,NaN,10000000,True
102,2846.90.2050,2006,2007,Germany,425,NaN,157000,NaN
103,2846.90.2050,2007,2007,Germany,589,NaN,202000,True
104,2846.90.2050,2006,2007,Hong Kong,10000,NaN,134000,NaN
105,2846.90.2050,2007,2007,Hong Kong,147000,NaN,743000,True
106,2846.90.2050,2006,2007,Japan,3410,NaN,132000,NaN
107,2846.90.2050,2007,2007,Japan,6400,NaN,102000,True
108,2846.90.2050,2006,2007,"Korea, Republic of",--,NaN,--,NaN
109,2846.90.2050,2007,2007,"Korea, Republic of",54700,NaN,73800,True
110,2846.90.2050,2006,2007,Mexico,--,NaN,2640,NaN
111,2846.90.2050,2007,2007,Mexico,--,NaN,--,True
112,2846.90.2050,2006,2007,Russia,87,NaN,122000,NaN
113,2846.90.2050,2007,2007,Russia,101,NaN,241000,True
114,2846.90.2050,2006,2007,Taiwan,--,NaN,--,NaN
115,2846.90.2050,2007,2007,Taiwan,40600,NaN,160000,True
116,2846.90.2050,2006,2007,United Kingdom,6840,NaN,61200,NaN
117,2846.90.2050,2007,2007,United Kingdom,7420,NaN,98900,True
118,2846.90.2050,2006,2007,Other,10100,NaN,28800,NaN
119,2846.90.2050,2007,2007,Other,43,NaN,37400,True
120,2846.90.2050,2006,2007,Total,5980000,NaN,7670000,NaN
121,2846.90.2050,2007,2007,Total,3510000,NaN,11700000,True
122,2846.90.2050,2006,2007,Total estimated equivalent REO content,2750000,NaN,7670000,NaN
123,2846.90.2050,2007,2007,Total estimated equivalent REO content,1610000,NaN,11700000,True
124,3606.90.3000,2006,2007,Austria,16100,NaN,405000,NaN
125,3606.90.3000,2007,2007,Austria,16200,NaN,550000,True
126,3606.90.3000,2006,2007,China,3350,NaN,37900,NaN
127,3606.90.3000,2007,2007,China,4370,NaN,42200,True
128,3606.90.3000,2006,2007,France,120000,NaN,1650000,NaN
129,3606.90.3000,2007,2007,France,116000,NaN,1680000,True
130,3606.90.3000,2006,2007,Other,3210,NaN,21900,NaN
131,3606.90.3000,2007,2007,Other,2300,NaN,47800,True
132,3606.90.3000,2006,2007,Total,143000,NaN,2110000,NaN
133,3606.90.3000,2007,2007,Total,139000,NaN,2320000,True
134,3606.90.3000,2006,2007,Total estimated equivalent REO content,127000,NaN,2110000,NaN
135,3606.90.3000,2007,2007,Total estimated equivalent REO content,123000,NaN,2320000,True

In [17]:
year = 2006
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2005,2006,Austria,18300,NaN,188000,NaN
1,2846.10.0000,2006,2006,Austria,36400,NaN,235000,True
2,2846.10.0000,2005,2006,China,2.84e+06,NaN,4.89e+06,NaN
3,2846.10.0000,2006,2006,China,3540000,NaN,6350000,True
4,2846.10.0000,2005,2006,France,83700,NaN,1e+06,NaN
5,2846.10.0000,2006,2006,France,73600,NaN,884000,True
6,2846.10.0000,2005,2006,Hong Kong,36000,NaN,77500,NaN
7,2846.10.0000,2006,2006,Hong Kong,64000,NaN,127000,True
8,2846.10.0000,2005,2006,Ireland,13900,NaN,350000,NaN
9,2846.10.0000,2006,2006,Ireland,--,NaN,--,True
10,2846.10.0000,2005,2006,Japan,211000,NaN,3.85e+06,NaN
11,2846.10.0000,2006,2006,Japan,135000,NaN,3090000,True
12,2846.10.0000,2005,2006,"Korea, Republic of",25900,NaN,59500,NaN
13,2846.10.0000,2006,2006,"Korea, Republic of",2760,NaN,26700,True
14,2846.10.0000,2005,2006,Netherlands,449,NaN,13400,NaN
15,2846.10.0000,2006,2006,Netherlands,--,NaN,--,True
16,2846.10.0000,2005,2006,United Kingdom,17200,NaN,175000,NaN
17,2846.10.0000,2006,2006,United Kingdom,159,NaN,20700,True
18,2846.10.0000,2005,2006,Other,1220,NaN,11100,NaN
19,2846.10.0000,2006,2006,Other,10700,NaN,86800,True
20,2846.10.0000,2005,2006,Total,3.25e+06,NaN,1.06e+07,NaN
21,2846.10.0000,2006,2006,Total,3870000,NaN,10800000,True
22,2846.10.0000,2005,2006,Total estimated equivalent rare-earth oxide (REO) content,2.17e+06,NaN,1.06e+07,NaN
23,2846.10.0000,2006,2006,Total estimated equivalent rare-earth oxide (REO) content,2590000,NaN,10800000,True
24,2846.90.4000,2005,2006,China,360000,NaN,1.63e+06,NaN
25,2846.90.4000,2006,2006,China,273000,NaN,1090000,True
26,2846.90.4000,2005,2006,France,535,NaN,33800,NaN
27,2846.90.4000,2006,2006,France,420,NaN,26000,True
28,2846.90.4000,2005,2006,Japan,11600,NaN,1.8e+06,NaN
29,2846.90.4000,2006,2006,Japan,5850,NaN,1180000,True
30,2846.90.4000,2005,2006,Other,140,NaN,26000,NaN
31,2846.90.4000,2006,2006,Other,34,NaN,30000,True
32,2846.90.4000,2005,2006,Total,372000,NaN,3.48e+06,NaN
33,2846.90.4000,2006,2006,Total,279000,NaN,2320000,True
34,2846.90.4000,2005,2006,Total estimated equivalent REO content,223000,NaN,3.48e+06,NaN
35,2846.90.4000,2006,2006,Total estimated equivalent REO content,168000,NaN,2320000,True
36,2846.90.8000,2005,2006,Austria,126000,NaN,5.46e+06,NaN
37,2846.90.8000,2006,2006,Austria,85200,NaN,3510000,True
38,2846.90.8000,2005,2006,Canada,18000,NaN,58200,NaN
39,2846.90.8000,2006,2006,Canada,76,NaN,36800,True
40,2846.90.8000,2005,2006,China,9.43e+06,NaN,2.55e+07,NaN
41,2846.90.8000,2006,2006,China,12500000,NaN,37100000,True
42,2846.90.8000,2005,2006,Estonia,76000,NaN,80000,NaN
43,2846.90.8000,2006,2006,Estonia,--,NaN,--,True
44,2846.90.8000,2005,2006,France,518000,NaN,9.29e+06,NaN
45,2846.90.8000,2006,2006,France,618000,NaN,11700000,True
46,2846.90.8000,2005,2006,Germany,8000,NaN,521000,NaN
47,2846.90.8000,2006,2006,Germany,551,NaN,145000,True
48,2846.90.8000,2005,2006,Hong Kong,400,NaN,104000,NaN
49,2846.90.8000,2006,2006,Hong Kong,37000,NaN,257000,True
50,2846.90.8000,2005,2006,Japan,695000,NaN,1.22e+07,NaN
51,2846.90.8000,2006,2006,Japan,685000,NaN,11800000,True
52,2846.90.8000,2005,2006,Russia,377000,NaN,680000,NaN
53,2846.90.8000,2006,2006,Russia,145000,NaN,721000,True
54,2846.90.8000,2005,2006,South Africa,10600,NaN,63600,NaN
55,2846.90.8000,2006,2006,South Africa,--,NaN,--,True
56,2846.90.8000,2005,2006,United Kingdom,147000,NaN,5.54e+06,NaN
57,2846.90.8000,2006,2006,United Kingdom,5780,NaN,749000,True
58,2846.90.8000,2005,2006,Other,366,NaN,92300,NaN
59,2846.90.8000,2006,2006,Other,600,NaN,213000,True
60,2846.90.8000,2005,2006,Total,1.14e+07,NaN,5.96e+07,NaN
61,2846.90.8000,2006,2006,Total,14100000,NaN,66300000,True
62,2846.90.8000,2005,2006,Total estimated equivalent REO content,8.55e+06,NaN,5.96e+07,NaN
63,2846.90.8000,2006,2006,Total estimated equivalent REO content,10600000,NaN,66300000,True
64,2846.90.2010,2005,2006,Austria,7760,NaN,157000,NaN
65,2846.90.2010,2006,2006,Austria,9320,NaN,154000,True
66,2846.90.2010,2005,2006,China,578000,NaN,1.96e+06,NaN
67,2846.90.2010,2006,2006,China,1520000,NaN,4340000,True
68,2846.90.2010,2005,2006,Germany,3380,NaN,448000,NaN
69,2846.90.2010,2006,2006,Germany,407,NaN,14900,True
70,2846.90.2010,2005,2006,Ireland,1270,NaN,141000,NaN
71,2846.90.2010,2006,2006,Ireland,--,NaN,--,True
72,2846.90.2010,2005,2006,Italy,34500,NaN,3.72e+06,NaN
73,2846.90.2010,2006,2006,Italy,30800,NaN,4110000,True
74,2846.90.2010,2005,2006,Japan,3540,NaN,140000,NaN
75,2846.90.2010,2006,2006,Japan,6480,NaN,60700,True
76,2846.90.2010,2005,2006,Russia,51,NaN,10800,NaN
77,2846.90.2010,2006,2006,Russia,46,NaN,17000,True
78,2846.90.2010,2005,2006,United Kingdom,10100,NaN,43600,NaN
79,2846.90.2010,2006,2006,United Kingdom,10300,NaN,47400,True
80,2846.90.2010,2005,2006,Other,1780,NaN,103000,NaN
81,2846.90.2010,2006,2006,Other,--,NaN,--,True
82,2846.90.2010,2005,2006,Total,640000,NaN,6.32e+06,NaN
83,2846.90.2010,2006,2006,Total,1570000,NaN,8740000,True
84,2846.90.2010,2005,2006,Total estimated equivalent REO content,640000,NaN,6.32e+06,NaN
85,2846.90.2010,2006,2006,Total estimated equivalent REO content,1570000,NaN,8740000,True
86,2805.30.0000,2005,2006,Austria,28500,NaN,1.53e+06,NaN
87,2805.30.0000,2006,2006,Austria,159,NaN,29800,True
88,2805.30.0000,2005,2006,China,664000,NaN,2.88e+06,NaN
89,2805.30.0000,2006,2006,China,672000,NaN,4700000,True
90,2805.30.0000,2005,2006,Germany,62,NaN,3560,NaN
91,2805.30.0000,2006,2006,Germany,3,NaN,6610,True
92,2805.30.0000,2005,2006,Japan,31100,NaN,206000,NaN
93,2805.30.0000,2006,2006,Japan,30900,NaN,701000,True
94,2805.30.0000,2005,2006,Russia,979,NaN,117000,NaN
95,2805.30.0000,2006,2006,Russia,402,NaN,56900,True
96,2805.30.0000,2005,2006,United Kingdom,7660,NaN,164000,NaN
97,2805.30.0000,2006,2006,United Kingdom,19100,NaN,434000,True
98,2805.30.0000,2005,2006,Other,600,NaN,2390,NaN
99,2805.30.0000,2006,2006,Other,221,NaN,51700,True
100,2805.30.0000,2005,2006,Total,733000,NaN,4.9e+06,NaN
101,2805.30.0000,2006,2006,Total,723000,NaN,5980000,True
102,2805.30.0000,2005,2006,Total estimated equivalent REO content,880000,NaN,4.9e+06,NaN
103,2805.30.0000,2006,2006,Total estimated equivalent REO content,867000,NaN,5980000,True
104,2846.90.2050,2005,2006,Belgium,10000,NaN,26200,NaN
105,2846.90.2050,2006,2006,Belgium,10000,NaN,26200,True
106,2846.90.2050,2005,2006,China,5.76e+06,NaN,6.42e+06,NaN
107,2846.90.2050,2006,2006,China,5950000,NaN,7030000,True
108,2846.90.2050,2005,2006,Germany,138,NaN,92700,NaN
109,2846.90.2050,2006,2006,Germany,425,NaN,157000,True
110,2846.90.2050,2005,2006,Japan,22700,NaN,6.99e+06,NaN
111,2846.90.2050,2006,2006,Japan,3410,NaN,132000,True
112,2846.90.2050,2005,2006,Mexico,960,NaN,28800,NaN
113,2846.90.2050,2006,2006,Mexico,80,NaN,2640,True
114,2846.90.2050,2005,2006,Russia,54,NaN,98700,NaN
115,2846.90.2050,2006,2006,Russia,87,NaN,122000,True
116,2846.90.2050,2005,2006,United Kingdom,13600,NaN,92300,NaN
117,2846.90.2050,2006,2006,United Kingdom,6840,NaN,61200,True
118,2846.90.2050,2005,2006,Other,19,NaN,17800,NaN
119,2846.90.2050,2006,2006,Other,10000,NaN,134000,True
120,2846.90.2050,2005,2006,Total,5.81e+06,NaN,1.38e+07,NaN
121,2846.90.2050,2006,2006,Total,5980000,NaN,7670000,True
122,2846.90.2050,2005,2006,Total estimated equivalent REO content,2.67e+06,NaN,6.33e+06,NaN
123,2846.90.2050,2006,2006,Total estimated equivalent REO content,2750000,NaN,7670000,True
124,3606.90.3000,2005,2006,Austria,14300,NaN,289000,NaN
125,3606.90.3000,2006,2006,Austria,16100,NaN,405000,True
126,3606.90.3000,2005,2006,China,12300,NaN,86100,NaN
127,3606.90.3000,2006,2006,China,3350,NaN,37900,True
128,3606.90.3000,2005,2006,France,119000,NaN,1.64e+06,NaN
129,3606.90.3000,2006,2006,France,120000,NaN,1650000,True
130,3606.90.3000,2005,2006,South Africa,522,NaN,23100,NaN
131,3606.90.3000,2006,2006,South Africa,--,NaN,--,True
132,3606.90.3000,2005,2006,Other,392,NaN,7520,NaN
133,3606.90.3000,2006,2006,Other,3210,NaN,21900,True
134,3606.90.3000,2005,2006,Total,147000,NaN,2.05e+06,NaN
135,3606.90.3000,2006,2006,Total,143000,NaN,2110000,True
136,3606.90.3000,2005,2006,Total estimated equivalent REO content,130000,NaN,2.05e+06,NaN
137,3606.90.3000,2006,2006,Total estimated equivalent REO content,127000,NaN,2110000,True

In [18]:
year = 2005
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2004,2005,Austria,39000,NaN,371000,NaN
1,2846.10.0000,2005,2005,Austria,18300,NaN,188000,True
2,2846.10.0000,2004,2005,China,2260000,NaN,4450000,NaN
3,2846.10.0000,2005,2005,China,2840000,NaN,4890000,True
4,2846.10.0000,2004,2005,France,190000,NaN,2500000,NaN
5,2846.10.0000,2005,2005,France,83700,NaN,1000000,True
6,2846.10.0000,2004,2005,Hong Kong,--,NaN,--,NaN
7,2846.10.0000,2005,2005,Hong Kong,36000,NaN,77500,True
8,2846.10.0000,2004,2005,Ireland,13900,NaN,350000,NaN
9,2846.10.0000,2005,2005,Ireland,13900,NaN,350000,True
10,2846.10.0000,2004,2005,Japan,270000,NaN,5050000,NaN
11,2846.10.0000,2005,2005,Japan,211000,NaN,3850000,True
12,2846.10.0000,2004,2005,"Korea, Republic of",41400,NaN,369000,NaN
13,2846.10.0000,2005,2005,"Korea, Republic of",25900,NaN,59500,True
14,2846.10.0000,2004,2005,Netherlands,8,NaN,4660,NaN
15,2846.10.0000,2005,2005,Netherlands,449,NaN,13400,True
16,2846.10.0000,2004,2005,United Kingdom,386,NaN,13000,NaN
17,2846.10.0000,2005,2005,United Kingdom,17200,NaN,175000,True
18,2846.10.0000,2004,2005,Other,931,r,40100,r
19,2846.10.0000,2005,2005,Other,1220,NaN,11100,True
20,2846.10.0000,2004,2005,Total,2820000,NaN,13200000,NaN
21,2846.10.0000,2005,2005,Total,3250000,NaN,10600000,True
22,2846.10.0000,2004,2005,Total estimated equivalent rare-earth oxide (REO) content,1880000,NaN,13200000,r
23,2846.10.0000,2005,2005,Total estimated equivalent rare-earth oxide (REO) content,2170000,NaN,10600000,True
24,2846.90.4000,2004,2005,China,211000,NaN,1350000,NaN
25,2846.90.4000,2005,2005,China,360000,NaN,1630000,True
26,2846.90.4000,2004,2005,France,3470,NaN,204000,NaN
27,2846.90.4000,2005,2005,France,535,NaN,33800,True
28,2846.90.4000,2004,2005,Japan,10900,NaN,1950000,NaN
29,2846.90.4000,2005,2005,Japan,11600,NaN,1800000,True
30,2846.90.4000,2004,2005,Other,462,NaN,16700,NaN
31,2846.90.4000,2005,2005,Other,140,NaN,26000,True
32,2846.90.4000,2004,2005,Total,226000,NaN,3510000,NaN
33,2846.90.4000,2005,2005,Total,372000,NaN,3480000,True
34,2846.90.4000,2004,2005,Total estimated equivalent REO content,136000,NaN,3510000,NaN
35,2846.90.4000,2005,2005,Total estimated equivalent REO content,223000,NaN,3480000,True
36,2846.90.8000,2004,2005,Austria,91300,NaN,3230000,NaN
37,2846.90.8000,2005,2005,Austria,126000,NaN,5460000,True
38,2846.90.8000,2004,2005,Canada,17,NaN,34300,NaN
39,2846.90.8000,2005,2005,Canada,18000,NaN,58200,True
40,2846.90.8000,2004,2005,China,11100000,NaN,29400000,NaN
41,2846.90.8000,2005,2005,China,9430000,NaN,25500000,True
42,2846.90.8000,2004,2005,Estonia,440000,NaN,428000,NaN
43,2846.90.8000,2005,2005,Estonia,76000,NaN,80000,True
44,2846.90.8000,2004,2005,France,1990000,NaN,13600000,NaN
45,2846.90.8000,2005,2005,France,518000,NaN,9290000,True
46,2846.90.8000,2004,2005,Germany,23600,NaN,714000,NaN
47,2846.90.8000,2005,2005,Germany,8000,NaN,521000,True
48,2846.90.8000,2004,2005,Hong Kong,24600,NaN,382000,NaN
49,2846.90.8000,2005,2005,Hong Kong,400,NaN,104000,True
50,2846.90.8000,2004,2005,Japan,789000,NaN,9640000,NaN
51,2846.90.8000,2005,2005,Japan,695000,NaN,12200000,True
52,2846.90.8000,2004,2005,Russia,672000,NaN,1220000,NaN
53,2846.90.8000,2005,2005,Russia,377000,NaN,680000,True
54,2846.90.8000,2004,2005,South Africa,--,NaN,--,NaN
55,2846.90.8000,2005,2005,South Africa,10600,NaN,63600,True
56,2846.90.8000,2004,2005,United Kingdom,45800,NaN,5090000,NaN
57,2846.90.8000,2005,2005,United Kingdom,147000,NaN,5540000,True
58,2846.90.8000,2004,2005,Other,25200,NaN,315000,r
59,2846.90.8000,2005,2005,Other,366,NaN,92300,True
60,2846.90.8000,2004,2005,Total,15200000,NaN,64100000,NaN
61,2846.90.8000,2005,2005,Total,11400000,NaN,59600000,True
62,2846.90.8000,2004,2005,Total estimated equivalent REO content,11400000,NaN,64100000,NaN
63,2846.90.8000,2005,2005,Total estimated equivalent REO content,8550000,NaN,59600000,True
64,2846.90.2010,2004,2005,Austria,6300,NaN,307000,NaN
65,2846.90.2010,2005,2005,Austria,7760,NaN,157000,True
66,2846.90.2010,2004,2005,China,1630000,NaN,3860000,NaN
67,2846.90.2010,2005,2005,China,578000,NaN,1960000,True
68,2846.90.2010,2004,2005,Germany,--,NaN,--,NaN
69,2846.90.2010,2005,2005,Germany,3380,NaN,44900,True
70,2846.90.2010,2004,2005,Ireland,--,NaN,--,NaN
71,2846.90.2010,2005,2005,Ireland,1270,NaN,141000,True
72,2846.90.2010,2004,2005,Italy,--,NaN,--,NaN
73,2846.90.2010,2005,2005,Italy,34500,NaN,3720000,True
74,2846.90.2010,2004,2005,Japan,9540,NaN,524000,NaN
75,2846.90.2010,2005,2005,Japan,3540,NaN,140000,True
76,2846.90.2010,2004,2005,Russia,143,NaN,91000,NaN
77,2846.90.2010,2005,2005,Russia,51,NaN,10800,True
78,2846.90.2010,2004,2005,United Kingdom,12900,NaN,84300,NaN
79,2846.90.2010,2005,2005,United Kingdom,10100,NaN,43600,True
80,2846.90.2010,2004,2005,Other,248,NaN,67100,NaN
81,2846.90.2010,2005,2005,Other,1780,NaN,103000,True
82,2846.90.2010,2004,2005,Total,1660000,NaN,4930000,NaN
83,2846.90.2010,2005,2005,Total,640000,NaN,6320000,True
84,2846.90.2010,2004,2005,Total estimated equivalent REO content,1660000,NaN,4930000,NaN
85,2846.90.2010,2005,2005,Total estimated equivalent REO content,640000,NaN,6320000,True
86,2805.30.0000,2004,2005,Austria,5350,NaN,115000,NaN
87,2805.30.0000,2005,2005,Austria,28500,NaN,1530000,True
88,2805.30.0000,2004,2005,China,632000,NaN,2780000,NaN
89,2805.30.0000,2005,2005,China,664000,NaN,2880000,True
90,2805.30.0000,2004,2005,Germany,2000,NaN,24500,NaN
91,2805.30.0000,2005,2005,Germany,62,NaN,3560,True
92,2805.30.0000,2004,2005,Italy,5900,NaN,30100,NaN
93,2805.30.0000,2005,2005,Italy,--,NaN,--,True
94,2805.30.0000,2004,2005,Japan,13200,NaN,216000,NaN
95,2805.30.0000,2005,2005,Japan,31100,NaN,206000,True
96,2805.30.0000,2004,2005,Russia,1010,NaN,119000,NaN
97,2805.30.0000,2005,2005,Russia,979,NaN,117000,True
98,2805.30.0000,2004,2005,United Kingdom,10400,NaN,177000,NaN
99,2805.30.0000,2005,2005,United Kingdom,7660,NaN,164000,True
100,2805.30.0000,2004,2005,Other,233,NaN,36400,NaN
101,2805.30.0000,2005,2005,Other,600,NaN,2390,True
102,2805.30.0000,2004,2005,Total,670000,NaN,3500000,NaN
103,2805.30.0000,2005,2005,Total,733000,NaN,4900000,True
104,2805.30.0000,2004,2005,Total estimated equivalent REO content,804000,NaN,3500000,NaN
105,2805.30.0000,2005,2005,Total estimated equivalent REO content,880000,NaN,4900000,True
106,2846.90.2050,2004,2005,Belgium,13000,NaN,122000,NaN
107,2846.90.2050,2005,2005,Belgium,10000,NaN,26200,True
108,2846.90.2050,2004,2005,China,2750000,NaN,2670000,NaN
109,2846.90.2050,2005,2005,China,5760000,NaN,6420000,True
110,2846.90.2050,2004,2005,France,10900,NaN,83400,NaN
111,2846.90.2050,2005,2005,France,--,NaN,--,True
112,2846.90.2050,2004,2005,Germany,247,NaN,158000,NaN
113,2846.90.2050,2005,2005,Germany,138,NaN,92700,True
114,2846.90.2050,2004,2005,Israel,1000,NaN,879000,NaN
115,2846.90.2050,2005,2005,Israel,--,NaN,--,True
116,2846.90.2050,2004,2005,Japan,24500,NaN,483000,NaN
117,2846.90.2050,2005,2005,Japan,22700,NaN,6990000,True
118,2846.90.2050,2004,2005,"Korea, Republic of",37800,NaN,2140000,NaN
119,2846.90.2050,2005,2005,"Korea, Republic of",--,NaN,--,True
120,2846.90.2050,2004,2005,Mexico,--,NaN,--,NaN
121,2846.90.2050,2005,2005,Mexico,960,NaN,28800,True
122,2846.90.2050,2004,2005,Netherlands,15000,NaN,83100,NaN
123,2846.90.2050,2005,2005,Netherlands,--,NaN,--,True
124,2846.90.2050,2004,2005,Russia,1140,NaN,222000,NaN
125,2846.90.2050,2005,2005,Russia,54,NaN,98700,True
126,2846.90.2050,2004,2005,United Kingdom,2400,NaN,15400,NaN
127,2846.90.2050,2005,2005,United Kingdom,13600,NaN,92300,True
128,2846.90.2050,2004,2005,Other,12,r,6570,r
129,2846.90.2050,2005,2005,Other,19,NaN,17800,True
130,2846.90.2050,2004,2005,Total,2850000,NaN,6870000,NaN
131,2846.90.2050,2005,2005,Total,5810000,NaN,13800000,True
132,2846.90.2050,2004,2005,Total estimated equivalent REO content,1310000,NaN,6870000,NaN
133,2846.90.2050,2005,2005,Total estimated equivalent REO content,2670000,NaN,6330000,True
134,3606.90.3000,2004,2005,Austria,18800,NaN,402000,NaN
135,3606.90.3000,2005,2005,Austria,14300,NaN,289000,True
136,3606.90.3000,2004,2005,Belgium,2300,NaN,39200,NaN
137,3606.90.3000,2005,2005,Belgium,--,NaN,--,True
138,3606.90.3000,2004,2005,China,--,NaN,--,NaN
139,3606.90.3000,2005,2005,China,12300,NaN,86100,True
140,3606.90.3000,2004,2005,France,97100,NaN,1330000,NaN
141,3606.90.3000,2005,2005,France,119000,NaN,1640000,True
142,3606.90.3000,2004,2005,Japan,211,NaN,5430,NaN
143,3606.90.3000,2005,2005,Japan,--,NaN,--,True
144,3606.90.3000,2004,2005,South Africa,--,NaN,--,NaN
145,3606.90.3000,2005,2005,South Africa,522,NaN,23100,True
146,3606.90.3000,2004,2005,Other,--,NaN,--,NaN
147,3606.90.3000,2005,2005,Other,392,NaN,7520,True
148,3606.90.3000,2004,2005,Total,118000,NaN,1770000,NaN
149,3606.90.3000,2005,2005,Total,147000,NaN,2050000,True
150,3606.90.3000,2004,2005,Total estimated equivalent REO content,105000,NaN,1770000,NaN
151,3606.90.3000,2005,2005,Total estimated equivalent REO content,130000,NaN,2050000,True

In [19]:
year = 2004
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2003,2004,Austria,166000,NaN,677000,NaN
1,2846.10.0000,2004,2004,Austria,39000,NaN,371000,True
2,2846.10.0000,2003,2004,China,3050000,NaN,7170000,NaN
3,2846.10.0000,2004,2004,China,2260000,NaN,4450000,True
4,2846.10.0000,2003,2004,France,155000,NaN,2390000,NaN
5,2846.10.0000,2004,2004,France,190000,NaN,2500000,True
6,2846.10.0000,2003,2004,Japan,174000,r,4290000,NaN
7,2846.10.0000,2004,2004,Japan,270000,NaN,5050000,True
8,2846.10.0000,2003,2004,Other,80300,NaN,533000,NaN
9,2846.10.0000,2004,2004,Other,56600,NaN,777000,True
10,2846.10.0000,2003,2004,Total,3630000,NaN,15100000,NaN
11,2846.10.0000,2004,2004,Total,2820000,NaN,13200000,True
12,2846.10.0000,2003,2004,Total estimated equivalent rare-earth oxide (REO) content,2430000,NaN,15100000,NaN
13,2846.10.0000,2004,2004,Total estimated equivalent rare-earth oxide (REO) content,1880000,NaN,25900000,True
14,2846.90.4000,2003,2004,China,63000,NaN,941000,NaN
15,2846.90.4000,2004,2004,China,211000,NaN,1350000,True
16,2846.90.4000,2003,2004,France,6330,NaN,216000,NaN
17,2846.90.4000,2004,2004,France,3470,NaN,204000,True
18,2846.90.4000,2003,2004,Japan,8880,NaN,2870000,NaN
19,2846.90.4000,2004,2004,Japan,10900,NaN,1950000,True
20,2846.90.4000,2003,2004,Other,8330,r,308000,r
21,2846.90.4000,2004,2004,Other,462,NaN,16700,True
22,2846.90.4000,2003,2004,Total,86600,NaN,4330000,NaN
23,2846.90.4000,2004,2004,Total,226000,NaN,3510000,True
24,2846.90.4000,2003,2004,Total estimated equivalent REO content,51900,NaN,4330000,NaN
25,2846.90.4000,2004,2004,Total estimated equivalent REO content,136000,NaN,3510000,True
26,2846.90.8000,2003,2004,Austria,76700,NaN,2690000,NaN
27,2846.90.8000,2004,2004,Austria,91300,NaN,3230000,True
28,2846.90.8000,2003,2004,China,8210000,NaN,21000000,NaN
29,2846.90.8000,2004,2004,China,11100000,NaN,29400000,True
30,2846.90.8000,2003,2004,Estonia,520000,NaN,515000,NaN
31,2846.90.8000,2004,2004,Estonia,440000,NaN,428000,True
32,2846.90.8000,2003,2004,France,2080000,NaN,15700000,NaN
33,2846.90.8000,2004,2004,France,1990000,NaN,13600000,True
34,2846.90.8000,2003,2004,Germany,5010,NaN,1090000,NaN
35,2846.90.8000,2004,2004,Germany,23600,NaN,714000,True
36,2846.90.8000,2003,2004,Hong Kong,13100,NaN,241000,NaN
37,2846.90.8000,2004,2004,Hong Kong,24600,NaN,382000,True
38,2846.90.8000,2003,2004,Japan,536000,NaN,5460000,NaN
39,2846.90.8000,2004,2004,Japan,789000,NaN,9640000,True
40,2846.90.8000,2003,2004,Russia,1020000,NaN,1860000,NaN
41,2846.90.8000,2004,2004,Russia,672000,NaN,1220000,True
42,2846.90.8000,2003,2004,United Kingdom,185000,NaN,5860000,NaN
43,2846.90.8000,2004,2004,United Kingdom,45800,NaN,5090000,True
44,2846.90.8000,2003,2004,Other,129000,NaN,1080000,r
45,2846.90.8000,2004,2004,Other,25200,NaN,349000,True
46,2846.90.8000,2003,2004,Total,12800000,NaN,55500000,NaN
47,2846.90.8000,2004,2004,Total,15200000,NaN,64100000,True
48,2846.90.8000,2003,2004,Total estimated equivalent REO content,9580000,NaN,55500000,NaN
49,2846.90.8000,2004,2004,Total estimated equivalent REO content,11400000,NaN,64100000,True
50,2846.90.2010,2003,2004,Austria,11900,NaN,652000,NaN
51,2846.90.2010,2004,2004,Austria,6300,NaN,307000,True
52,2846.90.2010,2003,2004,China,1670000,NaN,4740000,NaN
53,2846.90.2010,2004,2004,China,1630000,NaN,3860000,True
54,2846.90.2010,2003,2004,Germany,8800,NaN,163000,NaN
55,2846.90.2010,2004,2004,Germany,--,NaN,--,True
56,2846.90.2010,2003,2004,Japan,17600,NaN,458000,NaN
57,2846.90.2010,2004,2004,Japan,9540,NaN,524000,True
58,2846.90.2010,2003,2004,Russia,115,NaN,16000,NaN
59,2846.90.2010,2004,2004,Russia,143,NaN,91000,True
60,2846.90.2010,2003,2004,United Kingdom,1600,NaN,12000,NaN
61,2846.90.2010,2004,2004,United Kingdom,12900,NaN,84300,True
62,2846.90.2010,2003,2004,Other,3240,NaN,58800,NaN
63,2846.90.2010,2004,2004,Other,248,NaN,67100,True
64,2846.90.2010,2003,2004,Total,1710000,NaN,6100000,NaN
65,2846.90.2010,2004,2004,Total,1660000,NaN,4930000,True
66,2846.90.2010,2003,2004,Total estimated equivalent REO content,1710000,NaN,6100000,NaN
67,2846.90.2010,2004,2004,Total estimated equivalent REO content,1660000,NaN,4930000,True
68,2805.30.0000,2003,2004,Australia,8670,NaN,814000,NaN
69,2805.30.0000,2004,2004,Australia,--,NaN,--,True
70,2805.30.0000,2003,2004,Austria,461,NaN,44100,NaN
71,2805.30.0000,2004,2004,Austria,5350,NaN,115000,True
72,2805.30.0000,2003,2004,China,539000,NaN,2270000,NaN
73,2805.30.0000,2004,2004,China,632000,NaN,2780000,True
74,2805.30.0000,2003,2004,Germany,1000,NaN,8910,NaN
75,2805.30.0000,2004,2004,Germany,2000,NaN,24500,True
76,2805.30.0000,2003,2004,Italy,2000,NaN,10400,NaN
77,2805.30.0000,2004,2004,Italy,5900,NaN,30100,True
78,2805.30.0000,2003,2004,Japan,176000,NaN,1600000,NaN
79,2805.30.0000,2004,2004,Japan,13200,NaN,216000,True
80,2805.30.0000,2003,2004,Russia,1040,NaN,150000,NaN
81,2805.30.0000,2004,2004,Russia,1010,NaN,119000,True
82,2805.30.0000,2003,2004,United Kingdom,7960,NaN,226000,NaN
83,2805.30.0000,2004,2004,United Kingdom,10400,NaN,177000,True
84,2805.30.0000,2003,2004,Other,125,r,13100,r
85,2805.30.0000,2004,2004,Other,233,NaN,36400,True
86,2805.30.0000,2003,2004,Total,737000,NaN,5140000,NaN
87,2805.30.0000,2004,2004,Total,670000,NaN,3500000,True
88,2805.30.0000,2003,2004,Total estimated equivalent REO content,884000,NaN,5140000,NaN
89,2805.30.0000,2004,2004,Total estimated equivalent REO content,804000,NaN,3500000,True
90,2846.90.2050,2003,2004,Belgium,--,NaN,--,NaN
91,2846.90.2050,2004,2004,Belgium,13000,NaN,122000,True
92,2846.90.2050,2003,2004,China,3910000,NaN,3640000,NaN
93,2846.90.2050,2004,2004,China,2750000,NaN,2670000,True
94,2846.90.2050,2003,2004,France,35200,NaN,522000,NaN
95,2846.90.2050,2004,2004,France,10900,NaN,83400,True
96,2846.90.2050,2003,2004,India,80000,NaN,75600,NaN
97,2846.90.2050,2004,2004,India,--,NaN,--,True
98,2846.90.2050,2003,2004,Israel,100000,NaN,896000,NaN
99,2846.90.2050,2004,2004,Israel,1000,NaN,879000,True
100,2846.90.2050,2003,2004,Japan,7360,NaN,499000,NaN
101,2846.90.2050,2004,2004,Japan,24500,NaN,483000,True
102,2846.90.2050,2003,2004,"Korea, Republic of",1220,NaN,102000,NaN
103,2846.90.2050,2004,2004,"Korea, Republic of",37800,NaN,2140000,True
104,2846.90.2050,2003,2004,Netherlands,5130,NaN,62900,NaN
105,2846.90.2050,2004,2004,Netherlands,15000,NaN,83100,True
106,2846.90.2050,2003,2004,Russia,47,NaN,105000,NaN
107,2846.90.2050,2004,2004,Russia,1140,NaN,222000,True
108,2846.90.2050,2003,2004,United Kingdom,2400,NaN,26200,NaN
109,2846.90.2050,2004,2004,United Kingdom,2400,NaN,15400,True
110,2846.90.2050,2003,2004,Other,1670,r,280000,r
111,2846.90.2050,2004,2004,Other,259,NaN,165000,True
112,2846.90.2050,2003,2004,Total,4150000,NaN,6210000,NaN
113,2846.90.2050,2004,2004,Total,2850000,NaN,6870000,True
114,2846.90.2050,2003,2004,Total estimated equivalent REO content,1910000,NaN,6210000,NaN
115,2846.90.2050,2004,2004,Total estimated equivalent REO content,1310000,NaN,6870000,True
116,3606.90.3000,2003,2004,Austria,20300,NaN,396000,NaN
117,3606.90.3000,2004,2004,Austria,18800,NaN,402000,True
118,3606.90.3000,2003,2004,Belgium,--,NaN,--,NaN
119,3606.90.3000,2004,2004,Belgium,2300,NaN,39200,True
120,3606.90.3000,2003,2004,France,93600,NaN,1230000,NaN
121,3606.90.3000,2004,2004,France,97100,NaN,1330000,True
122,3606.90.3000,2003,2004,Japan,261,NaN,6390,NaN
123,3606.90.3000,2004,2004,Japan,211,NaN,5430,True
124,3606.90.3000,2003,2004,Netherlands,543,NaN,23200,NaN
125,3606.90.3000,2004,2004,Netherlands,--,NaN,--,True
126,3606.90.3000,2003,2004,Total,115000,NaN,1650000,NaN
127,3606.90.3000,2004,2004,Total,118000,NaN,1770000,True
128,3606.90.3000,2003,2004,Total estimated equivalent REO content,102000,NaN,1650000,NaN
129,3606.90.3000,2004,2004,Total estimated equivalent REO content,105000,NaN,1770000,True

In [20]:
year = 2003
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2002,2003,Austria,76500,NaN,337000,NaN
1,2846.10.0000,2003,2003,Austria,166000,NaN,677000,True
2,2846.10.0000,2002,2003,China,2770000,NaN,9050000,NaN
3,2846.10.0000,2003,2003,China,3050000,NaN,7170000,True
4,2846.10.0000,2002,2003,France,725000,NaN,4420000,NaN
5,2846.10.0000,2003,2003,France,155000,NaN,2390000,True
6,2846.10.0000,2002,2003,Japan,162000,NaN,4980000,NaN
7,2846.10.0000,2003,2003,Japan,172000,NaN,4290000,True
8,2846.10.0000,2002,2003,Other,73600,NaN,348000,NaN
9,2846.10.0000,2003,2003,Other,80300,NaN,533000,True
10,2846.10.0000,2002,2003,Total,3800000,NaN,19100000,NaN
11,2846.10.0000,2003,2003,Total,3630000,NaN,15100000,True
12,2846.10.0000,2002,2003,Total estimated equivalent rare-earth oxide (REO) content,2540000,NaN,19100000,NaN
13,2846.10.0000,2003,2003,Total estimated equivalent rare-earth oxide (REO) content,2430000,NaN,15100000,True
14,2846.90.4000,2002,2003,China,57300,NaN,858000,NaN
15,2846.90.4000,2003,2003,China,63000,NaN,941000,True
16,2846.90.4000,2002,2003,France,4680,NaN,160000,NaN
17,2846.90.4000,2003,2003,France,6330,NaN,216000,True
18,2846.90.4000,2002,2003,Germany,10,NaN,10100,NaN
19,2846.90.4000,2003,2003,Germany,4,NaN,4790,True
20,2846.90.4000,2002,2003,Japan,11100,NaN,2820000,NaN
21,2846.90.4000,2003,2003,Japan,8880,NaN,2870000,True
22,2846.90.4000,2002,2003,United Kingdom,--,NaN,--,NaN
23,2846.90.4000,2003,2003,United Kingdom,--,NaN,--,True
24,2846.90.4000,2002,2003,Other,238,NaN,25400,NaN
25,2846.90.4000,2003,2003,Other,8320,NaN,303000,True
26,2846.90.4000,2002,2003,Total,73300,NaN,3870000,NaN
27,2846.90.4000,2003,2003,Total,86600,NaN,4330000,True
28,2846.90.4000,2002,2003,Total estimated equivalent REO content,44000,NaN,3870000,NaN
29,2846.90.4000,2003,2003,Total estimated equivalent REO content,51900,NaN,4330000,True
30,2846.90.8000,2002,2003,Austria,75200,NaN,1550000,NaN
31,2846.90.8000,2003,2003,Austria,76700,NaN,2690000,True
32,2846.90.8000,2002,2003,China,5670000,NaN,18700000,NaN
33,2846.90.8000,2003,2003,China,8210000,NaN,21000000,True
34,2846.90.8000,2002,2003,Estonia,1270000,NaN,1510000,NaN
35,2846.90.8000,2003,2003,Estonia,520000,NaN,515000,True
36,2846.90.8000,2002,2003,France,1600000,NaN,11800000,NaN
37,2846.90.8000,2003,2003,France,2080000,NaN,15700000,True
38,2846.90.8000,2002,2003,Germany,13600,NaN,635000,NaN
39,2846.90.8000,2003,2003,Germany,5010,NaN,1090000,True
40,2846.90.8000,2002,2003,Hong Kong,65000,NaN,169000,NaN
41,2846.90.8000,2003,2003,Hong Kong,13100,NaN,241000,True
42,2846.90.8000,2002,2003,Japan,231000,NaN,3780000,NaN
43,2846.90.8000,2003,2003,Japan,536000,NaN,5460000,True
44,2846.90.8000,2002,2003,Norway,1730,NaN,2520000,NaN
45,2846.90.8000,2003,2003,Norway,6,NaN,3750,True
46,2846.90.8000,2002,2003,Russia,571000,NaN,1140000,NaN
47,2846.90.8000,2003,2003,Russia,1020000,NaN,1860000,True
48,2846.90.8000,2002,2003,Taiwan,9,NaN,5750,NaN
49,2846.90.8000,2003,2003,Taiwan,1,NaN,3490,True
50,2846.90.8000,2002,2003,United Kingdom,157000,NaN,6480000,NaN
51,2846.90.8000,2003,2003,United Kingdom,185000,NaN,5860000,True
52,2846.90.8000,2002,2003,Other,25200,NaN,916000,NaN
53,2846.90.8000,2003,2003,Other,129000,NaN,1070000,True
54,2846.90.8000,2002,2003,Total,9670000,NaN,49200000,NaN
55,2846.90.8000,2003,2003,Total,12800000,NaN,55500000,True
56,2846.90.8000,2002,2003,Total estimated equivalent REO content,7260000,NaN,49200000,NaN
57,2846.90.8000,2003,2003,Total estimated equivalent REO content,9580000,NaN,55500000,True
58,2846.90.2010,2002,2003,Austria,4230,NaN,97600,NaN
59,2846.90.2010,2003,2003,Austria,11900,NaN,652000,True
60,2846.90.2010,2002,2003,China,1010000,NaN,3220000,NaN
61,2846.90.2010,2003,2003,China,1670000,NaN,4740000,True
62,2846.90.2010,2002,2003,France,740,NaN,66600,NaN
63,2846.90.2010,2003,2003,France,--,NaN,--,True
64,2846.90.2010,2002,2003,Germany,--,NaN,--,NaN
65,2846.90.2010,2003,2003,Germany,8800,NaN,163000,True
66,2846.90.2010,2002,2003,Japan,19700,NaN,994000,NaN
67,2846.90.2010,2003,2003,Japan,17600,NaN,458000,True
68,2846.90.2010,2002,2003,Russia,336,NaN,36100,NaN
69,2846.90.2010,2003,2003,Russia,115,NaN,16000,True
70,2846.90.2010,2002,2003,United Kingdom,4600,NaN,52300,NaN
71,2846.90.2010,2003,2003,United Kingdom,1600,NaN,12000,True
72,2846.90.2010,2002,2003,Other,1540,NaN,47300,NaN
73,2846.90.2010,2003,2003,Other,3240,NaN,58800,True
74,2846.90.2010,2002,2003,Total,1040000,NaN,4510000,NaN
75,2846.90.2010,2003,2003,Total,1710000,NaN,6100000,True
76,2846.90.2010,2002,2003,Total estimated equivalent REO content,1040000,NaN,4510000,NaN
77,2846.90.2010,2003,2003,Total estimated equivalent REO content,1710000,NaN,6100000,True
78,2805.30.0000,2002,2003,China,580000,NaN,3130000,NaN
79,2805.30.0000,2003,2003,China,539000,NaN,2270000,True
80,2805.30.0000,2002,2003,Hong Kong,540,NaN,13300,NaN
81,2805.30.0000,2003,2003,Hong Kong,--,NaN,--,True
82,2805.30.0000,2002,2003,Japan,536000,NaN,5870000,NaN
83,2805.30.0000,2003,2003,Japan,176000,NaN,1600000,True
84,2805.30.0000,2002,2003,Russia,5,NaN,2250,NaN
85,2805.30.0000,2003,2003,Russia,1040,NaN,150000,True
86,2805.30.0000,2002,2003,United Kingdom,10700,NaN,403000,NaN
87,2805.30.0000,2003,2003,United Kingdom,7960,NaN,226000,True
88,2805.30.0000,2002,2003,Other,84400,NaN,575000,NaN
89,2805.30.0000,2003,2003,Other,12300,NaN,891000,True
90,2805.30.0000,2002,2003,Total,1210000,NaN,9990000,NaN
91,2805.30.0000,2003,2003,Total,737000,NaN,5140000,True
92,2805.30.0000,2002,2003,Total estimated equivalent REO content,1450000,NaN,9990000,NaN
93,2805.30.0000,2003,2003,Total estimated equivalent REO content,884000,NaN,5140000,True
94,2846.90.2050,2002,2003,China,2270000,NaN,3350000,NaN
95,2846.90.2050,2003,2003,China,3910000,NaN,3640000,True
96,2846.90.2050,2002,2003,France,26400,NaN,222000,NaN
97,2846.90.2050,2003,2003,France,35200,NaN,522000,True
98,2846.90.2050,2002,2003,India,599000,NaN,734000,NaN
99,2846.90.2050,2003,2003,India,80000,NaN,75600,True
100,2846.90.2050,2002,2003,Israel,951000,NaN,542000,NaN
101,2846.90.2050,2003,2003,Israel,100000,NaN,896000,True
102,2846.90.2050,2002,2003,Japan,3260,NaN,123000,NaN
103,2846.90.2050,2003,2003,Japan,7360,NaN,499000,True
104,2846.90.2050,2002,2003,Netherlands,18800,NaN,128000,NaN
105,2846.90.2050,2003,2003,Netherlands,5130,NaN,62900,True
106,2846.90.2050,2002,2003,United Kingdom,18600,NaN,89700,NaN
107,2846.90.2050,2003,2003,United Kingdom,2400,NaN,26200,True
108,2846.90.2050,2002,2003,Other,33300,NaN,416000,NaN
109,2846.90.2050,2003,2003,Other,2930,NaN,488000,True
110,2846.90.2050,2002,2003,Total,3920000,NaN,5600000,NaN
111,2846.90.2050,2003,2003,Total,4150000,NaN,6210000,True
112,2846.90.2050,2002,2003,Total estimated equivalent REO content,1800000,NaN,5600000,NaN
113,2846.90.2050,2003,2003,Total estimated equivalent REO content,1910000,NaN,6210000,True
114,3606.90.3000,2002,2003,Australia,2310,NaN,32100,NaN
115,3606.90.3000,2003,2003,Australia,--,NaN,--,True
116,3606.90.3000,2002,2003,Austria,13800,NaN,269000,NaN
117,3606.90.3000,2003,2003,Austria,20300,NaN,396000,True
118,3606.90.3000,2002,2003,France,81900,NaN,877000,NaN
119,3606.90.3000,2003,2003,France,93600,NaN,1230000,True
120,3606.90.3000,2002,2003,Other,2780,NaN,38700,NaN
121,3606.90.3000,2003,2003,Other,804,NaN,29600,True
122,3606.90.3000,2002,2003,Total,101000,NaN,1220000,NaN
123,3606.90.3000,2003,2003,Total,115000,NaN,1650000,True
124,3606.90.3000,2002,2003,Total estimated equivalent REO content,89500,NaN,1220000,NaN
125,3606.90.3000,2003,2003,Total estimated equivalent REO content,102000,NaN,1650000,True

In [21]:
year = 2002
rares[year] = get_rare_or_tmp(year)
rares[year]

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0000,2001,2002,Austria,59000,NaN,439000,NaN
1,2846.10.0000,2002,2002,Austria,76500,NaN,337000,True
2,2846.10.0000,2001,2002,China,4060000,NaN,14000000,NaN
3,2846.10.0000,2002,2002,China,2770000,NaN,9050000,True
4,2846.10.0000,2001,2002,France,1240000,NaN,6650000,NaN
5,2846.10.0000,2002,2002,France,725000,NaN,4420000,True
6,2846.10.0000,2001,2002,Japan,288000,NaN,6500000,NaN
7,2846.10.0000,2002,2002,Japan,162000,NaN,4980000,True
8,2846.10.0000,2001,2002,Other,115000,NaN,737000,NaN
9,2846.10.0000,2002,2002,Other,73600,NaN,348000,True
10,2846.10.0000,2001,2002,Total,5760000,NaN,28300000,NaN
11,2846.10.0000,2002,2002,Total,3800000,NaN,19100000,True
12,2846.10.0000,2001,2002,Total estimated equivalent rare-earth oxide (REO) content,3870000,NaN,28300000,NaN
13,2846.10.0000,2002,2002,Total estimated equivalent rare-earth oxide (REO) content,2540000,NaN,19100000,True
14,2846.90.4000,2001,2002,China,107000,NaN,1560000,NaN
15,2846.90.4000,2002,2002,China,57300,NaN,858000,True
16,2846.90.4000,2001,2002,France,14300,NaN,305000,NaN
17,2846.90.4000,2002,2002,France,4680,NaN,160000,True
18,2846.90.4000,2001,2002,Germany,--,NaN,--,NaN
19,2846.90.4000,2002,2002,Germany,10,NaN,10100,True
20,2846.90.4000,2001,2002,Japan,8190,NaN,2420000,NaN
21,2846.90.4000,2002,2002,Japan,11100,NaN,2820000,True
22,2846.90.4000,2001,2002,United Kingdom,262,NaN,9340,NaN
23,2846.90.4000,2002,2002,United Kingdom,--,NaN,--,True
24,2846.90.4000,2001,2002,Other,30,NaN,15600,NaN
25,2846.90.4000,2002,2002,Other,238,NaN,25400,True
26,2846.90.4000,2001,2002,Total,130000,NaN,4310000,NaN
27,2846.90.4000,2002,2002,Total,73300,NaN,3870000,True
28,2846.90.4000,2001,2002,Total estimated equivalent rare-earth oxide (REO) content,77900,NaN,4310000,NaN
29,2846.90.4000,2002,2002,Total estimated equivalent rare-earth oxide (REO) content,44000,NaN,3870000,True
30,2846.90.8000,2001,2002,Austria,38900,NaN,1300000,NaN
31,2846.90.8000,2002,2002,Austria,75200,NaN,1550000,True
32,2846.90.8000,2001,2002,China,8850000,NaN,31000000,NaN
33,2846.90.8000,2002,2002,China,5670000,NaN,18700000,True
34,2846.90.8000,2001,2002,Estonia,900000,NaN,769000,NaN
35,2846.90.8000,2002,2002,Estonia,1270000,NaN,1510000,True
36,2846.90.8000,2001,2002,France,1820000,NaN,11400000,NaN
37,2846.90.8000,2002,2002,France,1600000,NaN,11800000,True
38,2846.90.8000,2001,2002,Germany,42000,NaN,1280000,NaN
39,2846.90.8000,2002,2002,Germany,13600,NaN,635000,True
40,2846.90.8000,2001,2002,Hong Kong,--,NaN,--,NaN
41,2846.90.8000,2002,2002,Hong Kong,65000,NaN,169000,True
42,2846.90.8000,2001,2002,Japan,302000,NaN,7550000,NaN
43,2846.90.8000,2002,2002,Japan,231000,NaN,3780000,True
44,2846.90.8000,2001,2002,Norway,34500,NaN,14800000,NaN
45,2846.90.8000,2002,2002,Norway,1730,NaN,2520000,True
46,2846.90.8000,2001,2002,Russia,124000,NaN,196000,NaN
47,2846.90.8000,2002,2002,Russia,571000,NaN,1140000,True
48,2846.90.8000,2001,2002,Taiwan,18000,NaN,48900,NaN
49,2846.90.8000,2002,2002,Taiwan,9,NaN,5750,True
50,2846.90.8000,2001,2002,United Kingdom,41900,NaN,4600000,NaN
51,2846.90.8000,2002,2002,United Kingdom,157000,NaN,6480000,True
52,2846.90.8000,2001,2002,Other,26000,NaN,195000,NaN
53,2846.90.8000,2002,2002,Other,25200,NaN,916000,True
54,2846.90.8000,2001,2002,Total,12200000,NaN,73000000,NaN
55,2846.90.8000,2002,2002,Total,9670000,NaN,49200000,True
56,2846.90.8000,2001,2002,Total estimated equivalent REO content,9150000,NaN,73000000,NaN
57,2846.90.8000,2002,2002,Total estimated equivalent REO content,7260000,NaN,49200000,True
58,2846.90.2010,2001,2002,Austria,--,NaN,--,NaN
59,2846.90.2010,2002,2002,Austria,4230,NaN,97600,True
60,2846.90.2010,2001,2002,China,2030000,NaN,8160000,NaN
61,2846.90.2010,2002,2002,China,1010000,NaN,3220000,True
62,2846.90.2010,2001,2002,France,3,NaN,2050,NaN
63,2846.90.2010,2002,2002,France,740,NaN,66600,True
64,2846.90.2010,2001,2002,Germany,1740,NaN,93300,NaN
65,2846.90.2010,2002,2002,Germany,--,NaN,--,True
66,2846.90.2010,2001,2002,Japan,7160,NaN,655000,NaN
67,2846.90.2010,2002,2002,Japan,19700,NaN,994000,True
68,2846.90.2010,2001,2002,Russia,301,NaN,141000,NaN
69,2846.90.2010,2002,2002,Russia,336,NaN,36100,True
70,2846.90.2010,2001,2002,United Kingdom,386,NaN,14300,NaN
71,2846.90.2010,2002,2002,United Kingdom,4600,NaN,52300,True
72,2846.90.2010,2001,2002,Other,5770,NaN,89600,NaN
73,2846.90.2010,2002,2002,Other,1540,NaN,47300,True
74,2846.90.2010,2001,2002,Total,2040000,NaN,9160000,NaN
75,2846.90.2010,2002,2002,Total,1040000,NaN,4510000,True
76,2846.90.2010,2001,2002,Total estimated equivalent REO content,2040000,NaN,9160000,NaN
77,2846.90.2010,2002,2002,Total estimated equivalent REO content,1040000,NaN,4510000,True
78,2805.30.0000,2001,2002,China,613000,NaN,7660000,NaN
79,2805.30.0000,2002,2002,China,580000,NaN,3130000,True
80,2805.30.0000,2001,2002,Hong Kong,566,NaN,2520,NaN
81,2805.30.0000,2002,2002,Hong Kong,540,NaN,13300,True
82,2805.30.0000,2001,2002,Japan,546000,NaN,6350000,NaN
83,2805.30.0000,2002,2002,Japan,536000,NaN,5870000,True
84,2805.30.0000,2001,2002,Russia,--,NaN,--,NaN
85,2805.30.0000,2002,2002,Russia,5,NaN,2250,True
86,2805.30.0000,2001,2002,United Kingdom,16700,NaN,278000,NaN
87,2805.30.0000,2002,2002,United Kingdom,10700,NaN,403000,True
88,2805.30.0000,2001,2002,Other,6810,NaN,115000,NaN
89,2805.30.0000,2002,2002,Other,84400,NaN,575000,True
90,2805.30.0000,2001,2002,Total,1180000,NaN,14400000,NaN
91,2805.30.0000,2002,2002,Total,1210000,NaN,9990000,True
92,2805.30.0000,2001,2002,Total estimated equivalent REO content,1420000,NaN,14400000,NaN
93,2805.30.0000,2002,2002,Total estimated equivalent REO content,1460000,NaN,9990000,True
94,2846.90.2050,2001,2002,China,4020000,NaN,6180000,NaN
95,2846.90.2050,2002,2002,China,2270000,NaN,3350000,True
96,2846.90.2050,2001,2002,France,26600,NaN,549000,NaN
97,2846.90.2050,2002,2002,France,26400,NaN,222000,True
98,2846.90.2050,2001,2002,India,1490000,NaN,1720000,NaN
99,2846.90.2050,2002,2002,India,599000,NaN,734000,True
100,2846.90.2050,2001,2002,Israel,--,NaN,--,NaN
101,2846.90.2050,2002,2002,Israel,951000,NaN,542000,True
102,2846.90.2050,2001,2002,Japan,1510,NaN,110000,NaN
103,2846.90.2050,2002,2002,Japan,3260,NaN,123000,True
104,2846.90.2050,2001,2002,Netherlands,--,NaN,--,NaN
105,2846.90.2050,2002,2002,Netherlands,18800,NaN,128000,True
106,2846.90.2050,2001,2002,United Kingdom,20400,NaN,101000,NaN
107,2846.90.2050,2002,2002,United Kingdom,18600,NaN,89700,True
108,2846.90.2050,2001,2002,Other,65100,NaN,403000,NaN
109,2846.90.2050,2002,2002,Other,33300,NaN,416000,True
110,2846.90.2050,2001,2002,Total,5620000,NaN,9060000,NaN
111,2846.90.2050,2002,2002,Total,3920000,NaN,5600000,True
112,2846.90.2050,2001,2002,Total estimated equivalent REO content,2590000,NaN,9060000,NaN
113,2846.90.2050,2002,2002,Total estimated equivalent REO content,1800000,NaN,5600000,True
114,3606.90.3000,2001,2002,Australia,--,NaN,--,NaN
115,3606.90.3000,2002,2002,Australia,2310,NaN,32100,True
116,3606.90.3000,2001,2002,Austria,16300,NaN,267000,NaN
117,3606.90.3000,2002,2002,Austria,13800,NaN,269000,True
118,3606.90.3000,2001,2002,France,113000,NaN,1170000,NaN
119,3606.90.3000,2002,2002,France,81900,NaN,877000,True
120,3606.90.3000,2001,2002,Other,3310,NaN,33200,NaN
121,3606.90.3000,2002,2002,Other,2780,NaN,38700,True
122,3606.90.3000,2001,2002,Total,132000,NaN,1470000,NaN
123,3606.90.3000,2002,2002,Total,101000,NaN,1220000,True
124,3606.90.3000,2001,2002,Total estimated equivalent REO content,118000,NaN,1470000,NaN
125,3606.90.3000,2002,2002,Total estimated equivalent REO content,89500,NaN,1220000,True

# Merge

In [22]:
# tmp_rare = rare_2016.append(rare_2015)
# tmp_rare = tmp_rare.append(rare_2014)
# tmp_rare = tmp_rare.append(rare_2013)
# tmp_rare = tmp_rare.append(rare_2012)
# tmp_rare.head()
tmp_rare = pd.DataFrame()
for k, v in rares.items():
    tmp_rare = tmp_rare.append(v)
tmp_rare.shape

(2288, 8)

# Prepare

In [23]:
import numpy as np
rare = tmp_rare.loc[(tmp_rare['recorded_year']==2016) | (tmp_rare['recorded_year'] > tmp_rare['year'])]
rare.replace('--', 0, inplace=True)
rare.replace('XX', np.nan, inplace=True)
rare['country'] = rare['country'].apply(lambda x: x.strip())
# rare.applymap(lambda x: x.strip())
rare.reset_index(inplace=True, drop=True)
rare.head()

/home/jake/.virtualenvs/workspace/lib/python3.6/site-packages/pandas/core/frame.py:4042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)
/home/jake/.virtualenvs/workspace/lib/python3.6/site-packages/IPython/kernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0010,2015,2016,China,402000.0,NaN,1770000.0,NaN
1,2846.10.0010,2016,2016,China,801000.0,NaN,1770000.0,NaN
2,2846.10.0010,2015,2016,Japan,292000.0,NaN,13500000.0,NaN
3,2846.10.0010,2016,2016,Japan,332000.0,NaN,13100000.0,NaN
4,2846.10.0010,2015,2016,Other,35000.0,NaN,656000.0,NaN

In [24]:
rare['hts_code'].value_counts()

2846.90.8000                                146
2805.30.0000                                122
2846.90.2050                                121
2846.10.0000                                117
2846.90.2010                                111
3606.90.3000                                104
2846.90.4000                                97
2846.10.0050                                29
2805.30.0020                                29
2846.90.8090                                28
2846.10.0010                                27
2805.30.0090                                26
2846.90.2015                                25
2846.90.2084                                24
2846.90.8075                                23
2846.90.8070                                22
2805.30.0005                                22
2805.30.0010                                22
2846.90.2005                                20
2805.30.0050                                20
2846.90.2040                                18
2846.90.2050, 2846.90.2080, 2846.90.2090    12
2846.90.2082                                12
2846.90.2045                                11
2846.90.8050                                11
2846.90.8000, 2846.90.8090                  7
2846.90.2045, *3                            5
2846.90.2010, 2846.90.2040                  5
2846.90.2080, 2846.90.2090, *3              5
2846.90.8060, 2846.90.2082                  4
2846.90.8060                                4
2846.90.8050, *3                            4
Name: hts_code, dtype: int64

In [25]:
rare

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0010,2015,2016,China,402000.00,NaN,1770000.0,NaN
1,2846.10.0010,2016,2016,China,801000.00,NaN,1770000.0,NaN
2,2846.10.0010,2015,2016,Japan,292000.00,NaN,13500000.0,NaN
3,2846.10.0010,2016,2016,Japan,332000.00,NaN,13100000.0,NaN
4,2846.10.0010,2015,2016,Other,35000.00,NaN,656000.0,NaN
5,2846.10.0010,2016,2016,Other,18700.00,NaN,723000.0,NaN
6,2846.10.0010,2015,2016,Total,730000.00,NaN,15900000.0,NaN
7,2846.10.0010,2016,2016,Total,1150000.00,NaN,15600000.0,NaN
8,2846.10.0010,2015,2016,Total estimated rare-earth-oxide (REO) equivalent,730000.00,NaN,NaN,NaN
9,2846.10.0010,2016,2016,Total estimated rare-earth-oxide (REO) equivalent,1150000.00,NaN,NaN,NaN
10,2846.10.0050,2015,2016,China,302000.00,NaN,1490000.0,NaN
11,2846.10.0050,2016,2016,China,424000.00,NaN,3600000.0,NaN
12,2846.10.0050,2015,2016,Estonia,658000.00,NaN,2080000.0,NaN
13,2846.10.0050,2016,2016,Estonia,525000.00,NaN,888000.0,NaN
14,2846.10.0050,2015,2016,Other,105000.00,r,4850000.0,r
15,2846.10.0050,2016,2016,Other,68800.00,NaN,1540000.0,NaN
16,2846.10.0050,2015,2016,Total,1060000.00,r,8420000.0,r
17,2846.10.0050,2016,2016,Total,1020000.00,NaN,6030000.0,NaN
18,2846.10.0050,2015,2016,Total estimated REO equivalent,712000.00,r,NaN,NaN
19,2846.10.0050,2016,2016,Total estimated REO equivalent,681000.00,NaN,NaN,NaN
20,2846.90.8070,2015,2016,China,755000.00,NaN,2220000.0,NaN
21,2846.90.8070,2016,2016,China,2330000.00,NaN,4290000.0,NaN
22,2846.90.8070,2015,2016,Other,212.00,r,26700.0,r
23,2846.90.8070,2016,2016,Other,14.00,NaN,38000.0,NaN
24,2846.90.8070,2015,2016,Total,755000.00,r,2250000.0,r
25,2846.90.8070,2016,2016,Total,2330000.00,NaN,4330000.0,NaN
26,2846.90.8070,2015,2016,Total estimated REO equivalent,517000.00,r,NaN,NaN
27,2846.90.8070,2016,2016,Total estimated REO equivalent,1600000.00,NaN,NaN,NaN
28,2846.90.8075,2015,2016,China,2400.00,NaN,127000.0,NaN
29,2846.90.8075,2016,2016,China,3450.00,NaN,172000.0,NaN
30,2846.90.8075,2015,2016,Estonia,38000.00,NaN,123000.0,NaN
31,2846.90.8075,2016,2016,Estonia,0.00,NaN,0.0,NaN
32,2846.90.8075,2015,2016,Other,165.00,r,40800.0,r
33,2846.90.8075,2016,2016,Other,4.00,NaN,21400.0,NaN
34,2846.90.8075,2015,2016,Total,40600.00,NaN,290000.0,NaN
35,2846.90.8075,2016,2016,Total,3450.00,NaN,193000.0,NaN
36,2846.90.8075,2015,2016,Total estimated REO equivalent,22300.00,NaN,NaN,NaN
37,2846.90.8075,2016,2016,Total estimated REO equivalent,1900.00,NaN,NaN,NaN
38,2846.90.2082,2015,2016,"Korea, Republic of",37.00,NaN,9100.0,NaN
39,2846.90.2082,2016,2016,"Korea, Republic of",109.00,NaN,26000.0,NaN
40,2846.90.2082,2015,2016,Other,15.00,r,13300.0,r
41,2846.90.2082,2016,2016,Other,1.00,NaN,5260.0,NaN
42,2846.90.2082,2015,2016,Total,52.00,NaN,22400.0,NaN
43,2846.90.2082,2016,2016,Total,110.00,NaN,31300.0,NaN
44,2846.90.2082,2015,2016,Total estimated REO equivalent,19.24,NaN,NaN,NaN
45,2846.90.2082,2016,2016,Total estimated REO equivalent,40.70,NaN,NaN,NaN
46,2846.90.2084,2015,2016,China,222000.00,NaN,1130000.0,NaN
47,2846.90.2084,2016,2016,China,345000.00,NaN,946000.0,NaN
48,2846.90.2084,2015,2016,Estonia,20000.00,NaN,947000.0,NaN
49,2846.90.2084,2016,2016,Estonia,80000.00,NaN,140000.0,NaN
50,2846.90.2084,2015,2016,France,37400.00,NaN,1320000.0,NaN
51,2846.90.2084,2016,2016,France,37100.00,NaN,1170000.0,NaN
52,2846.90.2084,2015,2016,Other,40900.00,r,136000.0,r
53,2846.90.2084,2016,2016,Other,4220.00,NaN,192000.0,NaN
54,2846.90.2084,2015,2016,Total,320000.00,NaN,3530000.0,NaN
55,2846.90.2084,2016,2016,Total,466000.00,NaN,2450000.0,NaN
56,2846.90.2084,2015,2016,Total estimated REO equivalent,176000.00,NaN,NaN,NaN
57,2846.90.2084,2016,2016,Total estimated REO equivalent,256000.00,NaN,NaN,NaN
58,2846.90.2005,2015,2016,China,2960000.00,r,10700000.0,r
59,2846.90.2005,2016,2016,China,3320000.00,NaN,7370000.0,NaN
60,2846.90.2005,2015,2016,Other,36600.00,r,723000.0,r
61,2846.90.2005,2016,2016,Other,11300.00,NaN,56200.0,NaN
62,2846.90.2005,2015,2016,Total,3000000.00,r,11400000.0,r
63,2846.90.2005,2016,2016,Total,3330000.00,NaN,7430000.0,NaN
64,2846.90.2005,2015,2016,Total estimated REO equivalent,3000000.00,NaN,NaN,NaN
65,2846.90.2005,2016,2016,Total estimated REO equivalent,3330000.00,NaN,NaN,NaN
66,2846.90.2015,2015,2016,China,5560.00,NaN,102000.0,NaN
67,2846.90.2015,2016,2016,China,4000.00,NaN,221000.0,NaN
68,2846.90.2015,2015,2016,Estonia,20000.00,NaN,109000.0,NaN
69,2846.90.2015,2016,2016,Estonia,0.00,NaN,0.0,NaN
70,2846.90.2015,2015,2016,France,4880.00,NaN,512000.0,NaN
71,2846.90.2015,2016,2016,France,0.00,NaN,0.0,NaN
72,2846.90.2015,2015,2016,"Korea, Republic of",731.00,NaN,190000.0,NaN
73,2846.90.2015,2016,2016,"Korea, Republic of",3660.00,NaN,333000.0,NaN
74,2846.90.2015,2015,2016,Other,130.00,r,24400.0,r
75,2846.90.2015,2016,2016,Other,1690.00,NaN,105000.0,NaN
76,2846.90.2015,2015,2016,Total,31300.00,NaN,937000.0,NaN
77,2846.90.2015,2016,2016,Total,9340.00,NaN,659000.0,NaN
78,2846.90.2015,2015,2016,Total estimated REO equivalent,31300.00,NaN,NaN,NaN
79,2846.90.2015,2016,2016,Total estimated REO equivalent,9340.00,NaN,NaN,NaN
80,2846.90.2040,2015,2016,China,66900.00,NaN,3020000.0,NaN
81,2846.90.2040,2016,2016,China,70700.00,NaN,2860000.0,NaN
82,2846.90.2040,2015,2016,Germany,16800.00,NaN,2990000.0,NaN
83,2846.90.2040,2016,2016,Germany,2200.00,NaN,270000.0,NaN
84,2846.90.2040,2015,2016,Japan,4970.00,NaN,342000.0,NaN
85,2846.90.2040,2016,2016,Japan,282.00,NaN,66600.0,NaN
86,2846.90.2040,2015,2016,Other,6680.00,r,287000.0,r
87,2846.90.2040,2016,2016,Other,6510.00,NaN,228000.0,NaN
88,2846.90.2040,2015,2016,Total,95400.00,NaN,6650000.0,NaN
89,2846.90.2040,2016,2016,Total,79700.00,NaN,3420000.0,NaN
90,2846.90.2040,2015,2016,Total estimated REO equivalent,95400.00,NaN,NaN,NaN
91,2846.90.2040,2016,2016,Total estimated REO equivalent,79700.00,NaN,NaN,NaN
92,2846.90.8090,2015,2016,China,4670000.00,NaN,54800000.0,r
93,2846.90.8090,2016,2016,China,6010000.00,NaN,31800000.0,NaN
94,2846.90.8090,2015,2016,Estonia,297000.00,r,1870000.0,r
95,2846.90.8090,2016,2016,Estonia,341000.00,NaN,717000.0,NaN
96,2846.90.8090,2015,2016,France,381000.00,NaN,7730000.0,NaN
97,2846.90.8090,2016,2016,France,644000.00,NaN,14500000.0,NaN
98,2846.90.8090,2015,2016,Malaysia,800000.00,NaN,2740000.0,NaN
99,2846.90.8090,2016,2016,Malaysia,440000.00,NaN,820000.0,NaN
100,2846.90.8090,2015,2016,Other,823000.00,r,25200000.0,r
101,2846.90.8090,2016,2016,Other,401000.00,NaN,17100000.0,NaN
102,2846.90.8090,2015,2016,Total,6970000.00,NaN,92300000.0,r
103,2846.90.8090,2016,2016,Total,7830000.00,NaN,64900000.0,NaN
104,2846.90.8090,2015,2016,Total estimated REO equivalent,3830000.00,NaN,NaN,NaN
105,2846.90.8090,2016,2016,Total estimated REO equivalent,4310000.00,NaN,NaN,NaN
106,2846.90.4000,2015,2016,China,75600.00,NaN,6160000.0,NaN
107,2846.90.4000,2016,2016,China,114000.00,NaN,2900000.0,NaN
108,2846.90.4000,2015,2016,Other,8420.00,r,5260000.0,r
109,2846.90.4000,2016,2016,Other,4140.00,NaN,1720000.0,NaN
110,2846.90.4000,2015,2016,Total,84000.00,NaN,11400000.0,NaN
111,2846.90.4000,2016,2016,Total,118000.00,NaN,4620000.0,NaN
112,2846.90.4000,2015,2016,Total estimated REO equivalent,50400.00,NaN,NaN,NaN
113,2846.90.4000,2016,2016,Total estimated REO equivalent,71000.00,NaN,NaN,NaN
114,3606.90.3000,2015,2016,Austria,39100.00,NaN,444000.0,r
115,3606.90.3000,2016,2016,Austria,51800.00,NaN,525000.0,NaN
116,3606.90.3000,2015,2016,China,206000.00,NaN,2560000.0,NaN
117,3606.90.3000,2016,2016,China,145000.00,NaN,1900000.0,NaN
118,3606.90.3000,2015,2016,France,139000.00,NaN,3080000.0,NaN
119,3606.90.3000,2016,2016,France,27900.00,NaN,609000.0,NaN
120,3606.90.3000,2015,2016,Spain,6730.00,NaN,139000.0,NaN
121,3606.90.3000,2016,2016,Spain,55300.00,NaN,1170000.0,NaN
122,3606.90.3000,2015,2016,Other,9790.00,r,87000.0,r
123,3606.90.3000,2016,2016,Other,21400.00,NaN,163000.0,NaN
124,3606.90.3000,2015,2016,Total,401000.00,NaN,6310000.0,NaN
125,3606.90.3000,2016,2016,Total,302000.00,NaN,4360000.0,NaN
126,3606.90.3000,2015,2016,Total estimated REO equivalent,356000.00,NaN,NaN,NaN
127,3606.90.3000,2016,2016,Total estimated REO equivalent,268000.00,NaN,NaN,NaN
128,2805.30.0010,2015,2016,China,97300.00,NaN,841000.0,NaN
129,2805.30.0010,2016,2016,China,64700.00,NaN,370000.0,NaN
130,2805.30.0010,2015,2016,Hong Kong,18500.00,NaN,129000.0,NaN
131,2805.30.0010,2016,2016,Hong Kong,20000.00,NaN,78600.0,NaN
132,2805.30.0010,2015,2016,Other,1180.00,NaN,73500.0,NaN
133,2805.30.0010,2016,2016,Other,301.00,NaN,17800.0,NaN
134,2805.30.0010,2015,2016,Total,117000.00,NaN,1040000.0,NaN
135,2805.30.0010,2016,2016,Total,85000.00,NaN,467000.0,NaN
136,2805.30.0010,2015,2016,Total estimated REO equivalent,144000.00,r,NaN,NaN
137,2805.30.0010,2016,2016,Total estimated REO equivalent,104000.00,NaN,NaN,NaN
138,2805.30.0005,2015,2016,China,61900.00,NaN,464000.0,NaN
139,2805.30.0005,2016,2016,China,43100.00,NaN,361000.0,NaN
140,2805.30.0005,2015,2016,Other,0.00,NaN,0.0,NaN
141,2805.30.0005,2016,2016,Other,352.00,NaN,35000.0,NaN
142,2805.30.0005,2015,2016,Total,61900.00,NaN,464000.0,NaN
143,2805.30.0005,2016,2016,Total,43400.00,NaN,396000.0,NaN
144,2805.30.0005,2015,2016,Total estimated REO equivalent,72600.00,NaN,NaN,NaN
145,2805.30.0005,2016,2016,Total estimated REO equivalent,50900.00,NaN,NaN,NaN
146,2805.30.0020,2015,2016,China,1940.00,NaN,223000.0,NaN
147,2805.30.0020,2016,2016,China,4060.00,NaN,147000.0,NaN
148,2805.30.0020,2015,2016,Japan,417.00,NaN,12400.0,NaN
149,2805.30.0020,2016,2016,Japan,601.00,NaN,97400.0,NaN
150,2805.30.0020,2015,2016,Thailand,1500.00,NaN,69000.0,NaN
151,2805.30.0020,2016,2016,Thailand,0.00,NaN,0.0,NaN
152,2805.30.0020,2015,2016,United Kingdom,680.00,NaN,105000.0,NaN
153,2805.30.0020,2016,2016,United Kingdom,2000.00,NaN,60800.0,NaN
154,2805.30.0020,2015,2016,Other,200.00,r,8000.0,r
155,2805.30.0020,2016,2016,Other,500.00,NaN,21000.0,NaN
156,2805.30.0020,2015,2016,Total,4730.00,NaN,417000.0,NaN
157,2805.30.0020,2016,2016,Total,7170.00,NaN,327000.0,NaN
158,2805.30.0020,2015,2016,Total estimated REO equivalent,5520.00,r,NaN,NaN
159,2805.30.0020,2016,2016,Total estimated REO equivalent,8360.00,NaN,NaN,NaN
160,2805.30.0050,2015,2016,China,59200.00,NaN,857000.0,NaN
161,2805.30.0050,2016,2016,China,37500.00,NaN,865000.0,NaN
162,2805.30.0050,2015,2016,Other,2250.00,NaN,192000.0,NaN
163,2805.30.0050,2016,2016,Other,5950.00,NaN,490000.0,NaN
164,2805.30.0050,2015,2016,Total,61400.00,NaN,1050000.0,NaN
165,2805.30.0050,2016,2016,Total,43400.00,NaN,1360000.0,NaN
166,2805.30.0050,2015,2016,Total estimated REO equivalent,73700.00,NaN,NaN,NaN
167,2805.30.0050,2016,2016,Total estimated REO equivalent,52100.00,NaN,NaN,NaN
168,2805.30.0090,2015,2016,China,46200.00,NaN,378000.0,NaN
169,2805.30.0090,2016,2016,China,139000.00,NaN,673000.0,NaN
170,2805.30.0090,2015,2016,Japan,18800.00,NaN,519000.0,NaN
171,2805.30.0090,2016,2016,Japan,14100.00,NaN,327000.0,NaN
172,2805.30.0090,2015,2016,Other,9250.00,r,479000.0,r
173,2805.30.0090,2016,2016,Other,3560.00,NaN,313000.0,NaN
174,2805.30.0090,2015,2016,Total,74300.00,NaN,1380000.0,NaN
175,2805.30.0090,2016,2016,Total,157000.00,NaN,1310000.0,NaN
176,2805.30.0090,2015,2016,Total estimated REO equivalent,89100.00,NaN,NaN,NaN
177,2805.30.0090,2016,2016,Total estimated REO equivalent,188000.00,NaN,NaN,NaN
178,2846.10.0010,2014,2015,China,307000.00,NaN,1680000.0,NaN
179,2846.10.0010,2014,2015,Japan,309000.00,NaN,12300000.0,NaN
180,2846.10.0010,2014,2015,Other,73600.00,r,897000.0,r
181,2846.10.0010,2014,2015,Total,690000.00,NaN,14900000.0,NaN
182,2846.10.0010,2014,2015,Total estimated equivalent rare-earth oxide (REO) content,690000.00,NaN,NaN,NaN
183,2846.10.0050,2014,2015,Austria,101000.00,NaN,1500000.0,NaN
184,2846.10.0050,2014,2015,China,576000.00,NaN,2870000.0,NaN
185,2846.10.0050,2014,2015,Estonia,385000.00,NaN,1860000.0,NaN
186,2846.10.0050,2014,2015,Other,57000.00,NaN,3440000.0,r
187,2846.10.0050,2014,2015,Total,1120000.00,NaN,9670000.0,r
188,2846.10.0050,2014,2015,Total estimated equivalent REO content,749000.00,NaN,NaN,NaN
189,2846.90.8070,2014,2015,China,694000.00,NaN,4050000.0,NaN
190,2846.90.8070,2014,2015,Other,143000.00,r,760000.0,r
191,2846.90.8070,2014,2015,Total,837000.00,NaN,4810000.0,NaN
192,2846.90.8070,2014,2015,Total estimated equivalent REO content,573000.00,NaN,NaN,NaN
193,2846.90.8075,2014,2015,Estonia,38000.00,NaN,150000.0,NaN
194,2846.90.8075,2014,2015,Other,4930.00,r,491000.0,r
195,2846.90.8075,2014,2015,Total,42900.00,NaN,642000.0,NaN
196,2846.90.8075,2014,2015,Total estimated equivalent REO content,23600.00,NaN,NaN,NaN
197,2846.90.2082,2014,2015,China,5000.00,NaN,118000.0,NaN
198,2846.90.2082,2014,2015,Other,15.00,NaN,13500.0,NaN
199,2846.90.2082,2014,2015,Total,5020.00,NaN,131000.0,NaN
200,2846.90.2082,2014,2015,Total estimated equivalent REO content,1860.00,NaN,NaN,NaN
201,"2846.90.2080, 2846.90.2090, *3",2014,2015,China,131000.00,NaN,1220000.0,NaN
202,"2846.90.2080, 2846.90.2090, *3",2014,2015,France,22100.00,NaN,1010000.0,NaN
203,"2846.90.2080, 2846.90.2090, *3",2014,2015,Other,12600.00,NaN,1900000.0,NaN
204,"2846.90.2080, 2846.90.2090, *3",2014,2015,Total,165000.00,NaN,4130000.0,NaN
205,"2846.90.2080, 2846.90.2090, *3",2014,2015,Total estimated equivalent REO content,76100.00,NaN,NaN,NaN
206,2846.90.2084,2014,2015,China,46400.00,NaN,433000.0,NaN
207,2846.90.2084,2014,2015,France,14100.00,NaN,517000.0,NaN
208,2846.90.2084,2014,2015,Malaysia,0.00,NaN,0.0,NaN
209,2846.90.2084,2014,2015,Other,12700.00,r,804000.0,r
210,2846.90.2084,2014,2015,Total,73200.00,r,1750000.0,NaN
211,2846.90.2084,2014,2015,Total estimated equivalent REO content,40300.00,r,NaN,NaN
212,2846.90.2005,2014,2015,China,4280000.00,r,24000000.0,r
213,2846.90.2005,2014,2015,Other,311000.00,NaN,5250000.0,NaN
214,2846.90.2005,2014,2015,Total,4600000.00,NaN,29200000.0,r
215,2846.90.2005,2014,2015,Total estimated equivalent REO content,4600000.00,NaN,NaN,NaN
216,2846.90.2015,2014,2015,China,79.00,NaN,13000.0,NaN
217,2846.90.2015,2014,2015,Estonia,58100.00,NaN,401000.0,NaN
218,2846.90.2015,2014,2015,France,5860.00,NaN,662000.0,NaN
219,2846.90.2015,2014,2015,Other,4380.00,r,147000.0,NaN
220,2846.90.2015,2014,2015,Total,68500.00,NaN,1220000.0,NaN
221,2846.90.2015,2014,2015,Total estimated equivalent REO content,68500.00,NaN,NaN,NaN
222,"2846.90.8050, *3",2014,2015,China,162000.00,NaN,2150000.0,NaN
223,"2846.90.8050, *3",2014,2015,Other,16500.00,r,1230000.0,r
224,"2846.90.8050, *3",2014,2015,Total,178000.00,r,3380000.0,NaN
225,"2846.90.8050, *3",2014,2015,Total estimated equivalent REO content,178000.00,r,NaN,NaN
226,2846.90.2040,2014,2015,China,40500.00,NaN,1820000.0,NaN
227,2846.90.2040,2014,2015,Estonia,9970.00,NaN,904000.0,NaN
228,2846.90.2040,2014,2015,Germany,15300.00,NaN,2620000.0,NaN
229,2846.90.2040,2014,2015,Other,1010.00,NaN,304000.0,NaN
230,2846.90.2040,2014,2015,Total,66700.00,NaN,5650000.0,NaN
231,2846.90.2040,2014,2015,Total estimated equivalent REO content,66700.00,NaN,NaN,NaN
232,"2846.90.2045, *3",2014,2015,China,40800.00,NaN,1360000.0,NaN
233,"2846.90.2045, *3",2014,2015,Estonia,191000.00,NaN,1620000.0,NaN
234,"2846.90.2045, *3",2014,2015,Other,17700.00,NaN,2300000.0,NaN
235,"2846.90.2045, *3",2014,2015,Total,249000.00,NaN,5280000.0,NaN
236,"2846.90.2045, *3",2014,2015,Total estimated equivalent REO content,249000.00,NaN,NaN,NaN
237,2846.90.8090,2014,2015,China,4350000.00,NaN,40000000.0,NaN
238,2846.90.8090,2014,2015,Estonia,351000.00,NaN,140000.0,NaN
239,2846.90.8090,2014,2015,France,259000.00,NaN,4890000.0,NaN
240,2846.90.8090,2014,2015,Germany,191000.00,NaN,4410000.0,NaN
241,2846.90.8090,2014,2015,Malaysia,497000.00,NaN,2780000.0,NaN
242,2846.90.8090,2014,2015,Other,313000.00,r,17700000.0,r
243,2846.90.8090,2014,2015,Total,5960000.00,NaN,69900000.0,r
244,2846.90.8090,2014,2015,Total estimated equivalent REO content,3280000.00,NaN,NaN,NaN
245,2846.90.4000,2014,2015,China,152000.00,NaN,12400000.0,NaN
246,2846.90.4000,2014,2015,Japan,25400.00,NaN,11800000.0,NaN
247,2846.90.4000,2014,2015,Other,2700.00,r,897000.0,r
248,2846.90.4000,2014,2015,Total,180000.00,NaN,25100000.0,NaN
249,2846.90.4000,2014,2015,Total estimated equivalent REO content,108000.00,NaN,NaN,NaN
250,3606.90.3000,2014,2015,Austria,90900.00,NaN,974000.0,NaN
251,3606.90.3000,2014,2015,China,144000.00,NaN,2210000.0,NaN
252,3606.90.3000,2014,2015,France,174000.00,NaN,5100000.0,NaN
253,3606.90.3000,2014,2015,Other,9120.00,NaN,69400.0,
254,3606.90.3000,2014,2015,Total,418000.00,NaN,8350000.0,NaN
255,3606.90.3000,2014,2015,Total estimated equivalent REO content,371000.00,NaN,NaN,NaN
256,2805.30.0010,2014,2015,China,48500.00,NaN,407000.0,NaN
257,2805.30.0010,2014,2015,Hong Kong,53100.00,NaN,431000.0,NaN
258,2805.30.0010,2014,2015,Other,10300.00,NaN,109000.0,NaN
259,2805.30.0010,2014,2015,Total,112000.00,NaN,947000.0,NaN
260,2805.30.0010,2014,2015,Total estimated equivalent REO content,134000.00,NaN,NaN,NaN
261,2805.30.0005,2014,2015,China,48400.00,NaN,626000.0,NaN
262,2805.30.0005,2014,2015,Other,2280.00,NaN,42000.0,r
263,2805.30.0005,2014,2015,Total,50700.00,NaN,668000.0,r
264,2805.30.0005,2014,2015,Total estimated equivalent REO content,60800.00,NaN,NaN,NaN
265,2805.30.0020,2014,2015,China,802.00,NaN,149000.0,NaN
266,2805.30.0020,2014,2015,Thailand,1500.00,NaN,720000.0,NaN
267,2805.30.0020,2014,2015,United Kingdom,0.00,NaN,0.0,NaN
268,2805.30.0020,2014,2015,Other,0.00,NaN,0.0,NaN
269,2805.30.0020,2014,2015,Total,2300.00,NaN,869000.0,NaN
270,2805.30.0020,2014,2015,Total estimated equivalent REO content,2760.00,NaN,NaN,NaN
271,2805.30.0050,2014,2015,China,24200.00,NaN,616000.0,NaN
272,2805.30.0050,2014,2015,Other,940.00,NaN,157000.0,NaN
273,2805.30.0050,2014,2015,Total,25100.00,NaN,772000.0,NaN
274,2805.30.0050,2014,2015,Total estimated equivalent REO content,30100.00,NaN,NaN,NaN
275,2805.30.0090,2014,2015,Austria,11200.00,NaN,163000.0,NaN
276,2805.30.0090,2014,2015,China,79400.00,NaN,1490000.0,NaN
277,2805.30.0090,2014,2015,Japan,6380.00,NaN,170000.0,NaN
278,2805.30.0090,2014,2015,Other,3140.00,r,523000.0,r
279,2805.30.0090,2014,2015,Total,100000.00,NaN,2350000.0,NaN
280,2805.30.0090,2014,2015,Total estimated equivalent REO content,120000.00,NaN,NaN,NaN
281,2846.10.0000,2013,2014,Austria,73400.00,NaN,1780000.0,NaN
282,2846.10.0000,2013,2014,China,360000.00,NaN,2890000.0,NaN
283,2846.10.0000,2013,2014,Estonia,30200.00,NaN,416000.0,
284,2846.10.0000,2013,2014,Japan,77200.00,NaN,3580000.0,NaN
285,2846.10.0000,2013,2014,Other,57700.00,NaN,812000.0,NaN
286,2846.10.0000,2013,2014,Total,598000.00,NaN,9480000.0,NaN
287,2846.10.0000,2013,2014,Total estimated equivalent rare-earth oxide (REO) content,400000.00,NaN,NaN,NaN
288,2846.10.0010,2013,2014,Austria,105000.00,NaN,1360000.0,NaN
289,2846.10.0010,2013,2014,China,195000.00,NaN,1120000.0,NaN
290,2846.10.0010,2013,2014,Japan,88600.00,NaN,3600000.0,NaN
291,2846.10.0010,2013,2014,Other,28700.00,NaN,1340000.0,NaN
292,2846.10.0010,2013,2014,Total,417000.00,NaN,7410000.0,NaN
293,2846.10.0010,2013,2014,Total estimated equivalent (REO) content,417000.00,NaN,NaN,NaN
294,2846.10.0050,2013,2014,Austria,23200.00,NaN,428000.0,NaN
295,2846.10.0050,2013,2014,China,187000.00,NaN,1060000.0,NaN
296,2846.10.0050,2013,2014,Estonia,196000.00,NaN,900000.0,NaN
297,2846.10.0050,2013,2014,Other,25900.00,r,57000.0,r
298,2846.10.0050,2013,2014,Total,432000.00,NaN,2440000.0,r
299,2846.10.0050,2013,2014,Total estimated equivalent (REO) content,289000.00,NaN,NaN,NaN
300,2846.90.2015,2013,2014,Estonia,NaN,NaN,NaN,NaN
301,2846.90.2015,2013,2014,France,NaN,NaN,NaN,NaN
302,2846.90.2015,2013,2014,Other,NaN,NaN,NaN,NaN
303,2846.90.2015,2013,2014,Total,NaN,NaN,NaN,NaN
304,2846.90.2015,2013,2014,Total estimated equivalent (REO) content,NaN,NaN,NaN,NaN
305,2846.90.8050,2013,2014,China,46300.00,NaN,994000.0,NaN
306,2846.90.8050,2013,2014,Korea,9400.00,r,262000.0,r
307,2846.90.8050,2013,2014,Other,8300.00,r,733000.0,r
308,2846.90.8050,2013,2014,Total,63900.00,r,1990000.0,r
309,2846.90.8050,2013,2014,Total estimated equivalent (REO) content,63900.00,r,NaN,NaN

In [26]:
rare.loc[rare['country']=='Total', 'weight(kilogram)'].sum()

295776972.0

# Export hts_codes

In [27]:
# rare[['hts_code', 'year', 'country', 'weight(kilogram)', 'value(US dollar)']].to_csv(dir_tableau + 'hts_codes.tsv', sep='\t', index=False)

In [28]:
mat_0 = rare['hts_code']=='2846.90.8090'
mat_1 = rare['hts_code'] == '2846.90.4000'
mat_2 = rare['hts_code'] == '3606.90.3000'
mat_3 = rare['hts_code'] == '2846.90.8000'
mat_4 = rare['hts_code'] == '2846.90.8000, 2846.90.8090'
china = rare['country'].str.contains('China')

In [29]:
rare.head()

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0010,2015,2016,China,402000.0,NaN,1770000.0,NaN
1,2846.10.0010,2016,2016,China,801000.0,NaN,1770000.0,NaN
2,2846.10.0010,2015,2016,Japan,292000.0,NaN,13500000.0,NaN
3,2846.10.0010,2016,2016,Japan,332000.0,NaN,13100000.0,NaN
4,2846.10.0010,2015,2016,Other,35000.0,NaN,656000.0,NaN

In [30]:
idx_2016 = rare['year']==2016

In [31]:
rare_2016 = rare.loc[idx_2016].pivot(index='hts_code', columns='country', values='weight(kilogram)')
rare_2016.fillna(0, inplace=True)
rare_2016['china_rate'] = rare_2016['China'] / rare_2016['Total'] * 100
print(rare_2016.columns)

rare_2016

Index(['Austria', 'China', 'Estonia', 'France', 'Germany', 'Hong Kong',
       'Japan', 'Korea, Republic of', 'Malaysia', 'Other', 'Spain', 'Thailand',
       'Total', 'Total estimated REO equivalent',
       'Total estimated rare-earth-oxide (REO) equivalent', 'United Kingdom',
       'china_rate'],
      dtype='object', name='country')

country,Austria,China,Estonia,France,Germany,Hong Kong,Japan,"Korea, Republic of",Malaysia,Other,Spain,Thailand,Total,Total estimated REO equivalent,Total estimated rare-earth-oxide (REO) equivalent,United Kingdom,china_rate
hts_code,,,,,,,,,,,,,,,,,
2805.30.0005,0.0,43100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,352.0,0.0,0.0,43400.0,50900.0,0.0,0.0,99.308756
2805.30.0010,0.0,64700.0,0.0,0.0,0.0,20000.0,0.0,0.0,0.0,301.0,0.0,0.0,85000.0,104000.0,0.0,0.0,76.117647
2805.30.0020,0.0,4060.0,0.0,0.0,0.0,0.0,601.0,0.0,0.0,500.0,0.0,0.0,7170.0,8360.0,0.0,2000.0,56.624826
2805.30.0050,0.0,37500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5950.0,0.0,0.0,43400.0,52100.0,0.0,0.0,86.405530
2805.30.0090,0.0,139000.0,0.0,0.0,0.0,0.0,14100.0,0.0,0.0,3560.0,0.0,0.0,157000.0,188000.0,0.0,0.0,88.535032
2846.10.0010,0.0,801000.0,0.0,0.0,0.0,0.0,332000.0,0.0,0.0,18700.0,0.0,0.0,1150000.0,0.0,1150000.0,0.0,69.652174
2846.10.0050,0.0,424000.0,525000.0,0.0,0.0,0.0,0.0,0.0,0.0,68800.0,0.0,0.0,1020000.0,681000.0,0.0,0.0,41.568627
2846.90.2005,0.0,3320000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11300.0,0.0,0.0,3330000.0,3330000.0,0.0,0.0,99.699700
2846.90.2015,0.0,4000.0,0.0,0.0,0.0,0.0,0.0,3660.0,0.0,1690.0,0.0,0.0,9340.0,9340.0,0.0,0.0,42.826552
2846.90.2040,0.0,70700.0,0.0,0.0,2200.0,0.0,282.0,0.0,0.0,6510.0,0.0,0.0,79700.0,79700.0,0.0,0.0,88.707654
2846.90.2082,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0,0.0,1.0,0.0,0.0,110.0,40.7,0.0,0.0,0.000000
2846.90.2084,0.0,345000.0,80000.0,37100.0,0.0,0.0,0.0,0.0,0.0,4220.0,0.0,0.0,466000.0,256000.0,0.0,0.0,74.034335
2846.90.4000,0.0,114000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4140.0,0.0,0.0,118000.0,71000.0,0.0,0.0,96.610169
2846.90.8070,0.0,2330000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,2330000.0,1600000.0,0.0,0.0,100.000000
2846.90.8075,0.0,3450.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,3450.0,1900.0,0.0,0.0,100.000000
2846.90.8090,0.0,6010000.0,341000.0,644000.0,0.0,0.0,0.0,0.0,440000.0,401000.0,0.0,0.0,7830000.0,4310000.0,0.0,0.0,76.756066
3606.90.3000,51800.0,145000.0,0.0,27900.0,0.0,0.0,0.0,0.0,0.0,21400.0,55300.0,0.0,302000.0,268000.0,0.0,0.0,48.013245

In [32]:
summary_2016 = rare_2016.sum()
summary_2016 = summary_2016.to_frame().reset_index().rename(columns={0: 'sum'})
total_2016 = float(summary_2016.loc[summary_2016['country']=='Total', 'sum'])
summary_2016['rate'] = summary_2016['sum'] / total_2016 * 100
summary_2016
# total_2016

,country,sum,rate
0,Austria,5.180000e+04,0.305162
1,China,1.385551e+07,81.625102
2,Estonia,9.460000e+05,5.573042
3,France,7.090000e+05,4.176836
4,Germany,2.200000e+03,0.012961
5,Hong Kong,2.000000e+04,0.117823
6,Japan,3.469830e+05,2.044134
7,"Korea, Republic of",3.769000e+03,0.022204
8,Malaysia,4.400000e+05,2.592113
9,Other,5.484420e+05,3.230963
10,Spain,5.530000e+04,0.325781
11,Thailand,0.000000e+00,0.000000
12,Total,1.697457e+07,100.000000
13,Total estimated REO equivalent,1.101034e+07,64.863739
14,Total estimated rare-earth-oxide (REO) equivalent,1.150000e+06,6.774840
15,United Kingdom,2.000000e+03,0.011782
16,china_rate,1.244860e+03,0.007334

# Export summary

In [33]:
# summary_2016.to_csv(dir_tableau + '2016_summary.tsv', sep='\t', index=False)

In [34]:
# rare_2016[['China', 'Total', 'china_rate',]].reset_index().to_csv(dir_tableau + '2016_china_rate.tsv', sep='\t', index=False)
rare_2016[['China', 'Total', 'china_rate',]].reset_index()

country      hts_code      China      Total  china_rate
0        2805.30.0005  43100.0    43400.0    99.308756
1        2805.30.0010  64700.0    85000.0    76.117647
2        2805.30.0020  4060.0     7170.0     56.624826
3        2805.30.0050  37500.0    43400.0    86.405530
4        2805.30.0090  139000.0   157000.0   88.535032
5        2846.10.0010  801000.0   1150000.0  69.652174
6        2846.10.0050  424000.0   1020000.0  41.568627
7        2846.90.2005  3320000.0  3330000.0  99.699700
8        2846.90.2015  4000.0     9340.0     42.826552
9        2846.90.2040  70700.0    79700.0    88.707654
10       2846.90.2082  0.0        110.0      0.000000
11       2846.90.2084  345000.0   466000.0   74.034335
12       2846.90.4000  114000.0   118000.0   96.610169
13       2846.90.8070  2330000.0  2330000.0  100.000000
14       2846.90.8075  3450.0     3450.0     100.000000
15       2846.90.8090  6010000.0  7830000.0  76.756066
16       3606.90.3000  145000.0   302000.0   48.013245