In [3]:
import re

import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', None)

# Prepare

## Const

In [5]:
dir_item = '/home/jake/Documents/News_Item/'
dir_proj = dir_item + 'Rare_Earth/'
dir_tableau = dir_proj + 'tableau_data/'

file_2016 = 'myb1-2016-raree-adv.xlsm'
file_2015 = 'myb1-2015-raree.xlsm'

path_2016 = dir_proj + file_2016
path_2015 = dir_proj + file_2015

## Load

In [6]:
def load_and_prepare_import(path, sheet_name=5, header=5):
    tmp = pd.read_excel(path, sheet_name, header)
    tmp['does_number_exist'] = tmp.iloc[::, 2:].any(axis=1)
    tmp['does_indent_exist'] = ~tmp.iloc[::, 1].isna()
    tmp['is_country'] = tmp['does_number_exist'] & tmp['does_indent_exist']
    tmp['is_category'] = ~tmp['does_number_exist'] & tmp['does_indent_exist']
    tmp['is_note'] = ~tmp['does_number_exist'] & ~tmp['does_indent_exist']
    return tmp

tmp = load_and_prepare_import(path_2016)
tmp.head()

,Category2 and country or locality,Unnamed: 1,(kilograms),Unnamed: 3,Value,Unnamed: 5,(kilograms).1,Unnamed: 7,Value.1,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,does_number_exist,does_indent_exist,is_country,is_category,is_note
0,Compounds:,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
1,Cerium oxides (2846.10.0010):,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
2,China,2.0,402000,NaN,1770000,NaN,801000,NaN,1770000,NaN,NaN,NaN,NaN,True,True,True,False,False
3,Japan,2.0,292000,NaN,13500000,NaN,332000,NaN,13100000,NaN,NaN,NaN,NaN,True,True,True,False,False
4,Other,2.0,35000,NaN,656000,NaN,18700,NaN,723000,NaN,NaN,NaN,NaN,True,True,True,False,False

### 2015

In [8]:
tmp_2015 = load_and_prepare_import(path_2015)
tmp_2015

,Category2 and country,Unnamed: 1,(kilograms),Unnamed: 3,Value,Unnamed: 5,(kilograms).1,Unnamed: 7,Value.1,does_number_exist,does_indent_exist,is_country,is_category,is_note
0,Compounds:,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
1,Cerium oxides (2846.10.0010):,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
2,China,2.0,307000,NaN,1680000,NaN,402000,NaN,1770000,True,True,True,False,False
3,Japan,2.0,309000,NaN,12300000,NaN,292000,NaN,13500000,True,True,True,False,False
4,Other,2.0,73600,r,897000,r,35000,NaN,656000,True,True,True,False,False
5,Total,3.0,690000,NaN,14900000,NaN,730000,NaN,15900000,True,True,True,False,False
6,Total estimated equivalent rare-earth oxide (REO) content,3.0,690000,NaN,XX,NaN,730000,NaN,XX,True,True,True,False,False
7,"Cerium compounds, other than cerium oxide (2846.10.0050):",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
8,Austria,2.0,101000,NaN,1500000,NaN,46900,NaN,1040000,True,True,True,False,False
9,China,2.0,576000,NaN,2870000,NaN,302000,NaN,1490000,True,True,True,False,False
10,Estonia,NaN,385000,NaN,1860000,NaN,658000,NaN,2080000,True,False,False,False,False
11,Other,NaN,57000,NaN,3440000,r,58700,NaN,3840000,True,False,False,False,False
12,Total,NaN,1120000,NaN,9670000,r,1070000,NaN,8450000,True,False,False,False,False
13,Total estimated equivalent REO content,NaN,749000,NaN,XX,NaN,713000,NaN,XX,True,False,False,False,False
14,Other rare-earth compounds:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
15,Carbonates:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
16,Lanthanum carbonates mixtures (2846.90.8070):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
17,China,NaN,694000,NaN,4050000,NaN,755000,NaN,2220000,True,False,False,False,False
18,Other,NaN,143000,r,760000,r,212,NaN,26700,True,False,False,False,False
19,Total,NaN,837000,NaN,4810000,NaN,755000,NaN,2250000,True,False,False,False,False
20,Total estimated equivalent REO content,NaN,573000,NaN,XX,NaN,517000,NaN,XX,True,False,False,False,False
21,Other rare-earth carbonates mixtures (2846.90.8075):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
22,Estonia,NaN,38000,NaN,150000,NaN,38000,NaN,123000,True,False,False,False,False
23,Other,NaN,4930,r,491000,r,2570,NaN,167000,True,False,False,False,False
24,Total,NaN,42900,NaN,642000,NaN,40600,NaN,290000,True,False,False,False,False
25,Total estimated equivalent REO content,NaN,23600,NaN,XX,NaN,22300,NaN,XX,True,False,False,False,False
26,Chlorides:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
27,Scandium or yttrium chloride mixtures (2846.90.2082):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
28,China,NaN,5000,NaN,118000,NaN,7,NaN,5030,True,False,False,False,False
29,Other,NaN,15,NaN,13500,NaN,45,NaN,17400,True,False,False,False,False
30,Total,NaN,5020,NaN,131000,NaN,52,NaN,22400,True,False,False,False,False
31,Total estimated equivalent REO content,NaN,1860,NaN,XX,NaN,19.24,NaN,XX,True,False,False,False,False
32,"Unspecified chlorides and chloride mixtures (2846.90.2080,3",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
33,2846.90.20903):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
34,China,NaN,131000,NaN,1220000,NaN,XX,NaN,XX,True,False,False,False,False
35,France,NaN,22100,NaN,1010000,NaN,XX,NaN,XX,True,False,False,False,False
36,Other,NaN,12600,NaN,1900000,NaN,XX,NaN,XX,True,False,False,False,False
37,Total,NaN,165000,NaN,4130000,NaN,XX,NaN,XX,True,False,False,False,False
38,Total estimated equivalent REO content,NaN,76100,NaN,XX,NaN,XX,NaN,XX,True,False,False,False,False
39,Unspecified mixtures of chlorides (2846.90.2084):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
40,China,NaN,46400,NaN,433000,NaN,222000,NaN,1130000,True,False,False,False,False
41,France,NaN,14100,NaN,517000,NaN,37400,NaN,1320000,True,False,False,False,False
42,Malaysia,NaN,--,NaN,--,NaN,40000,NaN,103000,True,False,False,False,False
43,Other,NaN,12700,r,804000,r,20900,NaN,980000,True,False,False,False,False
44,Total,NaN,73200,r,1750000,NaN,320000,NaN,3530000,True,False,False,False,False
45,Total estimated equivalent REO content,NaN,40300,r,XX,NaN,176000,NaN,XX,True,False,False,False,False
46,Oxides:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
47,Lanthanum oxides (2846.90.2005):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
48,China,NaN,4280000,r,24000000,r,2960000,NaN,10700000,True,False,False,False,False
49,Other,NaN,311000,NaN,5250000,NaN,36600,NaN,723000,True,False,False,False,False
50,Total,NaN,4600000,NaN,29200000,r,3000000,NaN,11400000,True,False,False,False,False
51,Total estimated equivalent REO content,NaN,4600000,NaN,XX,NaN,3000000,NaN,XX,True,False,False,False,False
52,Scandium or yttrium oxides (2846.90.2015):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
53,China,NaN,79,NaN,13000,NaN,5560,NaN,102000,True,False,False,False,False
54,Estonia,NaN,58100,NaN,401000,NaN,20000,NaN,109000,True,False,False,False,False
55,France,NaN,5860,NaN,662000,NaN,4880,NaN,512000,True,False,False,False,False
56,Other,NaN,4380,r,147000,NaN,861,NaN,214000,True,False,False,False,False
57,See footnotes at end of table.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
58,TABLE 5—Continued,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
59,"U.S. IMPORTS FOR CONSUMPTION OF RARE EARTHS, BY COUNTRY1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
61,NaN,NaN,2014,NaN,NaN,NaN,2015,NaN,NaN,True,False,False,False,False
62,NaN,NaN,Gross weight,NaN,NaN,NaN,Gross weight,NaN,NaN,True,False,False,False,False
63,Category2 and country,NaN,(kilograms),NaN,Value,NaN,(kilograms),NaN,Value,True,False,False,False,False
64,Compounds—Continued:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
65,Other rare-earth compounds—Continued:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
66,Oxides—Continued:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
67,Scandium or yttrium oxides (2846.90.2015)—Continued:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
68,Total,NaN,68500,NaN,1220000,NaN,31300,NaN,937000,True,False,False,False,False
69,Total estimated equivalent REO content,NaN,68500,NaN,XX,NaN,31300,NaN,XX,True,False,False,False,False
70,Scandium or yttrium oxides mixtures (2846.90.80503):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
71,China,NaN,162000,NaN,2150000,NaN,XX,NaN,XX,True,False,False,False,False
72,Other,NaN,16500,r,1230000,r,XX,NaN,XX,True,False,False,False,False
73,Total,NaN,178000,r,3380000,NaN,XX,NaN,XX,True,False,False,False,False
74,Total estimated equivalent REO content,NaN,178000,r,XX,NaN,XX,NaN,XX,True,False,False,False,False
75,REOs except cerium oxide (2846.90.2040):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
76,China,NaN,40500,NaN,1820000,NaN,66900,NaN,3020000,True,False,False,False,False
77,Estonia,NaN,9970,NaN,904000,NaN,--,NaN,--,True,False,False,False,False
78,Germany,NaN,15300,NaN,2620000,NaN,16800,NaN,2990000,True,False,False,False,False
79,Other,NaN,1010,NaN,304000,NaN,11700,NaN,630000,True,False,False,False,False
80,Total,NaN,66700,NaN,5650000,NaN,95400,NaN,6650000,True,False,False,False,False
81,Total estimated equivalent REO content,NaN,66700,NaN,XX,NaN,95400,NaN,XX,True,False,False,False,False
82,REOs except cerium or lanthanum oxide (2846.90.20453):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
83,China,NaN,40800,NaN,1360000,NaN,XX,NaN,XX,True,False,False,False,False
84,Estonia,NaN,191000,NaN,1620000,NaN,XX,NaN,XX,True,False,False,False,False
85,Other,NaN,17700,NaN,2300000,NaN,XX,NaN,XX,True,False,False,False,False
86,Total,NaN,249000,NaN,5280000,NaN,XX,NaN,XX,True,False,False,False,False
87,Total estimated equivalent REO content,NaN,249000,NaN,XX,NaN,XX,NaN,XX,True,False,False,False,False
88,Other rare-earth compounds or mixtures:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
89,Unspecified compounds or mixtures (2846.90.8090):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
90,China,NaN,4350000,NaN,40000000,NaN,4670000,NaN,54700000,True,False,False,False,False
91,Estonia,NaN,351000,NaN,140000,NaN,154000,NaN,87200,True,False,False,False,False
92,France,NaN,259000,NaN,4890000,NaN,381000,NaN,7730000,True,False,False,False,False
93,Germany,NaN,191000,NaN,4410000,NaN,170000,NaN,3140000,True,False,False,False,False
94,Malaysia,NaN,497000,NaN,2780000,NaN,800000,NaN,2740000,True,False,False,False,False
95,Other,NaN,313000,r,17700000,r,796000,NaN,23800000,True,False,False,False,False
96,Total,NaN,5960000,NaN,69900000,r,6970000,NaN,92200000,True,False,False,False,False
97,Total estimated equivalent REO content,NaN,3280000,NaN,XX,NaN,3830000,NaN,XX,True,False,False,False,False
98,Yttrium materials and compounds content by weight greater than 19% but,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
99,less than 85% oxide equivalent (2846.90.4000):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
100,China,NaN,152000,NaN,12400000,NaN,75600,NaN,6160000,True,False,False,False,False
101,Japan,NaN,25400,NaN,11800000,NaN,7770,NaN,4410000,True,False,False,False,False
102,Other,NaN,2700,r,897000,r,649,NaN,857000,True,False,False,False,False
103,Total,NaN,180000,NaN,25100000,NaN,84000,NaN,11400000,True,False,False,False,False
104,Total estimated equivalent REO content,NaN,108000,NaN,XX,NaN,50400,NaN,XX,True,False,False,False,False
105,Metals:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
106,Ferrocerium and other pyrophoric alloys (3606.90.3000):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
107,Austria,NaN,90900,NaN,974000,NaN,39100,NaN,442000,True,False,False,False,False
108,China,NaN,144000,NaN,2210000,NaN,206000,NaN,2560000,True,False,False,False,False
109,France,NaN,174000,NaN,5100000,NaN,139000,NaN,3080000,True,False,False,False,False
110,Other,NaN,9120,NaN,69400,,16500,NaN,226000,True,False,False,False,False
111,Total,NaN,418000,NaN,8350000,NaN,401000,NaN,6310000,True,False,False,False,False
112,Total estimated equivalent REO content,NaN,371000,NaN,XX,NaN,356000,NaN,XX,True,False,False,False,False
113,Rare-earth metals and alloys:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
114,"Cerium, unalloyed (2805.30.0010):",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
115,China,NaN,48500,NaN,407000,NaN,97300,NaN,841000,True,False,False,False,False
116,Hong Kong,NaN,53100,NaN,431000,NaN,18500,NaN,129000,True,False,False,False,False
117,Other,NaN,10300,NaN,109000,NaN,1180,NaN,73500,True,False,False,False,False
118,Total,NaN,112000,NaN,947000,NaN,117000,NaN,1040000,True,False,False,False,False
119,Total estimated equivalent REO content,NaN,134000,NaN,XX,NaN,140000,NaN,XX,True,False,False,False,False
120,See footnotes at end of table.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
121,TABLE 5—Continued,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
122,"U.S. IMPORTS FOR CONSUMPTION OF RARE EARTHS, BY COUNTRY1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
124,NaN,NaN,2014,NaN,NaN,NaN,2015,NaN,NaN,True,False,False,False,False
125,NaN,NaN,Gross weight,NaN,NaN,NaN,Gross weight,NaN,NaN,True,False,False,False,False
126,Category2 and country,NaN,(kilograms),NaN,Value,NaN,(kilograms),NaN,Value,True,False,False,False,False
127,Metals—Continued:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
128,Rare-earth metals and alloys—Continued:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
129,"Lanthanum, unalloyed (2805.30.0005):",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
130,China,NaN,48400,NaN,626000,NaN,61900,NaN,464000,True,False,False,False,False
131,Other,NaN,2280,NaN,42000,r,--,NaN,--,True,False,False,False,False
132,Total,NaN,50700,NaN,668000,r,61900,NaN,464000,True,False,False,False,False
133,Total estimated equivalent REO content,NaN,60800,NaN,XX,NaN,74200,NaN,XX,True,False,False,False,False
134,"Neodymium, unalloyed (2805.30.0020):",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
135,China,NaN,802,NaN,149000,NaN,1940,NaN,223000,True,False,False,False,False
136,Thailand,NaN,1500,NaN,720000,NaN,1500,NaN,69000,True,False,False,False,False
137,United Kingdom,NaN,--,NaN,--,NaN,680,NaN,105000,True,False,False,False,False
138,Other,NaN,--,NaN,--,NaN,617,NaN,20400,True,False,False,False,False
139,Total,NaN,2300,NaN,869000,NaN,4730,NaN,417000,True,False,False,False,False
140,Total estimated equivalent REO content,NaN,2760,NaN,XX,NaN,5680,NaN,XX,True,False,False,False,False
141,"Other rare-earth metals, unalloyed (2805.30.0050):",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
142,China,NaN,24200,NaN,616000,NaN,59200,NaN,857000,True,False,False,False,False
143,Other,NaN,940,NaN,157000,NaN,2250,NaN,192000,True,False,False,False,False
144,Total,NaN,25100,NaN,772000,NaN,61400,NaN,1050000,True,False,False,False,False
145,Total estimated equivalent REO content,NaN,30100,NaN,XX,NaN,73700,NaN,XX,True,False,False,False,False
146,"Other rare-earth metals, alloys (2805.30.0090):",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
147,Austria,NaN,11200,NaN,163000,NaN,5100,NaN,36700,True,False,False,False,False
148,China,NaN,79400,NaN,1490000,NaN,46200,NaN,378000,True,False,False,False,False
149,Japan,NaN,6380,NaN,170000,NaN,18800,NaN,519000,True,False,False,False,False
150,Other,NaN,3140,r,523000,r,4150,NaN,443000,True,False,False,False,False
151,Total,NaN,100000,NaN,2350000,NaN,74300,NaN,1380000,True,False,False,False,False
152,Total estimated equivalent REO content,NaN,120000,NaN,XX,NaN,89100,NaN,XX,True,False,False,False,False
153,rRevised. XX Not applicable. -- Zero.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
154,1Data are rounded to no more than three significant digits; may not add to totals shown.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
155,2Harmonized Tariff Schedule of the United States code.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
156,"3Code was discontinued effective July 1, 2014.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
158,Source: U.S. Census Bureau.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True

## Prepare

In [39]:
notes = tmp.loc[tmp['is_note'], tmp.columns[0]]; notes

115    rRevised.  XX Not applicable.  -- Zero.
116    1Table includes data available through August 17, 2018. Data are rounded to no more than three significant digits; may not add to totals shown.
117    2Harmonized Tariff Schedule of the United States code.
118    NaN
119    Source: U.S. Census Bureau.
Name: Category2 and country or locality, dtype: object

In [6]:
tmp

,Category2 and country or locality,Unnamed: 1,(kilograms),Unnamed: 3,Value,Unnamed: 5,(kilograms).1,Unnamed: 7,Value.1,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,does_number_exist,does_indent_exist,is_country,is_category,is_note
0,Compounds:,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
1,Cerium oxides (2846.10.0010):,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
2,China,2.0,402000,NaN,1770000,NaN,801000,NaN,1770000,NaN,NaN,NaN,NaN,True,True,True,False,False
3,Japan,2.0,292000,NaN,13500000,NaN,332000,NaN,13100000,NaN,NaN,NaN,NaN,True,True,True,False,False
4,Other,2.0,35000,NaN,656000,NaN,18700,NaN,723000,NaN,NaN,NaN,NaN,True,True,True,False,False
5,Total,3.0,730000,NaN,15900000,NaN,1150000,NaN,15600000,NaN,NaN,NaN,NaN,True,True,True,False,False
6,Total estimated rare-earth-oxide (REO) equivalent,3.0,730000,NaN,XX,NaN,1150000,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
7,"Cerium compounds, other than cerium oxide (284...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
8,China,2.0,302000,NaN,1490000,NaN,424000,NaN,3600000,NaN,NaN,NaN,NaN,True,True,True,False,False
9,Estonia,2.0,658000,NaN,2080000,NaN,525000,NaN,888000,NaN,NaN,NaN,NaN,True,True,True,False,False
10,Other,2.0,105000,r,4850000,r,68800,NaN,1540000,NaN,NaN,NaN,NaN,True,True,True,False,False
11,Total,3.0,1060000,r,8420000,r,1020000,NaN,6030000,NaN,NaN,NaN,NaN,True,True,True,False,False
12,Total estimated REO equivalent,3.0,712000,r,XX,NaN,681000,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
13,Other rare-earth compounds:,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
14,Carbonates:,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
15,Lanthanum carbonates mixtures (2846.90.8070):,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
16,China,4.0,755000,NaN,2220000,NaN,2330000,NaN,4290000,NaN,NaN,NaN,NaN,True,True,True,False,False
17,Other,4.0,212,r,26700,r,14,NaN,38000,NaN,NaN,NaN,NaN,True,True,True,False,False
18,Total,5.0,755000,r,2250000,r,2330000,NaN,4330000,NaN,NaN,NaN,NaN,True,True,True,False,False
19,Total estimated REO equivalent,5.0,517000,r,XX,NaN,1600000,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
20,Other rare-earth carbonates mixtures (2846.90....,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
21,China,4.0,2400,NaN,127000,NaN,3450,NaN,172000,NaN,NaN,NaN,NaN,True,True,True,False,False
22,Estonia,4.0,38000,NaN,123000,NaN,--,NaN,--,NaN,NaN,NaN,NaN,True,True,True,False,False
23,Other,4.0,165,r,40800,r,4,NaN,21400,NaN,NaN,NaN,NaN,True,True,True,False,False
24,Total,5.0,40600,NaN,290000,NaN,3450,NaN,193000,NaN,NaN,NaN,NaN,True,True,True,False,False
25,Total estimated REO equivalent,5.0,22300,NaN,XX,NaN,1900,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
26,Chlorides:,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
27,Scandium or yttrium chloride mixtures (2846.90...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
28,"Korea, Republic of",4.0,37,NaN,9100,NaN,109,NaN,26000,NaN,NaN,NaN,NaN,True,True,True,False,False
29,Other,4.0,15,r,13300,r,1,NaN,5260,NaN,NaN,NaN,NaN,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Total estimated REO equivalent,4.0,144000,r,XX,NaN,104000,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
91,"Lanthanum, unalloyed (2805.30.0005):",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
92,China,3.0,61900,NaN,464000,NaN,43100,NaN,361000,NaN,NaN,NaN,NaN,True,True,True,False,False
93,Other,3.0,--,NaN,--,NaN,352,NaN,35000,NaN,NaN,NaN,NaN,True,True,True,False,False
94,Total,4.0,61900,NaN,464000,NaN,43400,NaN,396000,NaN,NaN,NaN,NaN,True,True,True,False,False
95,Total estimated REO equivalent,4.0,72600,NaN,XX,NaN,50900,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
96,"Neodymium, unalloyed (2805.30.0020):",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
97,China,3.0,1940,NaN,223000,NaN,4060,NaN,147000,NaN,NaN,NaN,NaN,True,True,True,False,False
98,Japan,3.0,417,NaN,12400,NaN,601,NaN,97400,NaN,NaN,NaN,NaN,True,True,True,False,False
99,Thailand,3.0,1500,NaN,69000,NaN,--,NaN,--,NaN,NaN,NaN,NaN,True,True,True,False,False
100,United Kingdom,3.0,680,NaN,105000,NaN,2000,NaN,60800,NaN,NaN,NaN,NaN,True,True,True,False,False
101,Other,3.0,200,r,8000,r,500,NaN,21000,NaN,NaN,NaN,NaN,True,True,True,False,False
102,Total,4.0,4730,NaN,417000,NaN,7170,NaN,327000,NaN,NaN,NaN,NaN,True,True,True,False,False
103,Total estimated REO equivalent,4.0,5520,r,XX,NaN,8360,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
104,"Other rare-earth metals, unalloyed (2805.30.00...",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
105,China,3.0,59200,NaN,857000,NaN,37500,NaN,865000,NaN,NaN,NaN,NaN,True,True,True,False,False
106,Other,3.0,2250,NaN,192000,NaN,5950,NaN,490000,NaN,NaN,NaN,NaN,True,True,True,False,False
107,Total,4.0,61400,NaN,1050000,NaN,43400,NaN,1360000,NaN,NaN,NaN,NaN,True,True,True,False,False
108,Total estimated REO equivalent,4.0,73700,NaN,XX,NaN,52100,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
109,"Other rare-earth metals, alloys (2805.30.0090):",2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,True,False,True,False
110,China,3.0,46200,NaN,378000,NaN,139000,NaN,673000,NaN,NaN,NaN,NaN,True,True,True,False,False
111,Japan,3.0,18800,NaN,519000,NaN,14100,NaN,327000,NaN,NaN,NaN,NaN,True,True,True,False,False
112,Other,3.0,9250,r,479000,r,3560,NaN,313000,NaN,NaN,NaN,NaN,True,True,True,False,False
113,Total,4.0,74300,NaN,1380000,NaN,157000,NaN,1310000,NaN,NaN,NaN,NaN,True,True,True,False,False
114,Total estimated REO equivalent,4.0,89100,NaN,XX,NaN,188000,NaN,XX,NaN,NaN,NaN,NaN,True,True,True,False,False
115,rRevised. XX Not applicable. -- Zero.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
116,1Table includes data available through August ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
117,2Harmonized Tariff Schedule of the United Stat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True
119,Source: U.S. Census Bureau.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,True

## get_rare

In [54]:
def get_rare(tmp, recorded_year=2016, max_indent=7):
    collection = []
    current_year = recorded_year
    previous_year = recorded_year - 1
    current_category = [''] * max_indent

    for idx, row in tmp.iterrows():
        if row['is_note']:
            continue
        indent = int(row[1])
        if row['is_category']:
            current_category[indent] = row[0]

        elif row['is_country']:
            for c in current_category[:indent]:
                obj = re.search(r'\(([\d\.,*]+)\)', c)
                if obj:
                    code = obj.group(1)
                    break
            else:
                code = ''

            previous_year_data = [code, previous_year, recorded_year, row[0]]  + row[2:6].to_list()
            current_year_data = [code, current_year, recorded_year, row[0]] + row[6:10].to_list()
            collection.append(previous_year_data)
            collection.append(current_year_data)

    rare = pd.DataFrame(columns=['hts_code', 'year', 'recorded_year', 'country', 'weight(kilogram)', 'weight_revised', 'value(US dollar)', 'value_revised'], data=collection)
    return rare


# rare_2016 = get_rare(tmp)
# rare_2016

,hts_code,year,recorded_year,country,weight(kilogram),weight_revised,value(US dollar),value_revised
0,2846.10.0010,2015,2016,China,402000,NaN,1770000,NaN
1,2846.10.0010,2016,2016,China,801000,NaN,1770000,NaN
2,2846.10.0010,2015,2016,Japan,292000,NaN,13500000,NaN
3,2846.10.0010,2016,2016,Japan,332000,NaN,13100000,NaN
4,2846.10.0010,2015,2016,Other,35000,NaN,656000,NaN
5,2846.10.0010,2016,2016,Other,18700,NaN,723000,NaN
6,2846.10.0010,2015,2016,Total,730000,NaN,15900000,NaN
7,2846.10.0010,2016,2016,Total,1150000,NaN,15600000,NaN
8,2846.10.0010,2015,2016,Total estimated rare-earth-oxide (REO) equivalent,730000,NaN,XX,NaN
9,2846.10.0010,2016,2016,Total estimated rare-earth-oxide (REO) equivalent,1150000,NaN,XX,NaN
10,2846.10.0050,2015,2016,China,302000,NaN,1490000,NaN
11,2846.10.0050,2016,2016,China,424000,NaN,3600000,NaN
12,2846.10.0050,2015,2016,Estonia,658000,NaN,2080000,NaN
13,2846.10.0050,2016,2016,Estonia,525000,NaN,888000,NaN
14,2846.10.0050,2015,2016,Other,105000,r,4850000,r
15,2846.10.0050,2016,2016,Other,68800,NaN,1540000,NaN
16,2846.10.0050,2015,2016,Total,1060000,r,8420000,r
17,2846.10.0050,2016,2016,Total,1020000,NaN,6030000,NaN
18,2846.10.0050,2015,2016,Total estimated REO equivalent,712000,r,XX,NaN
19,2846.10.0050,2016,2016,Total estimated REO equivalent,681000,NaN,XX,NaN
20,2846.90.8070,2015,2016,China,755000,NaN,2220000,NaN
21,2846.90.8070,2016,2016,China,2330000,NaN,4290000,NaN
22,2846.90.8070,2015,2016,Other,212,r,26700,r
23,2846.90.8070,2016,2016,Other,14,NaN,38000,NaN
24,2846.90.8070,2015,2016,Total,755000,r,2250000,r
25,2846.90.8070,2016,2016,Total,2330000,NaN,4330000,NaN
26,2846.90.8070,2015,2016,Total estimated REO equivalent,517000,r,XX,NaN
27,2846.90.8070,2016,2016,Total estimated REO equivalent,1600000,NaN,XX,NaN
28,2846.90.8075,2015,2016,China,2400,NaN,127000,NaN
29,2846.90.8075,2016,2016,China,3450,NaN,172000,NaN
30,2846.90.8075,2015,2016,Estonia,38000,NaN,123000,NaN
31,2846.90.8075,2016,2016,Estonia,--,NaN,--,NaN
32,2846.90.8075,2015,2016,Other,165,r,40800,r
33,2846.90.8075,2016,2016,Other,4,NaN,21400,NaN
34,2846.90.8075,2015,2016,Total,40600,NaN,290000,NaN
35,2846.90.8075,2016,2016,Total,3450,NaN,193000,NaN
36,2846.90.8075,2015,2016,Total estimated REO equivalent,22300,NaN,XX,NaN
37,2846.90.8075,2016,2016,Total estimated REO equivalent,1900,NaN,XX,NaN
38,2846.90.2082,2015,2016,"Korea, Republic of",37,NaN,9100,NaN
39,2846.90.2082,2016,2016,"Korea, Republic of",109,NaN,26000,NaN
40,2846.90.2082,2015,2016,Other,15,r,13300,r
41,2846.90.2082,2016,2016,Other,1,NaN,5260,NaN
42,2846.90.2082,2015,2016,Total,52,NaN,22400,NaN
43,2846.90.2082,2016,2016,Total,110,NaN,31300,NaN
44,2846.90.2082,2015,2016,Total estimated REO equivalent,19.24,NaN,XX,NaN
45,2846.90.2082,2016,2016,Total estimated REO equivalent,40.7,NaN,XX,NaN
46,2846.90.2084,2015,2016,China,222000,NaN,1130000,NaN
47,2846.90.2084,2016,2016,China,345000,NaN,946000,NaN
48,2846.90.2084,2015,2016,Estonia,20000,NaN,947000,NaN
49,2846.90.2084,2016,2016,Estonia,80000,NaN,140000,NaN
50,2846.90.2084,2015,2016,France,37400,NaN,1320000,NaN
51,2846.90.2084,2016,2016,France,37100,NaN,1170000,NaN
52,2846.90.2084,2015,2016,Other,40900,r,136000,r
53,2846.90.2084,2016,2016,Other,4220,NaN,192000,NaN
54,2846.90.2084,2015,2016,Total,320000,NaN,3530000,NaN
55,2846.90.2084,2016,2016,Total,466000,NaN,2450000,NaN
56,2846.90.2084,2015,2016,Total estimated REO equivalent,176000,NaN,XX,NaN
57,2846.90.2084,2016,2016,Total estimated REO equivalent,256000,NaN,XX,NaN
58,2846.90.2005,2015,2016,China,2960000,r,10700000,r
59,2846.90.2005,2016,2016,China,3320000,NaN,7370000,NaN
60,2846.90.2005,2015,2016,Other,36600,r,723000,r
61,2846.90.2005,2016,2016,Other,11300,NaN,56200,NaN
62,2846.90.2005,2015,2016,Total,3000000,r,11400000,r
63,2846.90.2005,2016,2016,Total,3330000,NaN,7430000,NaN
64,2846.90.2005,2015,2016,Total estimated REO equivalent,3000000,NaN,XX,NaN
65,2846.90.2005,2016,2016,Total estimated REO equivalent,3330000,NaN,XX,NaN
66,2846.90.2015,2015,2016,China,5560,NaN,102000,NaN
67,2846.90.2015,2016,2016,China,4000,NaN,221000,NaN
68,2846.90.2015,2015,2016,Estonia,20000,NaN,109000,NaN
69,2846.90.2015,2016,2016,Estonia,--,NaN,--,NaN
70,2846.90.2015,2015,2016,France,4880,NaN,512000,NaN
71,2846.90.2015,2016,2016,France,--,NaN,--,NaN
72,2846.90.2015,2015,2016,"Korea, Republic of",731,NaN,190000,NaN
73,2846.90.2015,2016,2016,"Korea, Republic of",3660,NaN,333000,NaN
74,2846.90.2015,2015,2016,Other,130,r,24400,r
75,2846.90.2015,2016,2016,Other,1690,NaN,105000,NaN
76,2846.90.2015,2015,2016,Total,31300,NaN,937000,NaN
77,2846.90.2015,2016,2016,Total,9340,NaN,659000,NaN
78,2846.90.2015,2015,2016,Total estimated REO equivalent,31300,NaN,XX,NaN
79,2846.90.2015,2016,2016,Total estimated REO equivalent,9340,NaN,XX,NaN
80,2846.90.2040,2015,2016,China,66900,NaN,3020000,NaN
81,2846.90.2040,2016,2016,China,70700,NaN,2860000,NaN
82,2846.90.2040,2015,2016,Germany,16800,NaN,2990000,NaN
83,2846.90.2040,2016,2016,Germany,2200,NaN,270000,NaN
84,2846.90.2040,2015,2016,Japan,4970,NaN,342000,NaN
85,2846.90.2040,2016,2016,Japan,282,NaN,66600,NaN
86,2846.90.2040,2015,2016,Other,6680,r,287000,r
87,2846.90.2040,2016,2016,Other,6510,NaN,228000,NaN
88,2846.90.2040,2015,2016,Total,95400,NaN,6650000,NaN
89,2846.90.2040,2016,2016,Total,79700,NaN,3420000,NaN
90,2846.90.2040,2015,2016,Total estimated REO equivalent,95400,NaN,XX,NaN
91,2846.90.2040,2016,2016,Total estimated REO equivalent,79700,NaN,XX,NaN
92,2846.90.8090,2015,2016,China,4670000,NaN,54800000,r
93,2846.90.8090,2016,2016,China,6010000,NaN,31800000,NaN
94,2846.90.8090,2015,2016,Estonia,297000,r,1870000,r
95,2846.90.8090,2016,2016,Estonia,341000,NaN,717000,NaN
96,2846.90.8090,2015,2016,France,381000,NaN,7730000,NaN
97,2846.90.8090,2016,2016,France,644000,NaN,14500000,NaN
98,2846.90.8090,2015,2016,Malaysia,800000,NaN,2740000,NaN
99,2846.90.8090,2016,2016,Malaysia,440000,NaN,820000,NaN
100,2846.90.8090,2015,2016,Other,823000,r,25200000,r
101,2846.90.8090,2016,2016,Other,401000,NaN,17100000,NaN
102,2846.90.8090,2015,2016,Total,6970000,NaN,92300000,r
103,2846.90.8090,2016,2016,Total,7830000,NaN,64900000,NaN
104,2846.90.8090,2015,2016,Total estimated REO equivalent,3830000,NaN,XX,NaN
105,2846.90.8090,2016,2016,Total estimated REO equivalent,4310000,NaN,XX,NaN
106,2846.90.4000,2015,2016,China,75600,NaN,6160000,NaN
107,2846.90.4000,2016,2016,China,114000,NaN,2900000,NaN
108,2846.90.4000,2015,2016,Other,8420,r,5260000,r
109,2846.90.4000,2016,2016,Other,4140,NaN,1720000,NaN
110,2846.90.4000,2015,2016,Total,84000,NaN,11400000,NaN
111,2846.90.4000,2016,2016,Total,118000,NaN,4620000,NaN
112,2846.90.4000,2015,2016,Total estimated REO equivalent,50400,NaN,XX,NaN
113,2846.90.4000,2016,2016,Total estimated REO equivalent,71000,NaN,XX,NaN
114,3606.90.3000,2015,2016,Austria,39100,NaN,444000,r
115,3606.90.3000,2016,2016,Austria,51800,NaN,525000,NaN
116,3606.90.3000,2015,2016,China,206000,NaN,2560000,NaN
117,3606.90.3000,2016,2016,China,145000,NaN,1900000,NaN
118,3606.90.3000,2015,2016,France,139000,NaN,3080000,NaN
119,3606.90.3000,2016,2016,France,27900,NaN,609000,NaN
120,3606.90.3000,2015,2016,Spain,6730,NaN,139000,NaN
121,3606.90.3000,2016,2016,Spain,55300,NaN,1170000,NaN
122,3606.90.3000,2015,2016,Other,9790,r,87000,r
123,3606.90.3000,2016,2016,Other,21400,NaN,163000,NaN
124,3606.90.3000,2015,2016,Total,401000,NaN,6310000,NaN
125,3606.90.3000,2016,2016,Total,302000,NaN,4360000,NaN
126,3606.90.3000,2015,2016,Total estimated REO equivalent,356000,NaN,XX,NaN
127,3606.90.3000,2016,2016,Total estimated REO equivalent,268000,NaN,XX,NaN
128,2805.30.0010,2015,2016,China,97300,NaN,841000,NaN
129,2805.30.0010,2016,2016,China,64700,NaN,370000,NaN
130,2805.30.0010,2015,2016,Hong Kong,18500,NaN,129000,NaN
131,2805.30.0010,2016,2016,Hong Kong,20000,NaN,78600,NaN
132,2805.30.0010,2015,2016,Other,1180,NaN,73500,NaN
133,2805.30.0010,2016,2016,Other,301,NaN,17800,NaN
134,2805.30.0010,2015,2016,Total,117000,NaN,1040000,NaN
135,2805.30.0010,2016,2016,Total,85000,NaN,467000,NaN
136,2805.30.0010,2015,2016,Total estimated REO equivalent,144000,r,XX,NaN
137,2805.30.0010,2016,2016,Total estimated REO equivalent,104000,NaN,XX,NaN
138,2805.30.0005,2015,2016,China,61900,NaN,464000,NaN
139,2805.30.0005,2016,2016,China,43100,NaN,361000,NaN
140,2805.30.0005,2015,2016,Other,--,NaN,--,NaN
141,2805.30.0005,2016,2016,Other,352,NaN,35000,NaN
142,2805.30.0005,2015,2016,Total,61900,NaN,464000,NaN
143,2805.30.0005,2016,2016,Total,43400,NaN,396000,NaN
144,2805.30.0005,2015,2016,Total estimated REO equivalent,72600,NaN,XX,NaN
145,2805.30.0005,2016,2016,Total estimated REO equivalent,50900,NaN,XX,NaN
146,2805.30.0020,2015,2016,China,1940,NaN,223000,NaN
147,2805.30.0020,2016,2016,China,4060,NaN,147000,NaN
148,2805.30.0020,2015,2016,Japan,417,NaN,12400,NaN
149,2805.30.0020,2016,2016,Japan,601,NaN,97400,NaN
150,2805.30.0020,2015,2016,Thailand,1500,NaN,69000,NaN
151,2805.30.0020,2016,2016,Thailand,--,NaN,--,NaN
152,2805.30.0020,2015,2016,United Kingdom,680,NaN,105000,NaN
153,2805.30.0020,2016,2016,United Kingdom,2000,NaN,60800,NaN
154,2805.30.0020,2015,2016,Other,200,r,8000,r
155,2805.30.0020,2016,2016,Other,500,NaN,21000,NaN
156,2805.30.0020,2015,2016,Total,4730,NaN,417000,NaN
157,2805.30.0020,2016,2016,Total,7170,NaN,327000,NaN
158,2805.30.0020,2015,2016,Total estimated REO equivalent,5520,r,XX,NaN
159,2805.30.0020,2016,2016,Total estimated REO equivalent,8360,NaN,XX,NaN
160,2805.30.0050,2015,2016,China,59200,NaN,857000,NaN
161,2805.30.0050,2016,2016,China,37500,NaN,865000,NaN
162,2805.30.0050,2015,2016,Other,2250,NaN,192000,NaN
163,2805.30.0050,2016,2016,Other,5950,NaN,490000,NaN
164,2805.30.0050,2015,2016,Total,61400,NaN,1050000,NaN
165,2805.30.0050,2016,2016,Total,43400,NaN,1360000,NaN
166,2805.30.0050,2015,2016,Total estimated REO equivalent,73700,NaN,XX,NaN
167,2805.30.0050,2016,2016,Total estimated REO equivalent,52100,NaN,XX,NaN
168,2805.30.0090,2015,2016,China,46200,NaN,378000,NaN
169,2805.30.0090,2016,2016,China,139000,NaN,673000,NaN
170,2805.30.0090,2015,2016,Japan,18800,NaN,519000,NaN
171,2805.30.0090,2016,2016,Japan,14100,NaN,327000,NaN
172,2805.30.0090,2015,2016,Other,9250,r,479000,r
173,2805.30.0090,2016,2016,Other,3560,NaN,313000,NaN
174,2805.30.0090,2015,2016,Total,74300,NaN,1380000,NaN
175,2805.30.0090,2016,2016,Total,157000,NaN,1310000,NaN
176,2805.30.0090,2015,2016,Total estimated REO equivalent,89100,NaN,XX,NaN
177,2805.30.0090,2016,2016,Total estimated REO equivalent,188000,NaN,XX,NaN

In [38]:
_ih[-100:]

['',
 "import re\n\nimport pandas as pd\n\npd.set_option('display.max_rows', None)\npd.set_option('display.max_colwidth', -1)\npd.set_option('display.max_columns', None)",
 "dir_item = '/home/jake/Documents/News_Item/'\ndir_proj = dir_item + 'Rare_Earth/'\ndir_tableau = dir_proj + 'tableau_data/'\n\nrares = {}\n\nyears = range(2002, 2017)\nfiles = [f'rareemyb{str(y)[-2:]}.xlsm' if y < 2006 else f'myb1-{y}-raree.xlsm' if y < 2016 else f'myb1-{y}-raree-adv.xlsm' for y in years]\npaths = dict(zip(years, [dir_proj + f for f in files]))\n\npaths",
 "def load_and_prepare_import(path, sheet_name=5, header=5):\n    if ('myb03' in path) or ('myb02' in path):\n        sheet_name = 4\n    tmp = pd.read_excel(path, sheet_name, header)\n#     tmp = tmp.iloc[::, :10]\n    tmp['does_number_exist'] = tmp.iloc[::, 2:].any(axis=1)\n    tmp['does_indent_exist'] = ~tmp.iloc[::, 1].isna()\n    tmp['is_country'] = tmp['does_number_exist'] & tmp['does_indent_exist']\n    tmp['is_category'] = ~tmp['does_number_exist'] & tmp['does_indent_exist']\n    tmp['is_note'] = ~tmp['does_number_exist'] & ~tmp['does_indent_exist']\n    return tmp\n\n# tmp = load_and_prepare_import(path_2016)\n# tmp.head()",
 "# notes = tmp.loc[tmp['is_note'], tmp.columns[0]]; notes",
 "def get_rare(tmp, recorded_year, max_indent=7):\n    collection = []\n    current_year = recorded_year\n    previous_year = recorded_year - 1\n    current_category = [''] * max_indent\n\n    for idx, row in tmp.iterrows():\n        if row['is_note']:\n            continue\n        indent = int(row[1])\n        if row['is_category']:\n            current_category[indent] = row[0]\n\n        elif row['is_country']:\n            if 'Total' in row[0]:\n                start = indent - 1\n            else:\n                start = indent\n            for c in reversed(current_category[:start]):\n                obj = re.search(r'\\(([\\d\\.,\\s\\*]+)\\)', c)\n                if obj:\n                    code = obj.group(1)\n                    break\n            else:\n                code = ''\n\n            previous_year_data = [code, previous_year, recorded_year, row[0]]  + row[2:6].to_list()\n            current_year_data = [code, current_year, recorded_year, row[0]] + row[6:10].to_list()\n            collection.append(previous_year_data)\n            collection.append(current_year_data)\n\n    \n    rare = pd.DataFrame(columns=['hts_code', 'year', 'recorded_year', 'country', 'weight(kilogram)', 'weight_revised', 'value(US dollar)', 'value_revised'], data=collection)\n    return rare\n\n\n# rare_2016 = get_rare(tmp)\n# rare_2016",
 'def get_rare_or_tmp(year, debug=False):\n    tmp = load_and_prepare_import(paths[year])\n    if debug:\n        return tmp\n\n    return get_rare(tmp, year)',
 'year = 2016\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2015\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2014\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2013\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2012\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2011\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2010\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2009\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2008\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2007\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2006\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2005\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2004\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2003\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2002\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 '# tmp_rare = rare_2016.append(rare_2015)\n# tmp_rare = tmp_rare.append(rare_2014)\n# tmp_rare = tmp_rare.append(rare_2013)\n# tmp_rare = tmp_rare.append(rare_2012)\n# tmp_rare.head()\ntmp_rare = pd.DataFrame()\nfor k, v in rares.items():\n    tmp_rare = tmp_rare.append(v)\ntmp_rare.shape',
 "import numpy as np\nrare = tmp_rare.loc[(tmp_rare['recorded_year']==2016) | (tmp_rare['recorded_year'] > tmp_rare['year'])]\nrare.replace('--', 0, inplace=True)\nrare.replace('XX', np.nan, inplace=True)\nrare['country'] = rare['country'].apply(lambda x: x.strip())\n# rare.applymap(lambda x: x.strip())\nrare.reset_index(inplace=True, drop=True)\nrare.head()",
 "rare['hts_code'].value_counts()",
 'rare',
 "rare.loc[rare['country']=='Total', 'weight(kilogram)'].sum()",
 "# rare[['hts_code', 'year', 'country', 'weight(kilogram)', 'value(US dollar)']].to_csv(dir_tableau + 'hts_codes.tsv', sep='\\t', index=False)",
 "mat_0 = rare['hts_code']=='2846.90.8090'\nmat_1 = rare['hts_code'] == '2846.90.4000'\nmat_2 = rare['hts_code'] == '3606.90.3000'\nmat_3 = rare['hts_code'] == '2846.90.8000'\nmat_4 = rare['hts_code'] == '2846.90.8000, 2846.90.8090'\nchina = rare['country'].str.contains('China')",
 'rare.head()',
 "idx_2016 = rare['year']==2016",
 "rare_2016 = rare.loc[idx_2016].pivot(index='hts_code', columns='country', values='weight(kilogram)')\nrare_2016.fillna(0, inplace=True)\nrare_2016['china_rate'] = rare_2016['China'] / rare_2016['Total'] * 100\nprint(rare_2016.columns)\n\nrare_2016",
 "summary_2016 = rare_2016.sum()\nsummary_2016 = summary_2016.to_frame().reset_index().rename(columns={0: 'sum'})\ntotal_2016 = float(summary_2016.loc[summary_2016['country']=='Total', 'sum'])\nsummary_2016['rate'] = summary_2016['sum'] / total_2016 * 100\nsummary_2016\n# total_2016",
 "# summary_2016.to_csv(dir_tableau + '2016_summary.tsv', sep='\\t', index=False)",
 "# rare_2016[['China', 'Total', 'china_rate',]].reset_index().to_csv(dir_tableau + '2016_china_rate.tsv', sep='\\t', index=False)\nrare_2016[['China', 'Total', 'china_rate',]].reset_index()",
 "rare['hts_code'].value_counts().sum()",
 "rare['hts_code'].value_counts().count()",
 '_ih[-5:]',
 '_ih[-100:]']

In [42]:
_ih[:700]

['',
 "import re\n\nimport pandas as pd\n\npd.set_option('display.max_rows', None)\npd.set_option('display.max_colwidth', -1)\npd.set_option('display.max_columns', None)",
 "dir_item = '/home/jake/Documents/News_Item/'\ndir_proj = dir_item + 'Rare_Earth/'\ndir_tableau = dir_proj + 'tableau_data/'\n\nrares = {}\n\nyears = range(2002, 2017)\nfiles = [f'rareemyb{str(y)[-2:]}.xlsm' if y < 2006 else f'myb1-{y}-raree.xlsm' if y < 2016 else f'myb1-{y}-raree-adv.xlsm' for y in years]\npaths = dict(zip(years, [dir_proj + f for f in files]))\n\npaths",
 "def load_and_prepare_import(path, sheet_name=5, header=5):\n    if ('myb03' in path) or ('myb02' in path):\n        sheet_name = 4\n    tmp = pd.read_excel(path, sheet_name, header)\n#     tmp = tmp.iloc[::, :10]\n    tmp['does_number_exist'] = tmp.iloc[::, 2:].any(axis=1)\n    tmp['does_indent_exist'] = ~tmp.iloc[::, 1].isna()\n    tmp['is_country'] = tmp['does_number_exist'] & tmp['does_indent_exist']\n    tmp['is_category'] = ~tmp['does_number_exist'] & tmp['does_indent_exist']\n    tmp['is_note'] = ~tmp['does_number_exist'] & ~tmp['does_indent_exist']\n    return tmp\n\n# tmp = load_and_prepare_import(path_2016)\n# tmp.head()",
 "# notes = tmp.loc[tmp['is_note'], tmp.columns[0]]; notes",
 "def get_rare(tmp, recorded_year, max_indent=7):\n    collection = []\n    current_year = recorded_year\n    previous_year = recorded_year - 1\n    current_category = [''] * max_indent\n\n    for idx, row in tmp.iterrows():\n        if row['is_note']:\n            continue\n        indent = int(row[1])\n        if row['is_category']:\n            current_category[indent] = row[0]\n\n        elif row['is_country']:\n            if 'Total' in row[0]:\n                start = indent - 1\n            else:\n                start = indent\n            for c in reversed(current_category[:start]):\n                obj = re.search(r'\\(([\\d\\.,\\s\\*]+)\\)', c)\n                if obj:\n                    code = obj.group(1)\n                    break\n            else:\n                code = ''\n\n            previous_year_data = [code, previous_year, recorded_year, row[0]]  + row[2:6].to_list()\n            current_year_data = [code, current_year, recorded_year, row[0]] + row[6:10].to_list()\n            collection.append(previous_year_data)\n            collection.append(current_year_data)\n\n    \n    rare = pd.DataFrame(columns=['hts_code', 'year', 'recorded_year', 'country', 'weight(kilogram)', 'weight_revised', 'value(US dollar)', 'value_revised'], data=collection)\n    return rare\n\n\n# rare_2016 = get_rare(tmp)\n# rare_2016",
 'def get_rare_or_tmp(year, debug=False):\n    tmp = load_and_prepare_import(paths[year])\n    if debug:\n        return tmp\n\n    return get_rare(tmp, year)',
 'year = 2016\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2015\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2014\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2013\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2012\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2011\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2010\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2009\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2008\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2007\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2006\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2005\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2004\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2003\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 'year = 2002\nrares[year] = get_rare_or_tmp(year)\nrares[year]',
 '# tmp_rare = rare_2016.append(rare_2015)\n# tmp_rare = tmp_rare.append(rare_2014)\n# tmp_rare = tmp_rare.append(rare_2013)\n# tmp_rare = tmp_rare.append(rare_2012)\n# tmp_rare.head()\ntmp_rare = pd.DataFrame()\nfor k, v in rares.items():\n    tmp_rare = tmp_rare.append(v)\ntmp_rare.shape',
 "import numpy as np\nrare = tmp_rare.loc[(tmp_rare['recorded_year']==2016) | (tmp_rare['recorded_year'] > tmp_rare['year'])]\nrare.replace('--', 0, inplace=True)\nrare.replace('XX', np.nan, inplace=True)\nrare['country'] = rare['country'].apply(lambda x: x.strip())\n# rare.applymap(lambda x: x.strip())\nrare.reset_index(inplace=True, drop=True)\nrare.head()",
 "rare['hts_code'].value_counts()",
 'rare',
 "rare.loc[rare['country']=='Total', 'weight(kilogram)'].sum()",
 "# rare[['hts_code', 'year', 'country', 'weight(kilogram)', 'value(US dollar)']].to_csv(dir_tableau + 'hts_codes.tsv', sep='\\t', index=False)",
 "mat_0 = rare['hts_code']=='2846.90.8090'\nmat_1 = rare['hts_code'] == '2846.90.4000'\nmat_2 = rare['hts_code'] == '3606.90.3000'\nmat_3 = rare['hts_code'] == '2846.90.8000'\nmat_4 = rare['hts_code'] == '2846.90.8000, 2846.90.8090'\nchina = rare['country'].str.contains('China')",
 'rare.head()',
 "idx_2016 = rare['year']==2016",
 "rare_2016 = rare.loc[idx_2016].pivot(index='hts_code', columns='country', values='weight(kilogram)')\nrare_2016.fillna(0, inplace=True)\nrare_2016['china_rate'] = rare_2016['China'] / rare_2016['Total'] * 100\nprint(rare_2016.columns)\n\nrare_2016",
 "summary_2016 = rare_2016.sum()\nsummary_2016 = summary_2016.to_frame().reset_index().rename(columns={0: 'sum'})\ntotal_2016 = float(summary_2016.loc[summary_2016['country']=='Total', 'sum'])\nsummary_2016['rate'] = summary_2016['sum'] / total_2016 * 100\nsummary_2016\n# total_2016",
 "# summary_2016.to_csv(dir_tableau + '2016_summary.tsv', sep='\\t', index=False)",
 "# rare_2016[['China', 'Total', 'china_rate',]].reset_index().to_csv(dir_tableau + '2016_china_rate.tsv', sep='\\t', index=False)\nrare_2016[['China', 'Total', 'china_rate',]].reset_index()",
 "rare['hts_code'].value_counts().sum()",
 "rare['hts_code'].value_counts().count()",
 '_ih[-5:]',
 '_ih[-100:]',
 '_ih[-10:]',
 '_ih[:10]',
 '_ih[:30]',
 '_ih[:700]']