In [3]:
import pandas as pd

from src.common import eprint
from src.common import SEOUL_GU
from src.common import get_df_from_excel
from src.club import dir_item, dir_proj, dir_tableau
from src.club import file_excels, file_tsvs, file_gu
from src.club import convert_excel_to_tsv
from src.club import add_gu_and_export

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', None)

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
idx = 2

In [4]:
df = pd.read_csv(dir_proj + file_tsvs[idx], sep='\t')
print(df.shape)
df.head()

(96864, 47)

/home/jake/.virtualenvs/workspace/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,번호,개방서비스명,개방서비스ID,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지전화,소재지면적,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명,남성종사자수,여성종사자수,영업장주변구분명,등급구분명,급수시설구분명,총종업원수,본사종업원수,공장사무직종업원수,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,1,휴게음식점,07_24_05_P,3000000,3000000-104-1998-09983,19980615,NaN,3,폐업,2,폐업,19980629.0,NaN,NaN,NaN,02 7430901,NaN,110370.0,서울특별시 종로구 묘동 177-1번지,NaN,NaN,샤넬커피숍,20011231000000,I,2018-08-31 23:59:59.0,과자점,199173.743267,452220.544369,과자점,NaN,1.0,기타,기타,상수도전용,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,64.52,NaN,NaN,NaN
1,2,휴게음식점,07_24_05_P,3000000,3000000-104-1998-09984,19980615,NaN,3,폐업,2,폐업,19990901.0,NaN,NaN,NaN,02 7225019,NaN,110300.0,서울특별시 종로구 관훈동 2-2번지,NaN,NaN,옛찻집,20010929000000,I,2018-08-31 23:59:59.0,다방,198722.372834,452368.493790,다방,NaN,NaN,기타,자율,상수도전용,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,38.00,NaN,NaN,NaN
2,3,휴게음식점,07_24_05_P,3000000,3000000-104-1998-08873,19980626,NaN,3,폐업,2,폐업,20000321.0,NaN,NaN,NaN,0207372162,NaN,110034.0,서울특별시 종로구 창성동 156-0번지,NaN,NaN,르네쌍스베이커리,20010929000000,I,2018-08-31 23:59:59.0,과자점,197405.910532,453198.934696,과자점,1.0,2.0,주택가주변,자율,상수도전용,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,74.12,NaN,NaN,NaN
3,4,휴게음식점,07_24_05_P,3000000,3000000-104-1998-08933,19980701,NaN,3,폐업,2,폐업,20020121.0,NaN,NaN,NaN,02 7226565,NaN,110111.0,서울특별시 종로구 관철동 252-1번지,NaN,NaN,던킨도너츠광교점,20011120000000,I,2018-08-31 23:59:59.0,과자점,198502.872320,451859.966106,과자점,NaN,NaN,유흥업소밀집지역,기타,상수도전용,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,31.32,NaN,NaN,NaN
4,5,휴게음식점,07_24_05_P,3000000,3000000-104-2003-00032,20030425,NaN,3,폐업,2,폐업,20040226.0,NaN,NaN,NaN,NaN,NaN,110053.0,서울특별시 종로구 내자동 21-1번지 1층,NaN,NaN,칠리도그와도너츠,20030428000000,I,2018-08-31 23:59:59.0,과자점,197379.970714,452663.981772,과자점,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,20.10,NaN,NaN,NaN

In [8]:
add_gu_and_export(df, dir_proj + file_tsvs[idx])

---

---

---

---

In [22]:
df.loc[(df['소재지전체주소'].isna())&(df['도로명전체주소'].isna())]

Empty DataFrame
Columns: [번호, 개방서비스명, 개방서비스ID, 개방자치단체코드, 관리번호, 인허가일자, 인허가취소일자, 영업상태구분코드, 영업상태명, 상세영업상태코드, 상세영업상태명, 폐업일자, 휴업시작일자, 휴업종료일자, 재개업일자, 소재지전화, 소재지면적, 소재지우편번호, 소재지전체주소, 도로명전체주소, 도로명우편번호, 사업장명, 최종수정시점, 데이터갱신구분, 데이터갱신일자, 업태구분명, 좌표정보(X), 좌표정보(Y), 위생업태명, 남성종사자수, 여성종사자수, 영업장주변구분명, 등급구분명, 급수시설구분명, 총종업원수, 본사종업원수, 공장사무직종업원수, 공장판매직종업원수, 공장생산직종업원수, 건물소유구분명, 보증액, 월세액, 다중이용업소여부, 시설총규모, 전통업소지정번호, 전통업소주된음식, 홈페이지]
Index: []

In [16]:
df['소재지전체주소'].isna().sum()

313

In [15]:
df['도로명전체주소'].isna().sum()

251092

In [10]:
df['업태구분명'].value_counts()

한식                 185390
분식                 76876
경양식                44675
호프/통닭              32029
기타                 21791
일식                 15377
중국식                13199
정종/대포집/소주방         12476
통닭(치킨)             9642
까페                 7961
패스트푸드              3944
뷔페식                2663
김밥(도시락)            1351
회집                 1252
식육(숯불구이)           1105
외국음식전문점(인도,태국등)    1001
전통찻집               832
탕류(보신용)            402
출장조리               331
감성주점               247
라이브카페              186
패밀리레스트랑            120
복어취급               106
이동조리               102
냉면집                69
키즈카페               63
??                 8
일반조리판매             5
커피숍                4
다방                 3
기타 휴게음식점           2
룸살롱                2
간이주점               1
???                1
식품등 수입판매업          1
식품제조가공업            1
제과점영업              1
??/??              1
도매업(유통)            1
식품소분업              1
Name: 업태구분명, dtype: int64

In [7]:
eprint(df.columns.tolist())

0 번호
1 개방서비스명
2 개방서비스ID
3 개방자치단체코드
4 관리번호
5 인허가일자
6 인허가취소일자
7 영업상태구분코드
8 영업상태명
9 상세영업상태코드
10 상세영업상태명
11 폐업일자
12 휴업시작일자
13 휴업종료일자
14 재개업일자
15 소재지전화
16 소재지면적
17 소재지우편번호
18 소재지전체주소
19 도로명전체주소
20 도로명우편번호
21 사업장명
22 최종수정시점
23 데이터갱신구분
24 데이터갱신일자
25 업태구분명
26 좌표정보(X)
27 좌표정보(Y)
28 위생업태명
29 남성종사자수
30 여성종사자수
31 영업장주변구분명
32 등급구분명
33 급수시설구분명
34 총종업원수
35 본사종업원수
36 공장사무직종업원수
37 공장판매직종업원수
38 공장생산직종업원수
39 건물소유구분명
40 보증액
41 월세액
42 다중이용업소여부
43 시설총규모
44 전통업소지정번호
45 전통업소주된음식
46 홈페이지

In [8]:
df['상세영업상태명'].value_counts()

폐업    313312
영업    119918
??    10
Name: 상세영업상태명, dtype: int64

In [9]:
df['영업상태명'].value_counts()

폐업       313312
영업/정상    119928
Name: 영업상태명, dtype: int64